.map {
  width: 100%;
  height: 670px;
  margin-bottom: 35px;
}

@media (max-width: 1200px) {
  .map {
    height: 570px;
  }
}

@media (max-width: 768px) {
  .map {
    height: 470px;
  }
}

.map__item {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .map__item {
    border-radius: 10px;
  }
}

.balloon {
  position: relative;
  min-height: 270px;
  width: 250px;
  background-color: #e5e5e5;
  border-radius: 16px;
  overflow: hidden;
}

.balloon::after {
  position: absolute;
  content: "";
  background-image: url("../img/map/balloon-tile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.balloon__close {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.balloon__image-wrapper {
  width: 100%;
  height: 120px;
}

.balloon__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.balloon__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-size: 12px;
  padding: 16px 30px 16px 16px;
}

.balloon__title {
  font-size: 16px;
  font-weight: 700;
}

.balloon__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.balloon__desc-title {
  color: rgba(0, 0, 0, 0.5);
}

.balloon__desc-text {
  font-weight: 600;
}

.balloon__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}

.balloon__address img {
  display: inline-block;
}

[class*="copyrights-pane"],
[class*="ymaps-2-1-79-float-button"] {
  display: none !important;
}

[class*="ymaps-2-1-79-balloon"] {
  border-radius: 20px;
}
