template.balloon-template
  article.balloon
    .balloon__wrapper
      button.balloon__close
        svg(fill="#000" width="8" height="8")
          use(href='./assets/img/sprite.svg#cross')
      .balloon__image-wrapper
        img.balloon__image(src='' alt='img')
      .balloon__content
        p.balloon__title
        .balloon__desc
          p.balloon__desc-title
          p.balloon__desc-text
        .balloon__address
          img(src='./assets/img/map/ballon-location.svg')
          .balloon__address-text

        a(href="##").button.balloon__button Подробнее
