.what-to-do
  .container
    h2.what-to-do__title Что делать в городе?

    .what-to-do__nav.what-to-do-nav

      .what-to-do-nav__item.nav-item-eat(data-type="eat")
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#eat')
        span.what-to-do-nav__name Еда

      .what-to-do-nav__item.nav-item-hotel(data-type="hotel")
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#hotel')
        span.what-to-do-nav__name Отели

      .what-to-do-nav__item.nav-item-route(data-type="route")
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#route')
        span.what-to-do-nav__name Маршруты

      .what-to-do-nav__item.nav-item-place(data-type="place")
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#place')
        span.what-to-do-nav__name Места

      .what-to-do-nav__item.nav-item-event(data-type="event")
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#event')
        span.what-to-do-nav__name События

    include ../_items/map/map
    .what-to-do__new-events.new-events
      h3.new-events__title Новые мероприятия
      .new-events__list.grid--3col
        include ../_items/new-event-item/new-event-item
        include ../_items/new-event-item/new-event-item
        include ../_items/new-event-item/new-event-item
