.what-to-do
  .container
    h2.what-to-do__title Что делать в городе?
    .what-to-do__nav.what-to-do-nav

      .js-active-mark.what-to-do-nav__item.nav-item-eat
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#eat')
        span.what-to-do-nav__name Еда

      .what-to-do-nav__item.nav-item-hotel
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#hotel')
        span.what-to-do-nav__name Отели

      .what-to-do-nav__item.nav-item-route
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#route')
        span.what-to-do-nav__name Маршруты

      .what-to-do-nav__item.nav-item-place
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#place')
        span.what-to-do-nav__name Места

      .what-to-do-nav__item.nav-item-event
        svg.what-to-do-nav__icon(width="50" height="50" fill='#D8DAD1')
          use(href='assets/img/sprite.svg#event')
        span.what-to-do-nav__name События

    include ../_items/map/map
    .what-to-do__new-events.new-events
      h3.new-events__title Новые мероприятия
      .new-events__list.grid--3col

        a.new-events__item.new-events-item(href="/")
          img(src="./assets/img/what-to-do/01.jpg" alt="image")
          .new-events-item__content
            p.new-events-item__title 10 лучших ресторанов Дилижана
            p.new-events-item__text После насыщенного дня и осмотра достопримечательностей Дилижана

        a.new-events__item.new-events-item(href="/")
          img(src="./assets/img/what-to-do/02.jpg" alt="image")
          .new-events-item__content
            p.new-events-item__title Искусство плюс вино — в Амфитеатре Дилижана
            p.new-events-item__text Организация Eventtоura организовала красочное мероприятие в самом

        a.new-events__item.new-events-item(href="/")
          img(src="./assets/img/what-to-do/01.jpg" alt="image")
          .new-events-item__content
            p.new-events-item__title Достопримечательности Дилижана
            p.new-events-item__text Дилижан расположен на северо-востоке Армянского нагорья.
