.important-info
  .container.important-info__container
    .important-info__content
      h1#main.important-info__title Важная информация
      p.important-info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores corporis culpa cupiditate ducimus, eos eum explicabo fuga ipsam itaque, iusto magni nobis placeat quam sapiente sint sunt voluptas!
      p.important-info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores corporis culpa cupiditate ducimus, eos eum explicabo fuga ipsam itaque, iusto magni nobis placeat quam sapiente sint sunt voluptas!
      p.important-info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores corporis culpa cupiditate ducimus, eos eum explicabo fuga ipsam itaque, iusto magni nobis placeat quam sapiente sint sunt voluptas!

      .important-info__lists#list
        ul.important-info__list.important-info__list-1
          li.important-info__item
            span Lorem ipsum dolor
          li.important-info__item
            span Corporis culpa cupiditate
          li.important-info__item
            span Lorem ipsum dolor
          li.important-info__item
            span Corporis culpa cupiditate

        ol.important-info__list.important-info__list-2
          li.important-info__item
            span Lorem ipsum dolor
          li.important-info__item
            span Corporis culpa cupiditate
          li.important-info__item
            span Lorem ipsum dolor
          li.important-info__item
            span Corporis culpa cupiditate

      hr.important-info__line

      .important-info__images#photo
        .important-info__image-wrapper
          img.important-info__image(src='/assets/img/about/about-1.jpg' alt='img')
        .important-info__image-wrapper
          img.important-info__image(src='/assets/img/about/about-2.jpg' alt='img')
        .important-info__image-wrapper
          img.important-info__image(src='/assets/img/about/about-2.jpg' alt='img')



    .important-info__nav.important-info-nav
      ul.important-info-nav__list
        li.important-info-nav__item
          a.important-info-nav__link(href="#main") Основная информация
        li.important-info-nav__item
          a.important-info-nav__link(href="#list") Список
        li.important-info-nav__item
          a.important-info-nav__link(href="#photo") Фото

