.important-info
  .container.important-info__container
    .important-info__content
      h1#main Важная информация
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores corporis culpa cupiditate ducimus, eos eum explicabo fuga ipsam itaque, iusto magni nobis placeat quam sapiente sint sunt voluptas!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores corporis culpa cupiditate ducimus, eos eum explicabo fuga ipsam itaque, iusto magni nobis placeat quam sapiente sint sunt voluptas!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores corporis culpa cupiditate ducimus, eos eum explicabo fuga ipsam itaque, iusto magni nobis placeat quam sapiente sint sunt voluptas!

      ul#list
        li
          span Lorem ipsum dolor
        li
          span Corporis culpa cupiditate
        li
          span Lorem ipsum dolor
        li
          span Corporis culpa cupiditate

      ol
        li
          span Lorem ipsum dolor
        li
          span Corporis culpa cupiditate
        li
          span Lorem ipsum dolor
        li
          span Corporis culpa cupiditate

      hr

      .important-info__image-wrapper#photo
        img(src='/assets/img/about/about-1.jpg' alt='img')

    .important-info__nav.important-info-nav
      ul.important-info-nav__list
        li.important-info-nav__item
          a.important-info-nav__link(href="#main") Основная информация
        li.important-info-nav__item
          a.important-info-nav__link(href="#list") Список
        li.important-info-nav__item
          a.important-info-nav__link(href="#photo") Фото

