a.new-events-item(href="/")
  .new-events-item__image
    img(src="./assets/img/what-to-do/01.jpg" alt="image")
  .new-events-item__content
    p.new-events-item__title 10 лучших ресторанов Дилижана
    p.new-events-item__text После насыщенного дня и осмотра достопримечательностей Дилижана
