a.new-events-item(href="events-item.html")
  .new-events-item__image
    img(src="./assets/img/what-to-do/01.jpg" alt="image")
  .new-events-item__content
    p.new-events-item__title 10 лучших ресторанов Дилижана
    p.new-events-item__text После насыщенного дня и осмотра достопримечательностей Дилижана

a.new-events-item(href="/")
  .new-events-item__image
    img(src="./assets/img/what-to-do/02.jpg" alt="image")
  .new-events-item__content
    p.new-events-item__title Искусство плюс вино — в Амфитеатре Дилижана
    p.new-events-item__text Организация Eventtоura организовала красочное мероприятие в самом

a.new-events-item(href="/")
  .new-events-item__image
    img(src="./assets/img/what-to-do/01.jpg" alt="image")
  .new-events-item__content
    p.new-events-item__title Достопримечательности Дилижана
    p.new-events-item__text Дилижан расположен на северо-востоке Армянского нагорья.

