.article-grid
  .container
    h1
    ul.article-grid__list

      li.article-grid__card
        a.article-grid__card-link(href="" style="background-image: url('');")
         .article-grid__card-content
           h2.article-grid__card-title
           span.article-grid__card-subtitle


