a.tour-item(href='/')
  .tour-item__body
    .tour-item__image-wrapper
      img(src='./assets/img/events/01.jpg' alt='event-image')
    .tour-item__text-content
      h4 Фестиваль красного вина
      p.tour-item__text Почти у каждого популярного продукта есть свой памятный день. В этом плане больше всего повезло вину – у него есть собственные праздники для
      p.tour-item__options
        span
          |Длительность:
          b 10 дней
        span
          | Расстояние:
          b 528 км

