.swiper-slide
  a.tour-card(href='/')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='./assets/img/events/01.jpg' alt='event-image')
        .tour-card__icons
          img(src='./assets/img/icon-card-decor.svg' alt='icon')
          img(src='./assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Классический тур по Армении и Грузии
        p.tour-card__text Великий шелковый путь не обходил средневековую Армению. Авторский тур Рубена Овсепяна, одного
        p.tour-card__options
          span.tour-card__option
            | Длительность:
            b.tour-card__options-value 10 дней
          span.tour-card__option
            | Расстояние:
            b.tour-card__options-value 528 км

.swiper-slide
  a.tour-card(href='/')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='./assets/img/events/02.jpg' alt='event-image')
        .tour-card__icons
          img(src='./assets/img/icon-card-decor.svg' alt='icon')
          img(src='./assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Поход за грибами в Дилижанский лес и готовка с шефом
        p.tour-card__text Великий шелковый путь не обходил средневековую Армению. Авторский тур Рубена Овсепяна, одного
        p.tour-card__options
          span.tour-card__option
            | Длительность:
            b.tour-card__options-value 8 дней
          span.tour-card__option
            | Расстояние:
            b.tour-card__options-value 80 км

.swiper-slide
  a.tour-card(href='/')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='./assets/img/events/03.jpg' alt='event-image')
        .tour-card__icons
          img(src='./assets/img/icon-card-decor.svg' alt='icon')
          img(src='./assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Классический тур по Армении и Грузии
        p.tour-card__text Великий шелковый путь не обходил средневековую Армению. Авторский тур Рубена Овсепяна, одного
        p.tour-card__options
          span.tour-card__option
            | Длительность:
            b.tour-card__options-value 10 дней
          span.tour-card__option
            | Расстояние:
            b.tour-card__options-value 528 км

.swiper-slide
  a.tour-card(href='/')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='./assets/img/events/01.jpg' alt='event-image')
        .tour-card__icons
          img(src='./assets/img/icon-card-decor.svg' alt='icon')
          img(src='./assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Поход за грибами в Дилижанский лес и готовка с шефом
        p.tour-card__text Великий шелковый путь не обходил средневековую Армению. Авторский тур Рубена Овсепяна, одного
        p.tour-card__options
          span.tour-card__option
            | Длительность:
            b.tour-card__options-value 8 дней
          span.tour-card__option
            | Расстояние:
            b.tour-card__options-value 80 км





