.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-1.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-1_tmb.jpg' alt='Variant 1')
        .tour-card__icons
          //img(src='/assets/img/icon-card-decor.svg' alt='icon')
          img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Walking city tour
        p.tour-card__text Walking city tour of the local history museum, art gallery and master classes in linocut or weaving
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value 1,5 hour
          span.tour-card__option
            | Price:
            b.tour-card__options-value 28&nbsp;000 amd
          span.tour-card__option.tour-card__option_style_secondary The price includes guide services, entrance tickets to the museum, and master classes

.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-2.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-2_tmb.jpg' alt='Variant 2')
        .tour-card__icons
          //img(src='/assets/img/icon-card-decor.svg' alt='icon')
          img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Visit Haghartsin Monastery, Lake Parz, Hike to the "Hidden Waterfall"
        p.tour-card__text Visit to Haghartsin monastery, master class on making Armenian gata, hike to the “Hidden Waterfall”, visit to Lake Parz and visit to the center for the restoration of the Caucasian red deer
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value 3-5 hour
          span.tour-card__option
            | Price:
            b.tour-card__options-value 55&nbsp;000 amd
          span.tour-card__option.tour-card__option_style_secondary The price includes transportation, services of a guide, guide, entrance tickets to the reindeer recovery center, a master class on making gata

.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-3.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-3_tmb.jpg' alt='Variant 3')
        .tour-card__icons
          //img(src='/assets/img/icon-card-decor.svg' alt='icon')
          img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Visiting Goshavank monastery and jeeping to Gosh lake
        p.tour-card__text Visit to Goshavank monastery, jeep to Gosh lake, visit to Aghavnavank monastery (jeep)
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value 4 hour
          span.tour-card__option
            | Price:
            b.tour-card__options-value 65&nbsp;000 amd
          span.tour-card__option
            | Additionally, lunch at the gastro yard:
            b.tour-card__options-value  7&nbsp;000 amd/human
          span.tour-card__option.tour-card__option_style_secondary The price includes guide services, transfer throughout the route, an off-road car that will take you to Lake Gosh and Haghavnavank

.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-4.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-4_tmb.jpg' alt='Variant 4')
        .tour-card__icons
          //img(src='/assets/img/icon-card-decor.svg' alt='icon')
          img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Visit Dilijan Community Center
        p.tour-card__text Dilijan Community Center, TUMO Dilijan, UWC DIlijan, Central Bank of Armenia and Money Museum
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value 5 hour
          span.tour-card__option
            | Price:
            b.tour-card__options-value 10&nbsp;000 amd
          span.tour-card__option.tour-card__option_style_secondary The price includes the services of an escort, transfer

.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-5.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-5_tmb.jpg' alt='Variant 5')
        .tour-card__icons
          img(src='/assets/img/icon-card-decor.svg' alt='icon')
          //img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Jeeping to Abejakar stone
        p.tour-card__text Jeeping to Abejakar rock, horseback riding in the mountains with great views, you can also add lunch in the mountains
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value 2-5 hour
          span.tour-card__option
            | Price:
            b.tour-card__options-value 20&nbsp;000 amd per human
          span.tour-card__option
            | Optional lunch:
            b.tour-card__options-value 10&nbsp;000 amd per human
          span.tour-card__option.tour-card__option_style_secondary The price includes guide services, entrance tickets to the museum, and master classes

.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-6.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-6_tmb.jpg' alt='Variant 5')
        .tour-card__icons
          img(src='/assets/img/icon-card-decor.svg' alt='icon')
          //img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Jeeping to Sartsapata mountains, Dimats and Shagot waterfall
        p.tour-card__text Sartsapata mountains, Dimats, Shagot waterfall, a cave with year-round snow – the tour is carried out by jeep
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value 5 hour
          span.tour-card__option
            | Price:
            b.tour-card__options-value 60&nbsp;000 amd
          span.tour-card__option
            | Optional lunch:
            b.tour-card__options-value 12&nbsp;000 amd per human
          span.tour-card__option.tour-card__option_style_secondary The price includes transfer along the entire route by jeep, guide services, lunch in the mountains

.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-7.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-7_tmb.jpg' alt='Variant 5')
        .tour-card__icons
          img(src='/assets/img/icon-card-decor.svg' alt='icon')
          //img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Excursion to Kari lake and Hovk village
        p.tour-card__text One of the most popular choices among our guests. People come here to do whatever they want. Well-developed infrastructure on site allows you to spend an unforgettable time
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value 4-9 hour
          span.tour-card__option
            | Price:
            b.tour-card__options-value 60&nbsp;000 amd
          span.tour-card__option.tour-card__option_style_secondary The price includes a transfer, and a full package of services on the lake (fishing, boating, lunch. The lake will be at your disposal until the evening and you can do whatever you want, the owner of the lake will personally be with you throughout the day)

.swiper-slide
  a.tour-card(href='/en/acquaintance/variant-8.html')
    .tour-card__body
      .tour-card__image-wrapper
        img.tour-card__image(src='/assets/img/tours/variant-8_tmb.jpg' alt='Variant 5')
        .tour-card__icons
          img(src='/assets/img/icon-card-decor.svg' alt='icon')
          //img(src='/assets/img/icon-card-decor-02.svg' alt='icon')
      .tour-card__text-content
        h4.tour-card__title Development of an individual hiking plan based on your personal wishes and possibilities
        p.tour-card__text The hike can be like an hour walk in two directions, and for the whole day. We have experience in organizing trips with children from four years old.
        p.tour-card__options
          span.tour-card__option
            | Duration:
            b.tour-card__options-value individually
          span.tour-card__option
            | Price:
            b.tour-card__options-value individually
