.places-inner-hero.grid.container
  .places-inner-hero__container
    h1.places-inner-hero__title Техут
    p.places-inner-hero__subtitle На перекрестке Дилижана и Иджевана
    .places-inner-hero__image
      img(src="./assets/img/06.jpeg" alt="Техут")
    .places-inner-hero__content
      p.places-inner-hero__text Техут – небольшое село в Тавушской области в нескольких километрах на северо-восток от Дилижана, расположенное на левом берегу реки Агстев.  Техутская община была основана в 1925 г. переселенцами из с. Джархеч (ныне Агарцин), а 5 ноября 1993 г. Техут стал самостоятельным селом, отделившись от Агарцина.
      p.places-inner-hero__text Это интересный узел для путешественников, так как село находится на живописной дороге Дилижан-Иджеван, а недалеко от него находятся монастыри Агарцин и Джухтак, озеро Парз – одни из главных достопримечательностей Тавушской области.
      p.places-inner-hero__text Техут окружен преимущественно лесистыми горами.
      .place-card-content__values
        .place-card-content__value
          svg(width="18" height="33" fill="#8CB110")
            use(href='assets/img/sprite.svg#icon-height')
          p.place-card-content__value-text
            | Высота над уровнем моря:
            b 1550 м.
        .place-card-content__value
          svg(width="18" height="37" fill="#CCDB9A")
            use(href='assets/img/sprite.svg#icon-temp')
          p.place-card-content__value-text
            | Средняя температура летом:
            b +19, +25 C, зимой: -2, -7 C.
