.tour-item
  background-color: var(--c-light-green)
  &__conteiner
    padding: 0 0 180px
    width: 100%
    grid-template-areas: 'bc map''title map''nav map''slider map''advantages map''parameters map''text map'
    @media (max-width: 1200px)
      padding: 0 50px 150px
      grid-template-columns: 1fr
      grid-template-areas: 'bc''title''map''slider''advantages''parameters''text'
    @media (max-width: 768px)
      padding: 0 20px 130px


  .breadcrumbs
    grid-area: bc
    grid-column: 2 / span 4
    @media (max-width: 1200px)
      grid-column: 1 / -1

  &__title
    grid-area: title
    margin-bottom: 30px
    grid-column: 2 / span 4
    font-weight: 500
    font-size: clamp(30px, calc(30px + (60 - 30) * ((100vw - 768px) / (1920 - 768))), 60px)
    @media (max-width: 1200px)
      grid-column: 1 / -1

  &__nav
    grid-area: nav
    display: flex
    justify-content: end
    grid-column: 2 / span 4
    @media (max-width: 1200px)
      display: none

  &__slider
    grid-area: slider
    grid-column: 1 / span 6
    width: 100%
    overflow: hidden
    @media (max-width: 1200px)
      grid-column: 1 / -1
      overflow: initial

    .swiper-wrapper
      height: auto
      margin-top: 20px

  .swiper-slide
    display: flex
    a
      position: relative
      display: flex
      @extend .flex-center
    a::after
      @extend .hover-image
      display: none
    a:hover::after
      display: flex
      @media (max-width: 768px)
        display: none
    &-prev,
    &-next
      opacity: 0.3
    @media (max-width: 768px)
      opacity: 1

  &__image
    height: 100%
    width: 100%
    object-fit: cover
    border-radius: 16px
    aspect-ratio: 52 / 35
    cursor: pointer
    @media (max-width: 768px)
      aspect-ratio: initial
      border-radius: 10px

  .swiper-pagination
    @media (min-width: 1200px)
      display: none

  &-advantages
    grid-area: advantages
    grid-column: 2 / span 4
    display: flex
    flex-wrap: wrap
    margin-top: 47px
    gap: 20px
    @media (max-width: 1200px)
      grid-column: 1 / -1
      margin-top: 20px
    @media (max-width: 768px)
      margin-top: 10px

  &-advantages__item
    display: flex
    @extend .flex-center
    gap: 16px
    background-color: #fff
    border-radius: 16px
    padding: 20px
    width: 250px
    @media (max-width: 768px)
      width: 210px
      padding: 15px

  &-advantages__icon
    display: flex
    @extend .flex-center
    width: 40px
    height: 40px
    background-color: var(--c-green)
    border-radius: 50%
    padding: 10px
    @media (max-width: 768px)
      width: 32px
      height: 32px
      padding: 8px
      & svg
        width: 16px
        height: 14.5px

  &-advantages__text
    color: rgba($black, 0.5)
    font-size: 14px
    line-height: 1.4
    @media (max-width: 768px)
      font-size: 12px

  &-parameters
    grid-area: parameters
    grid-column: 2 / span 4
    display: flex
    flex-direction: column
    gap: 10px
    margin-top: 18px
    @media (max-width: 1200px)
      grid-column: 1 / -1

  &-parameters__item
    display: flex
    gap: 12px

    & span:first-child
      color: rgba($black, 0.5)
    & span:nth-child(2)
      color: var(--c-green)

  &__text
    grid-area: text
    grid-column: 2 / span 5
    margin-top: 47px
    font-size: 18px
    line-height: 1.5
    @media (max-width: 1200px)
      grid-column: 1 / -1
    @media (max-width: 768px)
      margin-top: 10px
      font-size: 14px

  &__text p
    color: rgba($black, 0.75)

  &__text p:not(:last-child)
    margin-bottom: 14px



  // ----map------
  &__map-wrapper
    grid-area: map
    grid-column: 7 / -1
    height: 100%
    @media (max-width: 1200px)
      grid-column: 1 / -1

  &__map-sticky
    position: sticky
    top: 0
    width: 100%
    height: 900px
    overflow: hidden
    border-radius: 0 0 5px 5px
    @media (max-width: 1400px)
      height: 750px
    @media (max-width: 1200px)
      height: 600px
      position: initial
      border-radius: 5px
    @media (max-width: 768px)
      height: 470px

  .tour-item__map
    overflow: hidden
    width: 100%
    height: 100%
