.swiper-slide
  a.other-places-card(href='/')
    .other-places-card__body
      .other-places-card__image-wrapper
        img(src='./assets/img/places/01.jpg' alt='event-image')
      .other-places-card__text-content
        h4.other-places-card__title Село Агарцин
        p.other-places-card__text  Агарцин – село в Тавушской области, в 11 км к северо-востоку Дилижана, на левом берегу реки Агстев. Рядом, в 2 км к западу, находится село Техут,
        span.other-places-card__link
          | Подробнее
          svg(width='12.5' height='12.5' fill='#8CB110' stroke='#8CB110')
            use(href='assets/img/sprite.svg#arrow-link')

.swiper-slide
  a.other-places-card(href='/')
    .other-places-card__body
      .other-places-card__image-wrapper
        img(src='./assets/img/places/02.jpg' alt='event-image')
      .other-places-card__text-content
        h4.other-places-card__title Село Гош
        p.other-places-card__text  Агарцин – село в Тавушской области, в 11 км к северо-востоку Дилижана, на левом берегу реки Агстев. Рядом, в 2 км к западу, находится село Техут,
        span.other-places-card__link
          | Подробнее
          svg(width='12.5' height='12.5' fill='#8CB110' stroke='#8CB110')
            use(href='assets/img/sprite.svg#arrow-link')


.swiper-slide
  a.other-places-card(href='/')
    .other-places-card__body
      .other-places-card__image-wrapper
        img(src='./assets/img/places/03.jpg' alt='event-image')
      .other-places-card__text-content
        h4.other-places-card__title Хачардзан
        p.other-places-card__text Агарцин – село в Тавушской области, в 11 км к северо-востоку Дилижана, на левом берегу реки Агстев. Рядом, в 2 км к западу, находится село Техут,
        span.other-places-card__link
          | Подробнее
          svg(width='12.5' height='12.5' fill='#8CB110' stroke='#8CB110')
            use(href='assets/img/sprite.svg#arrow-link')
