.about-people
  &__header

  &-item
    &:hover
      filter: $drop-shadow
    &:hover .about-people-item__name
      color: var(--c-green)
    &__image-wrapper
      position: relative
      top: 70px
      width: 170px
      height: 170px
      border: 7px solid var(--c-green)
      border-radius: 50%
      margin: 0 auto

      &::before,
      &::after
        position: absolute
        content: ""
        background-position: center
        background-repeat: no-repeat
        background-size: cover

      &::after
        background-image: url('/assets/img/about-people/decor-triangle.svg')
        width: 28px
        height: 32px
        bottom: -12px
        left: 18px

      & img
        width: 100%
        height: 100%
        border-radius: 50%
        object-fit: cover

    &__content
      width: 100%
      min-height: 210px
      background-color: #fff
      border-radius: 16px
      padding: 87px 22px 25px

    &__name,
    & p:first-child,
    & span:first-child
      @extend .font-s-6
      margin-bottom: 13px
      transition: $transition

      & + p,
      & + span
        @extend .font-s-11
        color: var(--c-black)
        opacity: 0.75

    &:nth-child(odd) .about-people-item__image-wrapper::before
      background-image: url('/assets/img/about-people/decor-bird.svg')
      width: 60px
      height: 50px
      top: -15px
      right: -20px

    &:nth-child(even) .about-people-item__image-wrapper::before
      background-image: url('/assets/img/about-people/decor-forest.svg')
      width: 46px
      height: 44px
      top: -43px
      right: 40px
