.about-people
  &__container
    padding-top: 40px
    padding-bottom: 40px
  &.new &__container
    padding-top: clamp(50px, calc(50px + (100 - 50) * ((100vw - 768px) / (1920 - 768))), 100px)
    padding-bottom: clamp(50px, calc(50px + (100 - 50) * ((100vw - 768px) / (1920 - 768))), 100px)
