.about-people
  .container.about-people__container
    include ../_items/title-link/title-link
    .about-people__list
      .swiper-wrapper
        .swiper-slide
          include ../_items/people-card/people-card
        .swiper-slide
          include ../_items/people-card/people-card
        .swiper-slide
          include ../_items/people-card/people-card
        .swiper-slide
          include ../_items/people-card/people-card

      .swiper-pagination

  img.about-people__decor-bottom(src='/assets/img/decor-bg-bottom-3.svg' alt='img')
