.about-people
  .container
    include ../_items/title-link/title-link
    .about-people__list
      .swiper-wrapper
        .swiper-slide
          include ../_items/people-card/people-card
        .swiper-slide
          include ../_items/people-card/people-card
        .swiper-slide
          include ../_items/people-card/people-card
        .swiper-slide
          include ../_items/people-card/people-card

      .swiper-pagination
