.about-people
  .container
    .about-people__header
      h2 О людях
      a.about-people__link(href='') подробнее о людях
    .about-people__list
      a.about-people__item.about-people-item(href='')
        .about-people-item__wrapper
          .about-people-item__image-wrapper
            img(src='assets/img/about-people/01.jpg' alt='photo')
          .about-people-item__content
            p.about-people-item__name Сукиасян Варужан Гарсеванович
            p.about-people-item__position Футболист и чемпион Армении
      a.about-people__item.about-people-item(href='')
        .about-people-item__wrapper
          .about-people-item__image-wrapper
            img(src='assets/img/about-people/02.jpg' alt='photo')
          .about-people-item__content
            p.about-people-item__name Саркисян Армен Темурович
            p.about-people-item__position Мэр города Дилижан
      a.about-people__item.about-people-item(href='')
        .about-people-item__wrapper
          .about-people-item__image-wrapper
            img(src='assets/img/about-people/03.png' alt='photo')
          .about-people-item__content
            p.about-people-item__name Сукиасян Варужан Гарсеванович
            p.about-people-item__position Футболист и чемпион Армении
      a.about-people__item.about-people-item(href='')
        .about-people-item__wrapper
          .about-people-item__image-wrapper
            img(src='assets/img/about-people/04.jpg' alt='photo')
          .about-people-item__content
            p.about-people-item__name Саркисян Армен Темурович
            p.about-people-item__position Мэр города Дилижан
