.about-people
  .container.about-people__container
    .title-link
      h2 О людях
      a(href='') Подробнее о людях
        svg.title-link__icon(width="18" height="16" fill="#8CB110" stroke="#8CB110")
          use(href='./assets/img/sprite.svg#arrow-nav-small')

    .about-people__list
      .swiper-wrapper
        include ../_items/people-card/people-card-w-content

      .swiper-pagination
