<div class="about-people">
  <div class="container">
    <div class="about-people__header">
      <h2>О людях</h2>
      <a class="about-people__link" href="">подробнее о людях</a>
    </div>
    <div class="about-people__list">

      <a class="about-people__item about-people-item" href="">
        <div class="about-people-item__wrapper">
          <div class="about-people-item__image-wrapper">
            <img src="assets/img/about-people/01.jpg" alt="Сукиасян">
          </div>
          <p class="about-people-item__name">Сукиасян Варужан Гарсеванович</p>
          <p class="about-people-item__position">Футболист и чемпион Армении</p>
        </div>
      </a>

    </div>

  </div>
</div>
