.about-people
  .container
    h2 О людях
    .about-people__list(data-mobile="false")
      .swiper-wrapper
        include ../_items/people-card/people-card
        include ../_items/people-card/people-card
        include ../_items/people-card/people-card
        include ../_items/people-card/people-card
        include ../_items/people-card/people-card
        include ../_items/people-card/people-card
        include ../_items/people-card/people-card
        include ../_items/people-card/people-card

      .swiper-pagination
