.share(style="margin-top: 0; padding: 50px 0;")
  .container.share__container.grid
    .share__content-text
      .title-text
        h2 Делитесь своими моментами с нами
        p Статус города Дилижан получил в 1938 году. Название Дилижан упоминается в сравнительно недавних источниках, однако происхождение слова окончательно еще не ясна.
      .share__social
        a.button.share__social-button(href='/')
          svg(width="17" height="19")
            use(href='assets/img/sprite.svg#instagram-button')
          | goto_dili
        .share__social-more
          span Еще социальные сети:
          .share__social-links
            a(href="")
              svg(width='38' height='38')
                use(href='assets/img/sprite.svg#share-instagram')
            a(href="")
              svg(width='38' height='38')
                use(href='assets/img/sprite.svg#share-vk')

    .share__images

      .share__image-wrapper
        .js-share-slider.js-share-slider-1
          .swiper-wrapper
            .swiper-slide
              img(src='/assets/img/share/01.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/02.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/05.jpg' alt='picture')

      .share__image-wrapper
        .js-share-slider.js-share-slider-2
          .swiper-wrapper
            .swiper-slide
              img(src='/assets/img/share/03.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/06.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/05.jpg' alt='picture')
      .share__image-wrapper
        .js-share-slider.js-share-slider-3
          .swiper-wrapper
            .swiper-slide
              img(src='/assets/img/share/04.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/05.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/03.jpg' alt='picture')

      .share__image-wrapper
        .js-share-slider.js-share-slider-4
          .swiper-wrapper
            .swiper-slide
              img(src='/assets/img/share/01.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/02.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/06.jpg' alt='picture')
      .share__image-wrapper
        .js-share-slider.js-share-slider-5
          .swiper-wrapper
            .swiper-slide
              img(src='/assets/img/share/02.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/02.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/05.jpg' alt='picture')
      .share__image-wrapper
        .js-share-slider.js-share-slider-6
          .swiper-wrapper
            .swiper-slide
              img(src='/assets/img/share/06.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/03.jpg' alt='picture')
            .swiper-slide
              img(src='/assets/img/share/02.jpg' alt='picture')

