.share
  .container.share__container.grid
    .share__content-text
      include ../_items/title-text/title-text
      .share__social
        a.button.share__social-button(href='/')
          svg(width="17" height="19")
            use(href='assets/img/sprite.svg#instagram-button')
          | goto_dili
        .share__social-more
          span Еще социальные сети:
          .share__social-links
            a(href="")
              svg(width='38' height='38')
                use(href='assets/img/sprite.svg#share-instagram')
            a(href="")
              svg(width='38' height='38')
                use(href='assets/img/sprite.svg#share-vk')

    .share__images
      .share__image-wrapper
        img(src='/assets/img/share/01.jpg' alt='picture')
      .share__image-wrapper
        img(src='/assets/img/share/02.jpg' alt='picture')
      .share__image-wrapper
        img(src='/assets/img/share/03.jpg' alt='picture')
      .share__image-wrapper
        img(src='/assets/img/share/04.jpg' alt='picture')
      .share__image-wrapper
        img(src='/assets/img/share/05.jpg' alt='picture')
      .share__image-wrapper
        img(src='/assets/img/share/06.jpg' alt='picture')
