.fixed-header-bar
  a(href="#").fixed-header-bar__link
    img(src="./assets/img/icons/fixed-left-bar_jipping.png")
    .fixed-header-bar__link-text Джиппинг
  a(href="#").fixed-header-bar__link
    img(src="./assets/img/icons/fixed-left-bar_horses.png")
    .fixed-header-bar__link-text Конные прогулки
  a(href="#").fixed-header-bar__link
    img(src="./assets/img/icons/fixed-left-bar_hiking.png")
    .fixed-header-bar__link-text Хайкинг
