.accordion
  .accordion__container.container
    h1.title-section Часто задаваемые вопросы
    ul.accordion__list

      li.accordion__item
        p.accordion__title Я ознакомился со всей справочной информацией, но так и не понял, как до вас добраться. Что мне делать?
        p.accordion__content Обратитесь к нашим специалистам за помощью по телефону:

      li.accordion__item
        p.accordion__title У меня нет чертежей, возможно у вас их заказать?
        p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

      li.accordion__item
        p.accordion__title Есть ли у вас доставка?
        p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.
