<div class="events">
  <div class="container">
    <div>title link</div>
    <div class="events__list.grid--3col">

      <a class="events__item events-item" href="">
        <div class="events-item__body">

          <div class="events-item__image-wrapper">
            <img src="" alt="">
          </div>
          <h4>Фестиваль красного вина</h4>
          <p class="events-item__text">Почти у каждого популярного продукта есть свой памятный день. В этом плане больше всего повезло вину – у него есть собственные праздники для </p>
          <p class="events-item__date">
            <svg class="arrow-nav__next" width="20" height="21" fill="#8CB110">
              <use href="./assets/img/sprite.svg#icon-date"></use>
            </svg>
            10 мая 2021
          </p>
        </div>
      </a>

    </div>
  </div>
</div>
