.events
  .container
    include ../_items/title-link/title-link
    .events__list.grid--3col
      include ../_items/event-card/event-card
      include ../_items/event-card/event-card
      include ../_items/event-card/event-card
