.places
  position: relative
  background-color: var(--c-light-green)

  &__list
    min-width: 100%

  &__container
    padding-bottom: 40px

  &__header
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: space-between
    margin-bottom: clamp(35px, calc(35px + (50 - 35) * ((100vw - 1024px) / (1920 - 1024))), 50px)
    @media (max-width: 768px)
      grid-template-columns: 1fr
  &__nav
    align-self: end
    transform: translateY(100%)
    & > *
      justify-content: end

  .swiper-pagination
    @media (min-width: 768px)
      display: none

