.places
  img.places__decor-top(src='/assets/img/decor-bg-top-2.svg' alt='decor')
  .container.places__container
    .places__header
      h2 Ключевые окрестности города
      .places__nav
        include ../_items/arrow-nav/arrow-nav

    .places__list
      .swiper-wrapper
        .swiper-slide
          include ../_items/place-card/place-card
        .swiper-slide
          include ../_items/place-card/place-card

      .swiper-pagination


