<div class="near-city">
  <div class="near-city__wrapper">
    <h2>Ключевые окрестности города</h2>
    <div class="near-city__inner">
      <div class="near-city__image-wrapper">
        <img src="assets/img/05.jpg" alt="img">
      </div>
      <div class="near-city__content near-city-content">
        <div class="near-city-content__nav">
          include ../_items/arrow-nav/arrow-nav
        </div>
        <h3 class="near-city-content__title">Деревня хоббитов</h3>
        <p class="near-city-content__text">Отели и гостевые дома, стилизованные под знаменитые здания из любимых и популярных фильмов, становятся очень востребованными
          у туристов со всего мира. В видео ниже представлен город хоббитов
          из знаменитой саги Толкина. Находится он в армянском Дилижане
          и привлекает множество туристов каждый год.
        </p>
        <div class="near-city-content__addess-wrapper">
          <img src="assets/img/address-decor.svg" alt="decor">
          <div class="near-city-content__addess-text">
            <span class="near-city-content__addess-title">
              <svg width="11" height="14" fill="#888984">
                <use href="assets/img/sprite.svg#icon-location"></use>
              </svg>
              Адрес</span>
            <p class="near-city-content__addess-text">126 Kamo Street , Dilijan, 3901, Армения</p>
          </div>
          <a href="##">Подробнее
            <svg width="14" height="14" fill="#8CB110" stroke="#8CB110">
              <use href="assets/img/sprite.svg#arrow-link"></use>
            </svg></a>
        </div>
      </div>
    </div>
  </div>
</div>
