.places
  position: relative
  background-color: var(--c-light-grey)
  //background-image: url("../img/share/decor-bg-top-2.svg"), url("../img/share/decor-bg-bottom-2.svg")
  //background-position: center
  //background-repeat: no-repeat
  //background-size: cover

  &__header
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: space-between
    margin-bottom: clamp(35px, calc(35px + (50 - 35) * ((100vw - 1024px) / (1920 - 1024))), 50px)
  &__nav
    align-self: end
    transform: translateY(100%)
    & > *
      justify-content: end

  &__list
    overflow: hidden

  .swiper-pagination
    @media (min-width: 768px)
      display: none

