.hero(style="background-image: url('./assets/img/bg-video-holder.png');")
  .container.hero__container
    h1.hero__title Дилижан
    span.hero-subtitle открой город вместе с нами
    button(data-src="./assets/video/hero-video.mp4" data-fancybox).button.hero__button Смотреть видео

  video.hero__video(preload='auto' autoplay muted loop playsinline)
    source(src='./assets/video/hero-video.mp4' type='video/mp4')
