.hero
  position: relative
  background-image: linear-gradient(to top, rgba(16, 46, 34, 0.2)), url('/assets/img/hero-img.png')
  height: 960px
  background-position: top -300px center
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  color: #fff

  &::after
    position: absolute
    content: ""
    background-image: url('/assets/img/hero-decor.svg')
    height: 870px
    width: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    bottom: -550px
    left: 0

  h1
    @extend .font-s-1
    font-family: 'Artico-ExtraCond', sans-serif
    padding-top: 15rem
    margin-bottom: 1rem

  span, p
    @extend .font-s-3

