.hero
  .container.hero__container
    h1.hero__title Дилижан
    span.hero-subtitle Откроем вам душу города

  video.hero__video(preload='auto' autoplay='' muted='' loop='' )
    source(src='/assets/img/hero-video.mp4' type='video')
