.form-popup
  .form-popup__container
    h2.form-popup__title Заполните форму
    span.form-popup__close &#10006;
    form.feedback__form.feedback-form(method='POST' action='' enctype="multipart/form-data" autocomplete="off")

      .feedback-form__input-container
        input.input-name(placeholder=" " name="name" pattern="^[A-Za-zА-Яа-яЁё\\s]+$" autocomplete='off' maxlength='40' required )
        label Имя*
        span.feedback-form__error
      .feedback-form__input-container

        input.input-phone(type='tel' name='phone' placeholder=" " data-tel-input='' pattern='[0-9]+$' maxlength='15'  autocomplete='off' required )
        label Телефон*
        span.feedback-form__error

      .feedback-form__input-container
        input.input-email(type='email' name="email" maxlength='40' pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder=" " required )
        label E-mail*
        span.feedback-form__error

      .feedback-form__input-container
        input.input-message(placeholder=" " name="message" maxlength='100')
        label Сообщение

      .feedback-form__sending
        button.button.feedback-form__button(type='submit') Отправить&nbsp;заявку
        label
          input(type='checkbox' checked)
          span.feedback-form__checkbox
          span.feedback-form__agreement
            | Нажав на кнопку, вы соглашаетесь на обработку
            a(href='') &#160;персональных данных


  template#success
    .feedback__popup.popup.success
      .popup__body
        .popup__content
          a.popup__close(href="") &#10006;
          img.popup__icon(src="./assets/img/check-popup.svg", alt="icon")
          p.popup__title Ваша заявка успешно отправлена!
          p.popup__text В течении 24 часов мы с вами свяжемся

  template#error
    .feedback__popup.popup.error
      .popup__body
        .popup__content
          a.popup__close(href="") &#10006;
          img.popup__icon(src="./assets/img/error-popup.svg", alt="icon")
          p.popup__title Ошибка при отправки формы
          p.popup__text Вам лучше перезвонить нам!
          a(href="") +7 852 856 00 00

