.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Гош: по следам выдающегося мыслителя Мхитара Гоша

      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg/1024px-Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg' alt='Гош')


      .page-inner__info
        ul
          li Население – 1 115
          li Расстояние от Дилижана – 22 км
          li Высота над уровнем моря – 1 080 м
          li Климат умеренный, мягкий

          li Средняя температура:
            ul
              li летом +19, +25°С
              li зимой -2, -7°С

          li Дата основания: 1840 г.


      p Гош – старинное село в Тавушской области, на левом притоке реки Гетик, известно одной из главных достопримечательностей Армении – средневековым монастырским комплексом Гошаванк.
      p Поселения на территории современного села Гош существовали еще задолго до его основания, о чем свидетельствуют исторические памятники, найденные на этой территории. Первоначально эти поселения, как и вся территория вдоль реки Агстев, входили в состав провинции Гугарк Великой Армении. В XII веке выдающийся армянский мыслитель Мхитар Гош основал монастырь Нор Гетик (Новый Гетик) на месте более древнего, разрушенного землетрясением храма Гетик. В 1213г., после смерти Мхитара Гоша, монастырь получил название Гошаванк (в переводе “монастырь Гош”).  Средневековый монастырский комплекс Гошаванк был не просто духовным, но и образовательным центром средневековой Армении, настоящим университетом, где обучали философии, богословию, музыке и другим наукам. Это одна из главных и известных историко-культурных, архитектурных и духовных достопримечательностей не только области, но и страны.
      p Село Гош было основано в 1840-1845 гг. переселенцами из сел Барекамаван и Коти. В этот период село Гош, а также территория современного Дилижана были частью Казахского уезда Елизаветпольской губернии Российской империи. В “Географическо-статическом словаре Российской Империи”, изданном в 1865 г., упоминается, что в селе насчитывалось 18 дворов, в которых проживало 113 человек.
      p В настоящее время население села Гош составляет около 1000 человек.

      p Основные отрасли агрокультуры и занятости населения:

        ul
          li животноводство,
          li овощеводство,
          li выращивание табака,
          li сфера обслуживания, туризма.


      p На территории комплекса Гошаванк сохранились хачкары 13-го века, которые отличаются тонкой искусной резьбой, из-за чего их называют «вышитые хачкары».
      p Здесь также находится гробница Мхитара Гоша. В 2013 г. на этом месте был установлен его памятник. В северной части села, в 150 м от Гошаванка находится кладбище, датируемое X-XIII вв.
      p Помимо Гошаванка и других памятников эпохи высокого средневековья село славится умеренным климатом и мягкими горными ландшафтами, недалеко от него, в 2 км к юго-востоку от монастырского комплекса, находится затерянное в лесных массивах живописное озеро Гош. Маршрут от Гошаванка к озеру прекрасно подойдет для любителей пеших походов.


      .page-inner__info
        p Что поблизости:
        ul
          li монастырский комплекс Гошаванк
          li памятник Мхитару Гошу
          li усыпальница Мхитара Гоша
          li средневековые хачкары
          li часовня “Хачи тап”
          li озеро Гош




    //.fixed-nav
    //  ul
    //    li
    //      a(href="") Title
    //    li
    //      a(href="") Title


