.events-item-hero.container.grid
  .events-item-hero__container
    figure.events-item-hero__image
      img(src="./assets/img/08.jpg" alt="")
      figcaption Фото с фестиваля или  любая его подпись
    .events-item-hero__content
      p.events-item-hero__text Гастрономическая ярмарка, где каждый посетитель сможет попробовать национальные блюда различных регионов Армении. Это настоящий праздник для каждого ценителя вкусной еды и приятный способ познакомиться со страной поближе.
      p.events-item-hero__text В городском парке Дилижана завершился крупный гастрономический фестиваль в Армении GASTROFEST.
      p.events-item-hero__text Более 20 участников – представителей ресторанов, кафе, винных домов, производители натуральных продуктов и напитков из разных регионов Армении, представили гостям свою продукцию. Участники фестиваля подготовили для гостей наборы блюд и напитков, которыми славится их регион. Также они поделились своими кулинарными традициями и секретами собственной авторской концепции.
      p.events-item-hero__text Помимо гастрономической ярмарки проводились мастер-классы по приготовлению блюд, конкурсы и уроки национальных танцев от ансамбля Karin. Партнеры гастрофестиваля приготовили соревнование по Slackline – виду спорта, представляющему собой хождение по специальным стропам (линиям), которые натянуты между закрепленными объектами. У городского озера для гостей был доступен прокат каяков и SUP board.
      p.events-item-hero__text Каждый фестивальный день сопровождался концертами живой музыки от армянских музыкантов и групп, среди них Miqayel Voskanyan with Tarup trio, Tmbata Orchestra, Tiezerk Band, Aveluk, Rozental, Hayk Karoyi, Nick Ter-Hovhannisyan, Dave Geodakyan, Arman Peshtmaljyan и Serjo и др.

