.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Библиотека им. Газароса Агаяна: традиции прошлого и большие надежды на будущее

      img(src='https://www.trip2.am/ussr/uploads/1551955462/1558704987/UWC_Dilijan_Main_building_4.jpg' alt='Библиотека им. Газароса Агаяна')

      p В Дилижане действует старейшая публичная библиотека Армении – Дилижанская центральная библиотека им Газароса Агаяна. Вот уже более века библиотека радует книголюбов города шедеврами армянской, русской и мировой классической литературы, профессиональной и научной литературой, публицистикой, новинками от современных авторов.
      p У библиотеки насыщенная история: достойное прошлое, неопределенное настоящее и много надежд на будущее. Как все начиналось и чем живет сейчас первая публичная библиотека Армении – читайте в нашем материале.


      h2 Дилижанцы вложили сюда свою душу

      p Библиотека была основана 1908 г. и действовала при единственной в то время церковно-приходской школе. Первым заведующим библиотекой стал заслуженный учитель школы Ованес Закарян. В своих воспоминаниях он пишет:
      p.italic «В 1908 г. в Дилижане открылся филиал Армянского благотворительного общества Тифлиса. В том же году новоиспеченная библиотека отделилась от школы и была названа в честь Газароза Агаяна – к 40-летнему юбилею писателя. Новая библиотека начала свою деятельность как самостоятельная организация, книжный фонд насчитывал несколько десятков книг».
      p Фундамент был заложен. Дальнейшее развитие библиотеки стало возможным благодаря трепетному отношению дилижанцев и их пожертвованиям.
      p <i>“Книжный фонд библиотеки с каждым днем пополнялся произведениями армянской, русской и мировой классики, а также образцами философской, медицинской, аграрной и другой профессиональной литературы. Дилижанцы с самого начала вложили в библиотеку свою душу”,</i> - рассказывает Аида Апроян – заведующая Городской центральной библиотекой им. Газароза Агаяна.
      p С 1909 г. при библиотеке стал действовать литературный клуб, где проходили творческие вечера, дискуссии и встречи. Вскоре клуб стал одним из излюбленных мест дилижанцев, особенно зимой, а в теплые дни творческая интеллигенция собиралась в летнем театре Ротонда. (гиперссылка на статью “Памятники Дилижана, навигация “Ротонда и новый амфитеатр)
      p Благодаря насыщенной творческой жизни и популяризации чтения, Дилижан к началу XX века отличался достаточно высоким уровнем грамотности населения.


      h2 Место встречи армянской интеллигенции

      p В 1948 г. заведующим библиотекой был назначен Серик Давтян, который внес большой вклад в развитие не только библиотеки, но и творческой и научной жизни города. При нем начинается регистрация всех книг библиотеки и составление каталогов, при библиотеке начинают действовать литературные, художественные, языковые, научные кружки.
      p В разные годы здесь организовывались выставки местных художников, литературные вечера, ставились спектакли, выступали молодые музыканты. Особого внимания заслуживают встречи с яркими представителями армянской интеллигенции – здесь гостили Мартирос Сарьян, Аветик Исаакян, Паруйр Севак, Грачья Кочар и многие другие писатели, ученые, общественные деятели.
      p <i>«Здесь обсуждались все важные экономические, политические, культурные, общественные события, происходящие в стране. Отмечались значимые юбилеи и события»,</i> - подчеркивает Аида Апроян.
      p В 1974 году библиотека переехала в новое здание. А спустя год на базе Библиотеки им. Газароса Агаяна была создана централизованная система библиотек, которая по сей день включает 8 публичных и 2 детские библиотеки города и близлежащих населенных пунктов.
      p <i>«Это был период расцвета нашей библиотеки. Мы побеждали на всесоюзных конкурсах, к нам приезжали заграничные специалисты для обмена опытом. Но, увы, трагическое землетрясение 1988 г. оставило свой след и в Дилижане: здание нашей библиотеки также пострадало, и нам пришлось его покинуть»,</i> - рассказывает Аида Апроян.
      p В настоящее время библиотека действует в здании Дворца культуры, которое также находится в аварийном состоянии, а зимой здесь и вовсе отсутствует отопление.
      p <i>«Нам казалось, что мы здесь временно, и после восстановления прежнего здания нас позовут обратно. Но вот уже долгие годы мы здесь. Что бы то ни было мы делаем все, чтобы работать в обыденном режиме: помогать нашим посетителям, сотрудничать с издательскими домами, обеспечивать нашу библиотеку литературными новинками, работать с архивами и собирать данные о городе. Мы продолжаем устраивать встречи, вечера, мероприятия – хоть и в немного стесненных обстоятельствах»,</i> - отмечает заведующая библиотекой, не скрывая, что неопределенная ситуация очень удручает, ведь частые переезды наносят урон книжному фонду.


      h2 Дилижан – по-прежнему город книголюбов

      p Аида Апроян работает в библиотеке уже 40 лет, она переехала в Дилижан из Еревана, где также работала в библиотеке им. Исаакяна. Заведующая библиотекой уверяет, что сегодня Дилижан по-прежнему является городом книголюбов. Ежедневно библиотека принимает по 50 читателей! А сейчас, в период летних каникул, в библиотеке много школьников, которые по традиции берут книги на летнее чтение.
      p.italic “Да, Дилижан – это очень читающий город. Город творческих людей, город интеллектуалов”,- отмечает она.
      p На данный момент, по словам заведующей, библиотеку посещают также русскоязычные релоканты. Их удивляет широкий выбор книг на русском языке, богатый отдел культурологии.
      p.italic “Вопреки стереотипам, у нас очень интересная работа. Мы очень любим свое дело: искать книги по запросам наших читателей, помогать им определиться с выбором. Наши сотрудницы – все такие! Знают обо всех отраслях, обо всех новинках, предпочтениях читателей. И это самое интересное в нашей работе. Нужно быть в курсе всего. Ведь к нам приходят разные люди, и мы должны ответить на их запросы», - рассказывает Аида Апроян.
      p То, что Дилижан – это действительно читающий город подтверждает и Асмик Акопян, сотрудница библиотеки, которая работает здесь с 1975 года.  Она очень скромно рассказывает о своей деятельности, однако ее знают многие поколения дилижанских книголюбов, а коллеги называют ее главным столпом библиотеки.
      p.italic «Всем кажется, что молодые люди больше не заинтересованы в чтении, но это совсем не так. Иногда мы даже не успеваем отвечать на их запросы. Вы же сами сейчас все видите (действительно, во время нашего визита в библиотеке было много читателей, царила настоящая рабочая атмосфера, прим. ред) Меня это очень радует. Кроме программной университетской и школьной литературы молодежь сейчас предпочитает мотивационную. А мы стараемся пополнять наш фонд современной литературой», - рассказывает она.
      p Стесненные условия и преданная работа в аварийном здании сегодня, большие надежды и долгосрочные планы на завтра – вся эта атмосфера наполняет активные рабочие будни.  Между тем, библиотека продолжает бережно хранить культурные традиции Дилижана, который все еще не утратил статус одного из самых читающих городов Армении.


