.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Пьяный лес: Идеальный хайкинг-маршрут для начинающих

      img(src='https://hikearmenia.blob.core.windows.net/hikearmeniacontainer/images/default-source/images/img_20190710_162505-(1).jpg?sfvrsn=7e2a22f4_10' alt='Пьяный лес')

      p Пьяный лес – прекрасный вариант для пеших походов и любителей хайкинга. Чтобы добраться до леса, не нужно выезжать за город: пьяный лес находится прямо в Дилижане.
      p Хайкинг-тропа в пьяный лес идеально подойдет начинающим. Однако это вовсе не означает, что маршрут заставит заскучать и опытных любителей хайкинга. Во-первых, отсюда открывается замечательный вид на сам Дилижан. Во-вторых, пьяный лес – это загадочный памятник природы: уже само название этой местности говорит о том, что мы имеем дело с не совсем обычным лесным массивом.
      p Так почему у этого леса такое провокационное и запоминающееся название? В чем же феномен этой местности?
      p Дело в том, что стволы сосен в этом лесу искривлены и наклонены набок: местным эти деревья напомнили пьяного человека. Отсюда и такое название – “пьяный лес”.  У этого явления есть и научное объяснение. Деревья в лесу “опьянели” вследствие оползней.

