.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Жемчужины Дилижанского национального парка: <br> озёра Парз и Гош

      p Эти маленькие озёра едва заметны на картах. Они не обладают величественным размахом легендарного Севана, но при этом являются важнейшими единицами экосистемы Дилижанского национального парка.
      p (гиперссылка на статью Дилижанский национальный парк)
      p Затерянные в лесных массивах национального парка, они поражают своей безупречной простотой. Озеро Парз и озеро Гош поразительно разные: и по физическим характеристикам, и по эстетическому эффекту. Именно поэтому вам стоит побывать на каждом!
      p Путь к каждому из этих озёр проходит через увлекательные хайкинг тропы средней сложности. Для выносливых и опытных любителей хайкинга подойдет маршрут от озера Парз к озеру Гош.
      p К озеру Парз можно добраться и на автомобиле, однако, дорогу к озеру Гош осилит только внедорожник, который можно арендовать на месте.


      h2#title1 Озеро Парз

      img(src='https://kartinkin.net/pics/uploads/posts/2022-08/1659507201_28-kartinkin-net-p-ozero-parz-armeniya-priroda-krasivo-foto-29.jpg' alt='Озеро Парз')

      p Озеро Парз (в переводе — «ясное» или «прозрачное») – живописное озеро, раскинувшееся в долине густых горных лесов. Окрестности озера прекрасно подойдут для семейного отдыха: здесь можно взять напрокат катамаран или лодку, прокатиться на Zipline, устроить пикник в специально отведенных для этого местах.
      p Озеро Парз отлично подойдет для профессиональных фотосессий – особенно осенью, когда деревья, окрашенные в яркие цвета осенней палитры, отражаются на зеркальной глади озера.

      .page-inner__info
        ul
          li Озеро Парз – высокогорное.
          li Происхождение – оползневое.
          li Длина водоема – 300 м.
          li Ширина – 100 м.
          li Средняя глубина – 3 м (местами достигает 10 м).
          li Высота над уровнем моря – 1334 м

      p По дороге к озеру можно встретить представителей местной фауны – белок, лис, ежей, лесных котов, диких кроликов и др. Близ озера находится также Центр по восстановлению популяции благородных оленей.


      h2#title2 Озеро Гош

      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Gosh_Lake%2C_Armenia.jpg/1920px-Gosh_Lake%2C_Armenia.jpg' alt='Озеро Гош')

      p С высоты птичьего полета озеро Гош напоминает хрустальную каплю, затерянную среди густых лесных массивов Дилижанского национального парка. Крохотное, кристально чистое озеро и мягкий, живописный пейзаж его окрестностей  – настоящий источник вдохновения и умиротворения.

      .page-inner__info
        ul
          li Озеро Гош – высокогорное.
          li Происхождение – оползневое.
          li Длина водоема – 100 м.
          li Максимальная ширина – 80 м.
          li Глубина достигает 8 м.
          li Высота над уровнем моря – 1550 м.

      p Свое название озеро получило от одноименного села, которое в свою очередь, было названо в честь выдающегося армянского средневекового мыслителя Мхитара Гоша. (гиперссылки на статьи “Село Гош”, а также “Монастыри Дилижана”)
      p Начальной точкой маршрута является село Гош, ориентир – монастырь Гошаванк. Основная тропа к озеру пролегает через густой, горный лес.


    .fixed-nav
      ul
        li
          a(href="#title1") Озеро Парз
        li
          a(href="#title2") Озеро Гош
