.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Образовательно-исследовательский центр ЦБ Армении: инновации, развитие и музей армянского драма

      img(src='https://avatars.mds.yandex.net/get-altay/5257938/2a0000017c6368129b37f33dc68cb3756cde/XXL' alt='Центробанк')

      p С 2013 г. в Дилижане действует Образовательно-исследовательский центр Центрального банка Армении. Современное здание в неофутуристическом стиле (архитектор Левон Христапорян) сразу же бросается в глаза при въезде в город и отсылает нас к новому, открытому к инновациям Дилижану.
      p Открытие центра повлияло на экономическую и социальную активность в городе. Это оснащенный инновационно-технологическими решениями институт, где проводятся региональные и международные конференции по экономике и финансам, осуществляются учебные программы переподготовки кадров Центрального банка Армении.
      p Гостей города заинтересует экскурсия в действующий при Центре Музей армянского драма, на которой вам расскажут не только об истории армянской валюты, но и торговых отношениях в регионе.
      p Через трансформации представленных в выставочном зале денег мы узнаем о важных исторических событиях, региональных противостояниях, политических и экономических изменениях в стране и в регионе, в целом.
      p В экспозиции представлены ценные монеты, датируемые IV-м веком до нашей эры,  монеты эпохи Тиграна Великого, династии Арташесидов и других царских и княжеских династий Армении. Здесь вы узнаете, что было изображено на деньгах Первой республики Армения, а также раскроете значение символов на денежных купюрах и монетах современной Республики Армения.
      p Частью экспозиции являются также иностранные деньги –  начиная от монет, оставшихся со времен завоевательных походов Александра Македонского, заканчивая деньгами Арабского халифата. В экспозиции представлены также купюры и ценные бумаги времён Российской Империи и СССР.
      p Любители нумизматики оценят стеллажи с памятными монетами, выпущенными Центральным Банком Армении и приуроченными к значимым политическим и культурным событиям в стране.

