.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Дилижанский национальный парк – лесной храм Армении

      img(src='https://core-pht-proxy.maps.yandex.ru/v1/photos/download?photo_id=9HBGp78yvGrynSXuDyq&image_size=X5L' alt='Дилижанский национальный парк')

      p.italic Армения – горная республика, для которой характерна вертикальная зональность, что подразумевает изменение природных, климатических условий и ландшафтных поясов по мере возвышения над уровнем моря. Именно поэтому маленькая по территории страна вмещает невероятное разнообразие горных ландшафтов и природных поясов – от полупустынного до лесного.
      p.italic Более того, в Армении можно встретить более чем половину представителей флоры и фауны Кавказа, в том числе редкие виды растений и животных, занесенных в красную книгу.
      p На территории Армении находятся 4 национальных парка – Севанский национальный парк, национальные парки Арпи и Аревик, а также Дилижанский национальный парк. Последний расположен в Тавушской области Армении, в лесной зоне, и считается уникальным заповедником. Здесь находятся буковые, тисовые, дубовые леса, которые являются особо охраняемыми объектами. Без преувеличения, это легкие Армении, настоящий зеленый храм, нуждающийся в трепетном отношении и защите. Богатейший экологический и рекреационный ресурс страны.
      p Дилижанский национальный парк (Дилижанский заповедник) расположен на северо-востоке Армении, в Тавушской области, в бассейне рек Агстев (правый приток Куры) и Гетик, на абсолютной высоте 1100 – 2800 метров.
      p Площадь национального парка – 33 765 га.
      p Дилижанский заповедник был основан в 1958 году для защиты буковых и дубовых лесов, сосен, тисовых рощ и горных озер. На территории заповедника насчитывается 102 вида деревьев, 38 видов ядовитых грибов и 170 видов съедобных, 120 видов кустарников со съедобными плодами – малина, ежевика, смородина, крыжовник.
      p На территории Национального парка обитает более 280 видов животных, 53 из которых занесены в Красную книгу. Насчитывается более 40 видов млекопитающих (медведь, лиса, волк, благородный олень), 150 видов птиц (тетерев, бородатый орел, кулик и др), 800 видов жуков, многочисленные виды рептилий и рыб.
      p Заповедник известен своими лечебными травами (зверобой, мята,тимьян и др.), съедобными (щавель, крапива и др.) и кормовыми (клевер, эспарцет и др.) растениями.

      .page-inner__info
        p Основные представители флоры:
        ul
          li тис
          li рододендрон
          li бук
          li вяз
          li дуб
          li граб
          li липа
          li сосна
          li можжевельник

      .page-inner__info
        p Основные представители фауны:
        ul
          li бурый медведь
          li благородный олень
          li косуля
          li персидская белка
          li кавказский тетерев
          li белоголовый сип
          li каменная куница
          li улар

      .page-inner__info
        p Основные лечебные травы:
        ul
          li зверобой
          li мята
          li тимьян
          li зизифора

      .page-inner__info
        p Реки Национального парка:
        ul
          li Агстев (длина – 133 км, площадь бассейна – 2589 км²),
          li Гетик (длина – 58 км, площадь бассейна — 581 км²).

      .page-inner__info
        p Озёра Национального парка:
        ul
          li Парз
          li Гош

      .page-inner__info
        p Горные цепи:
        ul
          li Памбакский хребет (длина – 106 км, абсолютная высота – 3101 м),
          li Хребет Арегуни (длина – 65 км, абсолютная высота – 2740 м),
          li Миапорский хребет (длина: 63 км, абсолютная высота – 2,993 м).

      .page-inner__info
        p Исторические памятники:
        ul
          li Агарцин
          li Матосаванк
          li Гошаванк
          li Джухтакаванк
          li Агавнаванк
          li Крепости Манташ, Ахчкаберд и др.

