.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Айвазовский, Шишкин и доисторические артефакты под одной крышей: чем еще удивит Краеведческий музей – картинная галерея Дилижана

      img(src='https://avatars.mds.yandex.net/get-altay/6550540/2a00000184c341537d0cdd7f827364aee6f4/XXXL' alt='Картинная галерея Дилижана')

      p.italic В середине XIX в., близ Дилижана, впервые на территории Армении были осуществлены археологические раскопки, в ходе которых были обнаружены древнейшие артефакты, датируемые III тысячелетием до н.э. Найденные артефакты – орудия труда, посуда, украшения и многое другое – хранятся в Краеведческом музее – Картинной галерее Дилижана.
      p.italic Это всего лишь одна из причин посетить музей. Чем же еще он может привлечь гостей города? Давайте разберемся вместе.

      h2 Лучше понять город
      p Краеведческий музей – важнейшая часть историко-культурной презентации любого города. И музей в Дилижане не является исключением. Стоит только вступить за его порог, чтобы убедиться в этом.
      p Концептуально музей разделен на две части – краеведческий музей и картинная галерея.
      p Краеведческий музей Дилижана – машина времени, благодаря которой можно отправиться в эпоху позднего энеолита или в изысканные городские интерьеры интеллигенции XIX века. Ознакомиться с уникальными орнаментами на украшениях и древнейших предметах быта, которые до сих пор вдохновляют современных ремесленников и ювелиров, а также убедиться в уникальности технологии армянского ковроткачества, гончарного дела и других ремесел.
      p.italic «Без этого музея невозможно понять Дилижан. Ведь музей представляет из себя все то, чем дышит наш город; это и краеведческая часть – история региона, древнейшие артефакты, найденные при раскопках – и картинная галерея. Под одной крышей представлены две стихии. Именно такую концепцию мы предлагаем посетителям и, думаю, что этот формат намного интереснее туристам»,- подчеркивает директор музея, живописец Арман Бадеян. (гиперссылка на статью Лица Дилижана – арман Бадеян)
      p Открытие Краеведческого музея Дилижана состоялось в 1950 году, однако, задолго до этого экспозиция из уникальных исторических артефактов хранилась в здании библиотеки Дилижана (коллекция была собрана искусствоведом Сериком Давтяном). В 1957 году усилиями художника Ованеса Шарамбеяна открылась и Картинная галерея.
      p После посещения музея Дилижан действительно открывается с новой стороны – как город, в котором переплетены древняя история, старинные традиции ремесленного дела, изобразительное искусство и величие природы. Теперь каждая улочка, здание, сувенир из Дилижана приобретает совершенно иной смысл.

      h2 Соприкоснуться с прекрасным – работы Айвазовского, Сарьяна, Шишкина, Кента…
      p В картинной галерее представлены полотна не только известных армянских художников, но и всемирно известных зарубежных живописцев – американского художника Рокуэлла Кента, русского живописца Ивана Шишкина, великого мариниста Ивана Айвазовского и его ученика Льва Лагорио и даже некоторые произведения нидерландских, итальянских и французских художников XVI-XVIII вв.
      p.italic «Рокуэлл Кент путешествовал по городам Союза, и не приехать в Дилижан было бы преступлением. Он также сравнивал его со Швейцарией. И доказательством тому, что художник действительно был восхищен этими краями является то, что он подарил картинной галерее несколько своих работ», - рассказывает Арман Бадеян.
      p Армянская живопись представлена во всей своей яркой палитре красок. Это и полотна отцов-основателей армянской школы живописи Г. Башинджагяна, В. Суренянца, П. Терлемезяна, М. Сарьяна, картины неповторимого Минаса Аветисяна. К слову, именно «Тишь» Минаса Аветисяна, по словам директора музея Арман Бадеяна, стала символом картинной галереи – самым излюбленным и фотографируемым туристами.
      p По словам Армана Бадеяна, особого внимания заслуживают также выставочные залы, где представлен армянский соц. реализм, который имеет свои отличительные черты и выходит далеко за рамки общепринятых представлений об этом направлении.
      p.italic «Не в каждом музее сегодня можно встретить соц.реализм. У нас два зала, в которых выставлены работы армянских художников и скульпторов того периода – до и после оттепели. Здесь представлены картины Мгера Абегяна, Рубена Адаляна, Левона Коджояна, Арпеник Налбандян и множество других интересных работ. Это достаточно большая коллекция»,- подчеркивает он.

      h2 Освоить основы традиционных ремесел
      p.italic В Краеведческом музее – Картинной галерее Дилижана проводятся мастер-классы, в которых могут принять участие как местные жители, так и гости города (и взрослые, и дети).
      p Музей предлагает посетителям 5 мастер-классов:
      p.italic <b>- Мастер-класс по ковроткачеству</b>: за 1-2 часа вы сможете связать небольшой орнамент на заранее подготовленной, шерстяной основе. Армянское ковроткачество отличается технологией двойного узла – именно ей обучают на этом мастер-классе. Работа ведется шерстяными нитками и требует терпения.
      p.italic <b>- Мастер-класс по изготовлению карпетов:</b> карпеты и ковры отличаются как технологией изготовления, так и по внешнему виду (например, у карпета нет узлов на оборотной стороне). На мастер-классе предлагается выполнить небольшой орнамент на заранее подготовленной основе.
      p.italic <b>- Мастер-класс по батику:</b> батик – это техника/искусство росписи по ткани. Участникам предлагается раскрасить специальными красками эскиз (дилижанская тематика) на ткани, которая установлена на небольшую деревянную раму.
      p.italic <b>- Мастер-класс по изготовлению ювелирных украшений:</b> уникальный мастер-класс, на котором предлагается попробовать себя в качестве ювелиров и сделать необычные украшения как для себя, так и в подарок близким. Материалом для изготовления украшения служит медь, источником вдохновения – древнейшие украшения археологического зала музея.
      p.italic <b>- Мастер-класс по художественной графике (линогравюра):</b> на мастер-классе применяется технология гравирования на линолеуме. Мастера музея уже приготовили для посетителей эскизы рисунков для гравюры. Все они символизируют Дилижан.

      p Каждый мастер-класс сопровождается рассказом о развитии и тонкостях того или иного ремесла в Дилижане. Вам расскажут об особенностях армянского ковроделия, история которого уходит вглубь веков, разновидностях национального орнамента, процессе окрашивания шерстяных ниток, технологии батика и линогравюры.
      p Но самое главное – участники мастер-классов смогут забрать с собой частичку Дилижана, сделанную собственными руками.

