.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Информационный туристический центр: выбери свой маршрут

      img(src='https://avatars.mds.yandex.net/get-altay/5554141/2a000001840ee71ce3bb8282537315e9a8bd/XXXL' alt='Информационный туристический центр')

      p В центральном городском парке Дилижана действует Туристический информационный центр (Tourism Information Center – TIC), в котором вам предоставят комплексную информацию о туристической активности в городе и его окрестностях.  Здесь сотрудники центра помогут определиться с выбором гостиницы, туров, гида, а также подобрать вид отдыха, который вам по душе.
      p В TIC вы также сможете забронировать услуги GoToDili, а также узнать информацию о продуктах проекта.
      p По словам директора TIC Гранта Дандурова, центр также предоставляет информацию о горных тропах и маршрутах не только по Дилижану и его окрестносям, но и по всей Тавушской области. Центр также принимает активное участие в организации различных фестивалей и городского досуга.
      p <i>“Персонал TIC предоставляет исчерпывающую информацию посетителям, помогает гостям Дилижана чувствовать себя более комфортно, сдает в аренду оборудование, организует мероприятия в парке, принимает активное участие в работе с гостями различных фестивалей. Мы принимали активное участие в Gastrofest, организовали День Йоги и Вардавар. Уверен,что TIC стал одним из ключевых объектов, влияющих на развитие туризма в Дилижане и в Армении”,</i> - отмечает он.
      p На втором этаже Туристического информационного центра действует также co-working space – рабочее пространство для фрилансеров.
      p Работа центра включает:
        ul
          li предоставление туристической информации об области,
          li услуги букинга,
          li услуги гидов,
          li прокат велосипедов,
          li прокат палаток и других снаряжений,
          li разработку и продажу туристических пакетов,
          li co-working среду для фрилансеров.

      p В TIC действует также небольшой магазин сувениров, а также мини-библиотека с литературой о городе и его окрестностях. Здесь можно взять с собой карты, путеводители и туристические брошюры (на армянском, английском и русском языках) о Дилижане и Тавушской области.
      p Туристический информационный центр открыл свои двери 17 августа  2018 г. (при поддержке Европейского союза и фонда IDEA) и является неотъемлемой частью экосистемы городского парка Дилижана.

