.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 TUMO Dilijan: Окно в мир инноваций для детей Тавушской области

      img(src='https://avatars.mds.yandex.net/get-altay/5102477/2a000001840ea8e889a7977542ec5432124e/XXXL' alt='TUMO Dilijan')

      p В 2013 г. при поддержке Центрального банка Армении открывается филиал Центра креативных технологий TUMO в Дилижане – именно с Дилижана начинается расширение географии уникального и инновационного армянского проекта, который вскоре выйдет далеко за пределы республики и станет настоящим ее достоянием.
      p Образовательная программа дилижанского центра TUMO включает все 14 основных направлений – <b>программирование, разработка сайтов, роботостроение, 3D-моделирование, разработка игр, графический дизайн, анимационный дизайн, новые медиа, музыка, писательство, рисование, фотография, анимация, кинопроизводство</b> – и предоставляет тинейджерам уникальное пространство для творчества и развития, оснащенное самым современным оборудованием.
      p Экосистема TUMO Dilijan не ограничивается центром в Дилижане. К нему прикреплены мобильные TUMO-боксы в городе Берд, Гавар и Севан. Общее число учащихся TUMO Dilijan – более 1700 учеников.
      p По словам операционного директора TUMO в Дилижане Геворга Тиратуряна, планируется открытие еще 5 боксов: «в приграничном селе Чамбарак, Арцваберде, Азатамуте и 2 бокса в городе Иджеван».
      p.italic «Проект TUMO Box был запущен с целью быть ближе ко всем детям, независимо от их местонахождения, чтобы у них был доступ к базовому технологическому образованию и инновациям. Ведь, как известно, одна из важнейших составляющих нашей концепции – дать бесплатное инновационное образование детям Армении. В наших боксах ученики самостоятельно проходят циклы воркшопов, а завершают обучение и углубляются в специализации уже у нас, в Дилижане»,- подчеркивает он.
      p Так, Дилижанский центр TUMO является окном в современный мир инноваций и технологий для детей Тавушской и Гегаркуникской областей – целого региона Армении. Дети в возрасте от 12 до 18 лет получают конкурентоспособное образование в самых востребованных Digital-специальностях.
      p Более того, TUMO – это пространство для развития креативного и системного мышления, творчества и дружбы, реализации смелых идей и фантазий. Как отмечает Геворг Тиратурян, все эти навыки помогут тинейджерам не только быть открытыми к современной Digital-индустрии, но и применить полученные знания у себя дома – во благо развития своего города или села.
      p.italic «В современном мире любая сфера движется к диджитализации. В этом контексте очень важно, что наши ученики в будущем смогут применить свои знания для модернизации жизни в родном городе или селе. Например, основные направления жизнедеятельности в Тавушской области – это туризм и сельское хозяйство. В сфере туризма наши выпускники смогут заниматься грамотным SMM, контентом (content-writing, content-management), в агрокультуре необходимы smart-системы, роботы и т.д. Важно также помнить о технологиях для обеспечения безопасности в нашей приграничной области и защиты природы», - подчеркивает Геворг Тиратурян.
      p В дилижанском центре TUMO также проводится ежегодный летний лагерь TUMO Camp, открытые воркшопы и мастер-классы, а также кинопросмотры и обсуждения фильмов для всех желающих.


      h2#title1 Справка о TUMO

      p Первый центр креативных технологий TUMO открылся в Ереване в 2011 г. Основателями инновационной школы являются Сэм Симонян и Сильва Симонян. Генеральный директор – Мари Лу Папазян.
      p С 2013 г. TUMO стал расширять географию по Армении и Арцаху: появились центры в Дилижане, Гюмри и Степанакерте. C 2019г. к каждому центру прикреплены передвижные TUMO-боксы.
      p В 2018г. концепция TUMO выходит на международную арену. Первый центр открылся в Париже, затем школы TUMO стали открываться и в других городах мира – в Бейруте, Москве, Тиране, Берлине, Киеве и Лионе.
      p TUMO привлекает внимание не только актуальностью и востребованностью предлагаемых специализаций, но и особому и уникальному подходу к обучению, который разработан специально для центра. Основные акценты в TUMO ставятся на самостоятельности, свободе передвижения по пространству центра, дружеской атмосфере, креативности и открытости.

      h2#title2 Международное признание
      p - Первое место рейтинга инновационных школ мира по версии французского журнала We demain. TUMO удалось обойти AltSchool в Силиконовой долине, Kindergarten в Токио и Steve Jobs School в Нидерландах.
      p - Премия Implementation of the Digital Century (Внедрение цифрового века) на форуме Всемирного конгресса по информационным технологиям (WCIT) в Хайдарабаде, Индия.
      p - Премия Europa Nostra Award в области образования и обучения и распространения.


    .fixed-nav
      ul
        li
          a(href="#title1") Справка о TUMO
        li
          a(href="#title2") Международное признание
