.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 UWC Dilijan: международная школа в сердце Дилижана

      img(src='https://avatars.mds.yandex.net/get-altay/5488055/2a0000017f55593567472332900c96c88c11/XXXL' alt='UWC Dilijan')

      p.italic «Все мы способны на большее, надо только разглядеть в себе потенциал.А после этого мы, скорее всего, уже не сможем довольствоваться малым».
      p.italic Курт Хан, основатель движения UWC
      p В самом сердце Дилижана, среди лесистых гор, действует международная школа-пансион UWC Dilijan. Это первая школа образовательной сети United World Colleges (UWC) на Южном Кавказе и постсоветском пространстве, 14-я – в мире.
      p Обучение в школе ведется по высоким мировым стандартам программы IB Diploma – диплом колледжа признается ведущими университетами мира.
      p Официальная церемония открытия международной школы UWC Dilijan состоялось 11 октября 2014 года. На торжественной церемонии  один из основателей школы, филантроп Рубен Варданян отметил в своей речи, что подобные образовательные проекты – “это главный актив и залог конкурентоспособности любой страны”.
      p “Кроме того, открытие международной школы в Дилижане будет способствовать появлению новых рабочих мест, обновлению инфраструктуры и социально-экономическому развитию города Дилижана и всего региона», - подчёркивал Рубен Варданян.
      p И он оказался прав. После открытия UWC Dilijan город зажил новой жизнью – активной, молодежной, творческой. Это отмечают и местные жители. Теперь каждый год в Дилижан  «слетаются» самые талантливые и одаренные подростки практически со всех уголков мира. Ежегодно школа выделяет места также и для подростков из Армении.
      p.italic “Меня очень впечатлило то, что в школе нет абсолютно одинаковых людей. Все разные. И школа научила меня принимать это, уважать разные мнения, не бояться выделяться, ценить то, что у меня есть. У меня появились хорошие друзья, международные связи”, - делится впечатлениями жительница Дилижана, выпускница UWC Dilijan Ани Харатян.
      p Обучение в школе ведется на английском языке, однако, воспитанники колледжа изучают также армянский язык, знакомятся с армянской культурой и интегрируются в дружное дилижанское сообщество, что, в свою очередь, способствует плодотворному культурному обмену. Ведь основной девиз школы UWC – это сделать образование объединяющим фактором между нациями и культурами во имя мира и устойчивого будущего.
      p Согласно концепции UWC (гиперссылка на сайт школы https://www.ru.uwc.org/uwc-dilijan ), Дилижанская школа имеет три уникальные черты:
      ol
        li Образовательный хаб. UWC Dilijan выступает в роли образовательного кластера, способствующего распространению в Армении самых передовых подходов к образованию.
        li Разрешение конфликтов. Геополитическое расположение школы делает ее идеальной площадкой для тех, кто хочет попробовать себя в деле разрешения конфликтов и защиты мира.
        li Подход Glocal (global+local). Колледж старается играть важную роль в глобальных преобразованиях путем изменения местной среды.
      p Общая площадь образовательного комплекса составляет 69 тыс. м2. Кампус включает основное здание школы, спортивный и медицинский центры, футбольное поле, волейбольную, баскетбольную и теннисную площадки, студенческие общежития, многофункциональный центр и другие здания.
      p Школа UWC Dilijan является совместным проектом предпринимателей и филантропов Рубена Варданяна и Вероники Зонабенд и их партнеров, в частности, представителей фонда IDeA


