.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 VereV Rope Park: самый длинный веревочный парк Армении

      img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/78/7c/dc/from-tree-to-tree.jpg?w=1200&h=1200&s=1' alt='VereV Rope Park')

      p Для любителей активного отдыха и приключений (всех возрастов!), а также поклонников экотуризма Дилижан подготовил приятный сюрприз – VereV Rope Park, который является самым длинным веревочным парком в Армении.
      p VereV находится в лесопарковой зоне и может стать прекрасным вариантом для увлекательного времяпровождения именно в Дилижане, а не за его пределами.
      p.italic “VereV – уникальный веревочный парк в красивой роще, который предлагает захватывающие веревочные маршруты для людей всех возрастов. Веревочный курс имеет пять уровней сложности, преодолевая которые, вы постепенно начнете побеждать свои страхи. Веревочные курсы общей длиной 485 метров включают 46 препятствий, а также две 6-метровые стены для скалолазания. Преодоление препятствий на высоте от 3 до 10 метров – это совершенно новый вид развлечений. Персонал парка предоставит альпинистское снаряжение и квалифицированное руководство, а специально обученные сотрудники будут наблюдать за всем процессом преодоления маршрута”, - рассказывает директор по маркетингу Impulse management Шогик Тадевосян.
      p Веревочный парк VereV (в переводе “вверх”) был основан в 2020-м году и вместе с Туристическим информационным центром (TIC) является важнейшим звеном экосистемы городского парка Дилижана. (гиперссылка на статью про TIC)
      p.italic “Парк  представляет собой новую модель социального предпринимательства и направлен на сохранение общественных зеленых насаждений при создании современной рекреационной зоны”, - отмечает Шогик Тадевосян.
      p Реализация подобных проектов является частью более обширной программы устойчивого развития города, которая в долгосрочной перспективе преследует определенную и вполне четкую цель –  превращение Дилижана в центр культуры, образования, здравоохранения и туризма.
