.blog-list
  .container.blog-list__container
    include ../../_items/blog-article/blog-article
    include ../../_items/blog-article/blog-article
    include ../../_items/blog-article/blog-article
    include ../../_items/blog-article/blog-article
    include ../../_items/blog-article/blog-article
    include ../../_items/blog-article/blog-article

