.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Агарцин: на пути к священному монастырю

      img(src='./assets/img/about/about-1.jpg' alt='img')

      .page-inner__info
        ul
          li Население – 3 842 чел (2014)
          li Расстояние от Дилижана – 11 км
          li Высота над уровнем моря – 980 м
          li Климат умеренный, мягкий

          li Средняя температура:
            ul
              li летом +19°С
              li зимой -2°С

          li Дата основания – 1815 г.
          li Прежние названия – Джархеч, Куйбышев


      p Агарцин – одно из старейших сел в Тавушской области, расположенное в 11 км к северо-востоку от Дилижана, на левом берегу реки Агстев. В непосредственной близости, в 2 км к западу, находится село Техут, которое ранее являлось одним из районов современного Агарцина
      p Агарцин является одним из ключевых перекрестков региона, так как через него проходит трасса, соединяющая  Иджеван и Берд с Дилижаном, Разданом, Ванадзором и Ереваном. В настоящее время Агарцин входит в число самых густонаселенных сел Армении (23-е из 953).
      p Над селом  возвышается гора Ехегнасар (2670 м), а в его непосредственной близости находится одна из главнейших достопримечательностей Армении, жемчужина армянской средневековой архитектуры – монастырский комплекс Агарцин (XI—XIII в). (гиперссылка на материал “Монастыри Дилижана”)
      p Этимология слова “агарцин”  восходит к слову «единородный» (Հաղ – целый, ծին –рождение), согласно другой версии – название села переводится как “игра орлов” (“արծիվների խաղ”).
      p Согласно официальным данным, село Агарцин было основано 11 августа 1815 г. предположительно семьями-переселенцами из Ачаджура* и называлось Джархеч (4 креста).  Другая версия гласит, что село было основано князем Джаром Арцруни, а само слова “джархеч” переводится как “опора Джара”. В 1940 г. село было переименовано в Куйбышев и только в 1991 году получило название Агарцин – по названию одноименного монастыря.

      p Основные отрасли агрокультуры и занятости населения:
        ul
          li животноводство,
          li разведение полевых, сельскохозяйственных растений,
          li овощеводство, садоводство
          li выращивание табака
          li пчеловодство
          li сфера обслуживания (туризм)

      p Окрестности Агарцина богаты залежами оригинальных, разноцветных минералов, осадочных горных пород. Здесь также есть месторождения железа и алюминиевых бокситов. Реки окрестностей Агарцина богаты разновидностями рыбы, самые ценные разновидности – мурци и кармрахайт.  В густых лесах Агарцина еще остаются руины 7 крепостей, которые насчитывают 300 - 5 500 летнюю историю. В 2 км на восток от села находятся 2 древних, заброшенных поселения, а в северной части – руины храма “Жами тах” и часовня Сурб Саргис. На территории самого села также сохранились руины храма Сурб Аствацацин (св. Богородицы) 1846 года.

      .page-inner__info
        p Что поблизости?
        ul
          li смонастырский комплекс Агарцин
          li озеро Парз
          li гора Абехакар
          li лесные крепости (руины)
          li пекарня “Агарцни гата”





    //.fixed-nav
    //  ul
    //    li
    //      a(href="") Title
    //    li
    //      a(href="") Title


