.title-link
  display: flex
  justify-content: space-between
  align-items: center
  gap: 15px
  margin-bottom: 30px

  &:first-child
    @extend .font-s-2
    font-family: 'Artico-ExtraCond', sans-serif
  a
    @extend .font-s-15
    color: var(--c-green)
    align-self: flex-end

