.title-link
  h2 События
  a(href='') подробнее о людях
    svg.arrow-nav__next(width="18" height="16" fill="#565654" stroke="#565654" opacity="0.35")
      use(href='./assets/img/sprite.svg#arrow-nav-small')
