.about-human.grid.container
  .about-human__container
    h1.about-human__title Саркисян Армен Темурович
    p.about-human__subtitle Мэр города Дилижан
    .about-human__image
      img(src="./assets/img/about-people/02.jpg" alt="Саркисян")
    .about-human__content
      p.about-human__text Техут – небольшое село в Тавушской области в нескольких километрах на северо-восток от Дилижана, расположенное на левом берегу реки Агстев.  Техутская община была основана в 1925 г. переселенцами из с. Джархеч (ныне Агарцин), а 5 ноября 1993 г. Техут стал самостоятельным селом, отделившись от Агарцина.
      p.about-human__text Это интересный узел для путешественников, так как село находится на живописной дороге Дилижан-Иджеван, а недалеко от него находятся монастыри Агарцин и Джухтак, озеро Парз – одни из главных достопримечательностей Тавушской области.
      p.about-human__text Техут окружен преимущественно лесистыми горами.
