.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Ани Арутюнян: «В Дилижане я реализовала все свои проекты»

      img(src='https://sun9-81.userapi.com/impg/xC6XHScyyKLVwn-0oaOl-p7vFrpAlE8zd0SBKg/oMRZXVzXkU4.jpg?size=1080x1350&quality=95&sign=70b382dbc858dcab955278aa1e6996c7&type=album' alt='Ани Арутюнян')

      p В Дилижане я реализовала три своих проекта – Caffeine Coffee Roasters, с которого всё и началось 6 лет назад, исследовательская кухня Arm Food Lab, пекарня Ootelie. Сама я из Еревана, но мне было принципиально важно реализовать свою идею вне столицы. И когда мы только-только задумывалась над первым проектом по изготовлению высококачественного кофе – Caffeine Coffee Roaster, выбор пал на Дилижан.
      p Если честно, это было очень спонтанное решение –  без долгого планирования. Но сейчас я думаю: как же хорошо, что мы это сделали! Дилижан оправдал мои ожидания. Я очень полюбила этот город, и последние 6 лет моя деятельность тесно связана с ним.
      p Все три мои инициативы объединены подходом, принципами и акцентом именно на исследовательскую работу. В частности, это касается проекта Arm food lab, который является своеобразной лабораторией не только для исследований армянской кухни, но и самих продуктов региона.
      p По образованию я искусствовед-историк, и исследования – очень важный аспект в моей профессии. Это мне помогло при реализации инициативы: здесь мы проводим исторические исследования, изучаем традиции армянской кухни, а также все те продукты, которые производятся и растут на территории Армении. У Arm food lab есть электронный архив, в котором будет представлена информация о съедобных растениях и травах Армении, и где особое внимание будет уделено правилам сбора растений. Мне бы очень хотелось чтобы у нас развивалась культура осознанного сбора. Ведь у нас есть растения, которые хоть и съедобны, но занесены в Красную книгу. В электронном архиве они будут отмечены специальной меткой.
      p Сейчас я на пути к ответу на вопрос – что из себя представляет армянская традиционная кухня? Всей исследовательской деятельностью я занимаюсь сама. Это неисчерпаемая и колоссальная работа. Поэтому мне очень хотелось бы создать команду, желательно из дилижанской молодежи, которая будет заниматься тем, что ее интересует: может быть, кого-то заинтересуют исследования, кого-то фотографирование и сбор, кого-то кулинария. И я полна надежд, что однажды у меня получится это сделать!
      p Ани Арутюнян, основатель проектов Caffeine Coffee Roasters, Arm food lab и Ootelie.

