.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Арман Бадеян: «Жить в Дилижане и не заниматься творчеством – это преступление»

      img(src='https://sun9-41.userapi.com/impg/K1QSO05gJrJ6MOJaFDyclHnRy7lvKm1s39pI5Q/NLipTHtWeHg.jpg?size=1080x1080&quality=96&sign=b379e314e0f2268b4274a1117595c0c1&c_uniq_tag=_5eIxJNZbPqFyT-BdUfASNdkXgQIqd4ByfeECa731Ng&type=album' alt='Арман Бадеян')

      p Жить в Дилижане и не заниматься творчеством – это преступление. Любым творчеством. Можно рисовать, фотографировать, писать, вышивать, придумывать какие-то сумасшедшие проекты. Фантазировать и мечтать в конце концов!
      p Сам я перепробовал все, что связано с творчеством: живопись, ковроткачество, гравюра, графика, ювелирное ремесло и т.д. А как же иначе? Ведь здесь невозможно жить по-другому. Уже с первыми лучами солнца хочется творить, созерцать, созидать.
      p Хоть я и открыт ко всему новому, основное моё дело – живопись. Здесь, как и в любом другом искусстве, для меня не существует “измов”, и я не загоняю себя в рамки одного направления. Но рисую чаще всего пейзажи. И это вполне предсказуемо, ведь невозможно жить в Дилижане и рисовать что-то другое.
      p Можно ли устать от этого места? Нет, потому что природа здесь всегда разная, горы здесь разные: то затерянные в облаках, то ясные, то утопающие в зелени, то огненно-красные.  Дилижан хорош в любое время года.
      p А как он меняет мышление людей, отношение к жизни. Каждый, кто приезжает в Дилижан, наполняется творчеством. Это происходит уже при въезде в город, на серпантинах.
      p Существует стереотип, что дилижанцы ленивы. Буду честен и позволю себе добавить немного перчинки – это правда. Дилижанский пейзаж, в отличие от других армянских пейзажей, достаточно мягок. И эта зелень, эти лесистые горы – настоящий «релакс» для местных: они всегда спокойны, расслаблены и, так получилось, что ленивы. (смеётся).
      p Арман Бадеян – художник, основатель мастерской и ювелирного бренда BuduArt, директор Краеведческого музея – Национально галереи Дилижана. Коренной дилижанец.
