.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Инна Асрян: «Я не боюсь экспериментировать!»

      img(src='https://sun9-63.userapi.com/impg/KYoC4_rVxuO6IWDf1UqQX6cN59ADb8o0WANRLg/tPAxUiOwRVQ.jpg?size=1080x1350&quality=95&sign=e91d6f5e97f9e9314fc225417fc42ae2&type=album' alt='Инна Асрян')

      p Я из Сюника, родилась и выросла в Алидзоре – безумно красивое место среди гор и скал. Училась в Ереване, с 16 лет работала в сфере обслуживания. От официантки доросла до генерального менеджера. Проработала также на канатной дороге TaTever в Татеве, менеджером в гостевом доме Toon Armeni в Дилижане. Затем был период, когда я всё же вернулась в Ереван.
      p После стольких поисков и «скитаний» я поняла, что Ереван – не мой город. Он очень шумный, очень суетный. Звучит парадоксально, ведь сама я очень  активный человек.  Однако дилижанское спокойствие (со всеми его плюсами и минусами) меня притянуло. Притянуло, но не изменило характер.
      p Я чувствовала, что пришло время что-то делать: что-то свое, что-то для города, для его жителей. У меня было хобби – выпечка десертов. Тогда у меня был небольшой онлайн-магазин с доставкой. Поэтому решила реализоваться именно в этой сфере.
      p 18 сентября 2021 года стал днем рождения Darchin pastry and café! Это проект, в который я вложила все свои внутренние ресурсы.
      p Я люблю свою работу, иначе как бы держалась на плаву? Я все делаю сама и пока что придерживаюсь идеи «one person concept». Рано утром покупаю свежие продукты, сама обслуживаю посетителей, сама навожу чистоту, сама мою посуду, сама занимаюсь логистикой. И, конечно же, сама готовлю десерты. И здесь я предпочитаю полную творческую свободу. Каждый посетитель вдохновляет меня на эксперименты. Мне хочется приготовить что-то такое, что подошло бы именно этому человеку, его настроению. А какие интересные, разные люди приходят в Darchin! Это люди разных профессий, разных взглядов, с разными, необычными хобби. Это и местные жители, и приезжие.
      p Люблю новых людей, люблю общаться: мы здесь беседуем, делимся впечатлениями, обсуждаем самые невероятные вещи.
      p Кроме того, концепция моего кафетерия предполагает только натуральные ингредиенты, местные ягоды и фрукты, отсутствие химических добавок и красителей, я не работаю с кремом и марципаном. Предлагаю и веганские десерты, к которым местные жители в первое время относились скептически. А сейчас мой веганский морковный пирог больше никого не смущает — это же может быть так вкусно. И в этом вся я: не боюсь экспериментировать, не боюсь быть непонятой.
      p В потоке всего этого драйва, даже в самый разгар туристического сезона, я останавливаюсь на миг, смотрю на Дилижан, а он все тот же – спокойный и невозмутимый. Птички поют, кругом зелено, а какие здесь цепляющие закаты!
      p Меня часто спрашивают: «как же ты там остаешься, там же скучно, неинтересно». Но я отвечаю, что так не бывает: активность и яркие эмоции дарим мы себе сами. Нужно хотеть жить, хотеть творить, нужно хотеть видеть возможности.
      p Считаю ли я себя дилижанкой? Да! И в родном Сюнике вовсе не обижаются.
      p Инна Асрян – основательница Darchin pastry and cafe.

