.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Варда Аветисян: «Я научилась слушать и слышать тишину»

      img(src='https://avatars.dzeninfra.ru/get-zen_doc/2420191/pub_5eba9782cf3f022fdb270e33_5eba97a034fef71215127365/scale_2400' alt='Варда Аветисян')

      p Дилижан – мой третий дом. Первый – Ереван, второй – Чикаго, а третий – Дилижан. И возникает вопрос, как же так? Почему после таких больших, шумных и активных городов я остановилась в Дилижане?
      p Я всегда была очень активным человеком, а Дилижан, который уже стал для меня домом, подарил мне возможность сделать паузу. Паузу, чтобы разобраться в себе, понять, что важно, а что – нет. Я научилась слушать и слышать тишину: весь ненужный шум, вся ненужная суета ушли, осталось только то, что должно было остаться. Осталось то самое чувство умиротворения, благодаря которому, возможно, и родились все мои проекты. Это была перезагрузка к новому старту.
      p Я живу здесь с 2013 года. Но сама я из Еревана, а в Америке оказалась как студент по обмену: 10 лет проучилась и проработала там, смогла набраться опыта, знаний и вырасти. Но в последние годы жизни в США я постоянно искала поводы для приезда в Армению. В Дилижане я тогда разглядела перспективы, здесь открылась школа Айб, в которую могли ходить мои дети, и я решила переехать, но временно. А потом, три года спустя, родился мой первый проект – ресторан Kchuch…И пошло-поехало.
      p Сначала меня все отговаривали от этой идеи, но я так рада, что своим примером мы показали, что и в маленьких городах можно смело открывать концептуальные рестораны, идти на риск, выбирать интересные названия, изучать традиционную кухню, экспериментировать с рецептами. Нам действительно было, что сказать как с точки зрения сохранения местной культуры (мы возродили «пур» (пекарня), традиции готовить в глиняных кчучах, в чугунной таве), так и с точки зрения новых подходов, нового прочтения традиционной кухни.
      p Когда мы только открылись, у нас не было ни одно профессионала, ни одного шеф-повара. Работали местные домохозяйки, которые доросли до старших поваров. К нам приходят местные подростки, школьники, в качестве помощников, и уже через некоторое время становятся частью нашей команды – официантами, барменами, поварами.
      p Бизнес-деятельность – это не только сухой расчет. Хороший предприниматель с какой только сферой не соприкасается: это и расчеты, и маркетинг, и обслуживание, и общение с людьми, и психология, и, наконец, творчество. Да, я всегда говорю, что занимаюсь творчеством. А когда ты занимаешься творчеством, ты не вступаешь ни с кем в конкуренцию. Я не верю в конкуренцию и не участвую в ней: мы делаем свою работу, делаем ее с любовью, и пока это интересно людям, они к нам приходят. Когда наша концепция перестанет привлекать посетителей, то мы придумаем что-то другое. Поэтому меня очень радует, когда открываются новые, интересные рестораны, и я хочу, чтобы они были созвучны именно с Дилижаном: дарили тепло, уют и покой.
      p Дилижан ни в коем случае не должен потерять свою глубину, свою идентичность. Здесь иное, спокойное, расслабляющее энергетическое поле. И если мы потеряем эту атмосферу покоя, то потеряем свою привлекательность. Мне бы очень хотелось, чтобы люди приезжали сюда именно за этим – отдохнуть, оторваться от суеты. Поправить здоровье – как физическое, так и душевное.
      p Варда Аветисян – основательница VARDO Group LLC (включает рестораны Tava, Kchuch, пекарню “Агарцни гата”, Losh).

