.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Жирайр Аванян
      p <b>О концепции развития Дилижана и оптимизме</b>

      img(src='https://sun9-46.userapi.com/impg/K9UuUMDZ9wWa5T4cGR9z46hO_Y2WEGEGUQsUOA/3bpJDzyROGQ.jpg?size=1080x1350&quality=95&sign=bc4b086112b86720881a25804976123c&type=album' alt='Жирайр Аванян')


      p Меня часто спрашивают, жалею ли я, что вообще переехал в Армению из Штатов? Я не люблю жалеть, и никогда ни о чем не жалею. Я доверился судьбе и отдал свою жизнь в её руки. Вот уже более 20 лет я живу в Армении, 8 из них – в Дилижане, полтора года тут, в моём доме, в Im Toon. Да, я изначально хотел построить себе дом, но потом все это переросло в проект гостевого дома и ресторана. Теперь я живу здесь и каждое утро встречаю гостей.
      p Что я могу сказать о своей жизни в Армении? В США у меня было много бизнес-проектов, но я никогда не задумывался о том, чтобы быть полезным стране. Здесь же всё по-другому: на первый план выходит социальная часть, концепция. Это более ответственный подход. Возможно, в экономическом и прагматическом плане я поступил неправильно, но сейчас моя жизнь стала более наполненной. Наверное, в этом и есть причина моей мотивации – не останавливаться на одном проекте. Ведь в Армении столько всего еще нужно сделать.
      p Знаете, в этом есть и прагматизм: если ваша бизнес-концепция нацелена просто на зарабатывание денег, то она будет иметь действительно краткосрочный эффект. С социальными и креативными проектами всё иначе. Проект Im Toon является наименее коммерческим проектом Dolmama. У меня есть намерение задать новые стандарты для Дилижана – меньше коммерции, больше креатива и социальной направленности.
      p Знаете, Дилижан сейчас переживает период бурного развития, и мы должны сделать всё возможное, чтобы это развитие двигалось в правильном русле, чтобы город не стал просто безликим местом притяжения денег. Это уютный, туристический, доброжелательный, атмосферный город  без каких-либо ярких высотных зданий-гостиниц, казино и ярой коммерции, которая может всё испортить. Мы должны сделать все возможное, чтобы сохранить колорит и стиль города, не добавляя каких-либо инородных элементов.
      p Но я всё же склоняюсь к тому, что Дилижану это не грозит. Заведения здесь очень аутентичны, имеют собственный стиль и концепцию. Я даже заметил, что местные жители стали ремонтировать свои дома, искать интересные дизайнерские подходы, красить стены, создавать уют, чтобы сдавать комнаты. И это переплетение маленьких звеньев, создающих нечто уникальное, выведет город в совершенно другое измерение. Возможно, Дилижан станет самым красивым представителем Армении в мире. А, может быть,  и отдельной «планетой».
      p Да, я оптимист. По крайней мере, всегда стараюсь быть оптимистом, потому что иначе – нет смысла. Вот представьте, вы уже летите в самолете, какая разница, потерпит ли он крушение или нет? Выйти из него вы уже не сможете, а если он потерпит крушение, то всё закончится и станет неважным. А раз мы все пока летим, то должны продолжать (это применимо и к жизни человека, и даже к стране) свой путь, несмотря ни на что.
      p Жирайр Аванян – основатель сети ресторанов Dolmama, владелец ImToon Dilijan.
