.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Овк: ворота в небеса

      img(src='./assets/img/about/about-1.jpg' alt='img')




      .page-inner__info
        ul
          li Население – 435 чел
          li Расстояние от Дилижана – 25 км
          li Высота над уровнем моря – 1 190 м
          li Климат умеренный, мягкий

          li Средняя температура:
            ul
              li летом +20°С
              li зимой -2°С

          li Дата основания: точная дата неизвестна
          li Упоминание под топонимом Овк – 1991 г.


      p Овк – небольшое село в Тавушской области, в 25 км от Дилижана и в 12 км от областной столицы, города Иджеван.  Овк – самое высокогорное село дилижанской общины, располагается на высоте 1 190 м над уровнем моря. Местные жители называют это место воротами в небеса: здесь в буквальном смысле можно притронуться к облакам.
      p Село располагается на склонах линейных скал, высота которых около 2 500 м, что делает эту местность более контрастной по сравнению с другими селами дилижанской общины.
      p Первое упоминание топонима “Овк” отсылает нас к летней резиденции династии Аршакуни, которая, согласно некоторым источникам, находилась на территории современного Дилижана. Тогда территории дилижанской общины являлись частью области Айрарат Великой Армении.




      p Основные отрасли агрокультуры и занятости населения:
        ul
          li животноводство,
          li овощеводство (фасоль, кукуруза, лук)
          li выращивание табака


      p Недалеко от села находятся руины крепости Ахчкаберд (девичья крепость) и крепости Манташ эпохи правления династии Багратуни.
      p Близ села, вдоль дороги, ведущей в Иджеван, находится также искусственное озеро Кари.


      .page-inner__info
        p Что посмотреть?
        ul
          li скалы Овка
          li крепость Ахчкаберд
          li крепость Манташ
          li озеро Кари





    //.fixed-nav
    //  ul
    //    li
    //      a(href="") Title
    //    li
    //      a(href="") Title


