.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 BuduArt

      img(src='https://hyurservice.com/images/attractions/1/16119507516509/hqdefault.jpeg' alt='BuduArt')

      p Еще одна оригинальная  арт-студия, которую в 2008г. основали дилижанские художники Арман Бадеян и Маргарита Малхасян.
      p По словам Армана, на создание мастерской их вдохновили живописная природа, а также богатое культурное наследие города и творчество других дилижанских художников. В рамках проекта Buduart, Арман выпустил линейку ювелирных украшений из меди, в которых отражается эстетика древнейших украшений, хранящихся в <b>Краеведческом музее Дилижана</b>.
      p Здесь посетители могут принять участие в мастер-классах по изготовлению украшений, батику, а также рисованию




