.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Городской парк и искусственное озеро

      img(src='http://img.tourister.ru/files/2/4/6/3/1/6/6/4/original.jpg' alt='Искусственное озеро в Дилижане')

      p Дилижан – город для длительных прогулок, размышлений, творчества и перезагрузки. Независимо от того, какой вид отдыха вы предпочитаете, на какой срок вы приехали, в этом маленьком городе можно найти то, что вам по душе. Одним из топовых мест Дилижана является <b>городской парк</b> и <b>искусственное озеро</b>. Это одна из главных рекреационных зон, которая настолько полюбилась местными жителями и туристами, что стала ассоциироваться с центром города. Здесь можно насладиться чашечкой кофе или чая в <b>Cafe&nbsp;#2</b>, покататься на велосипеде, поучаствовать в различных мероприятиях, сфотографироваться с <b>памятником героям фильма «Мимино»</b> и попробовать ту самую легендарную дилижанскую воду, которую так расхваливал герой Фрунзика Мкртчяна, приобрести памятные handmade сувениры. Наконец, городской парк и территория вокруг дилижанского озера – прекрасное место для прогулок: семейных, романтических, да и просто прогулок наедине с собой.
      p В парковой зоне находится <b>Туристический информационный центр Дилижана</b>, в котором можно получить всю необходимую информацию о городе, зонах отдыха, а также взять напрокат велосипеды, палатки и прочие туристические снаряжения.
      p На территории городского парка действует самый большой в Армении веревочный парк <b>VereV</b>, баскетбольная площадка, зоны для семейного отдыха с детьми.
      p В 2018 году фонд «Инициативы развития Армении» (IDeA) начал возрождение и модернизацию городского парка Дилижана. Это одно из проявлений более долгосрочного видения фонда IDeA, согласно которому Дилижан будет преобразован в центр  культуры, образования, здравоохранения и туризма.
