.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Центр города и советское наследие

      img(src='' alt='')

      p После того как Дилижан в 1958 г. получил статус города-курорта республиканского подчинения, началось активное благоустройство городской среды. Кроме рекреационной зоны, главным украшением которой стало искусственное озеро, появился также новый административный центр. Административные здания были построены в стиле модернизма, который был на пике популярности в тот период (к слову, армянские архитекторы того времени отличались смелыми решениями и внесли вклад не только в союзную, но и мировую архитектуру). Это Дворец культуры, здание городского совета КП Армении,  дом связи, кинотеатра, городская библиотека, универмаг. Завершающим аккордом административного центра был памятник Ленину.
      p В настоящее время, к сожалению, большая часть зданий административного центра нуждается в бережной реконструкции и модернизации  с сохранением собственного, модернистского стиля и авторской задумки. Некоторые здания, например, здание кинотеатра, перестали действовать по прежнему назначению.


