.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Улица ремесленников и старый город

      img(src='https://avatars.dzeninfra.ru/get-zen_doc/1626348/pub_5cbb3fbf1c8e87021bb86ee2_5cbb4c2b953d9400b3f9eabb/scale_2400' alt='')

      p А вы любите средневековые, узкие улочки? Если да, то в самом сердце Дилижана есть самый настоящий старинный квартал, выделяющийся аутентичной архитектурой, вывесками в средневековом стиле, мастерскими и сувенирными лавками. Это улица Шарамбеяна, где расположен гостиничный комплекс Old Dilijan Tufenkian complex.
      p Здесь можно не только сделать замечательные фотографии и приобрести памятные сувениры, но и записаться на мастер-классы по керамике и резьбе по дереву.


