.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Краеведческий музей и картинная галерея Дилижана

      img(src='https://cdn-ynd-nav.technolab.com.ru/file/5cf7ebed1946a10018d636cc' alt='Краеведческий музей')

      p Краеведческий музей Дилижана дает полное представление об истории, географических особенностях, быте и культуре Дилижана. Это машина времени, благодаря которой можно отправиться в эпоху позднего энеолита или в изысканные городские интерьеры интеллигенции XIX века, ознакомиться с необычными орнаментами на украшениях и древнейших предметах быта, а также убедиться в уникальности технологий армянского ковроткачества, гончарного дела и других ремесел.
      p Любителям изобразительных искусств стоит посетить картинную галерею, в которой представлены полотна не только известных армянских художников, но и всемирно известных зарубежных живописцев.
      p В музее также проводятся специализированные мастер-классы для посетителей всех возрастов.


