.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Музей-мастерская Ашота Бабаяна

      img(src='https://armeniaplanet.com/Content/Img/Creative/ashot-babayan-wood-art/2.jpg' alt='Музей-мастерская Ашота Бабаяна')

      p Настоящая деревянная сказка, которая стала былью благодаря умелым рукам мастера Ашота Бабаяна. Он родился и вырос в Дилижане, именно в этом доме. Переломным моментом в жизни мастера стало рождение внука: тогда он впервые взял в руки дерево и стал творить. Количество экспонатов сосчитать практически невозможно: здесь и сердце Данко, и лампа Джина, и сотни других причудливых работ. По словам мастера, каждая работа несет свой посыл, он ничего не делает просто так.
      p Есть здесь и домик Василисы с волшебной аркой, которая стала настоящей достопримечательностью города. Тем, кто еще не нашел спутника жизни, Ашот рекомендует пройти под этой аркой и загадать желание. Если искренне верить, то задуманное обязательно сбудется.
      p Вход на территорию мастерской свободный. Ашот считает, что люди в этом месте успокаиваются и могут бродить здесь часами. Ведь атмосфера здесь уникальная.




