.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Экскурсия по Музею денег

      img(src='https://photos.wikimapia.org/p/00/02/40/09/90_big.jpg' alt='Музей денег')

      p В Дилижанском учебно-исследовательском центре Центробанка Армении проводятся экскурсии по музею истории армянской национальной валюты – драма. В выставочном зале представлены монеты, датируемые 4-м веком до н.э., монеты династии Арташесидов, Киликийской Армении, купюры времен Первой Республики.
      p У посетителей есть также уникальная возможность ознакомиться и с редкими монетами эпохи Александра Македонского, Римской империи, Арабского халифата и др.
      p Частью экспозиции являются также памятные монеты, выпущенные ЦБ Армении и посвященные значимым политическим и культурным событиям страны. А с открытой террасы здания учебно-исследовательского центра, выполненного в неомодернистском стиле, открывается замечательный вид на город.






