.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Улочки Дилижана и возрождение традиций

      img(src='https://core-pht-proxy.maps.yandex.ru/v1/photos/download?photo_id=TNrnW7fJO5GAeXUZ_wy9pA&image_size=X5L' alt='')

      p Дома в традиционном, старинном стиле, датируемые XIX столетием, можно увидеть не только на улице Шарамбеяна. Традиционные дома в т.н. дилижанском стиле выделяются открытыми балконами и верандами с тонкими искусно обработанными деревянными колоннами и архитравами, а также крышами, покрытыми красной черепицей, гармонично вписываются в ландшафт города. Более того, кроме эстетического эффекта эти дома – с ажурными балконами и великолепной резьбой по дереву – имеют уникальное культурологическое значение в Армении, где основным архитектурным материалом является не дерево, а камень.
      p Подобные дома сохранились в старинном квартале Дилижана – Папанино. Отметим, что район Папанино до обретения Дилижаном статуса города был молоканским поселением, что также повлияло на архитектурный стиль местных сооружений.
      p Образцы народной архитектуры можно встретить и на улице Мясникяна, Калинина, Лермонтова (карами куча). Многие дома, к сожалению, не сохранились или находятся в полуразрушенном состоянии. Сохранившиеся дома реконструированы в мастерские, сувенирные лавки, аутентичные рестораны. Более того, появилась тенденция возрождения старинных традиций строительства. При строительстве новых зданий или реставрации старых учитываются местные обычаи деревянного зодчества. Обратите внимание на новые автобусные остановки в городе – все они также выполнены из дерева.


