.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Монумент в честь 50-летия Советской Армении

      img(src='http://img.tourister.ru/files/2/4/6/3/1/5/9/8/original.jpeg' alt='Монумент в честь 50-летия Советской Армении')

      p Авторы монумента: Сейран Аветисян, Хорен Ватинян и Артур Тарханян.
      p Этот монумент можно смело назвать самым узнаваемым памятником Дилижана, своеобразным символом города. Его видно практически из любой точки Дилижана.
      p Монумент был установлен в честь 50-летия Советской Армении, в 1970 году. Каждая из 5 конечностей символизирует одно десятилетие. Этот монумент нельзя назвать устаревшим: модернистский стиль и такой модный в наше время минимализм придают ему новый символизм и актуальность. В настоящее время он является одним из главных арт-объектов города и органично вписывается в ландшафт.
      p Отметим, что Артур Тарханян является одним из выдающихся архитекторов советской Армении, всемирно известным представителем эпохи модернизма. Самыми известными работами архитектора являются старый терминал аэропорта «Звартноц», Спортивно-концертный комплекс им. Карена Демирчяна, кинотеатр «Россия».



