.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 «Армения» по подобию богини Анаит

      img(src="https://sun9-21.userapi.com/impg/bit4pc5YISEu-JXjiPKS9qMzkCz77QT01UECuw/IhBsE8u6WhU.jpg?size=810x540&quality=96&sign=afde3297efab5a988a75518aae91528d&type=album")

      p Эта скульптура была создана в 1960 г. Карленом Нуриджаняном в рамках торжественных мероприятий в честь 40-летия Советской Армении. В течение нескольких недель художники и скульпторы работали прямо у здания Союза художников в Ереване. В результате этого марафона (так бы сегодня назвали это мероприятие) и появилась скульптура «Армения», которая вскоре была перевезена в Дилижан.
      p Современники Нуриджаняна считают, что в чертах  воинственной и одновременно нежной девушки автор воплотил образ богини Анаит, что символизирует плодородие, материнство и возрождения.


