.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Царь леса

      img(src="https://www.abandonedspaces.com/wp-content/uploads/sites/58/2019/11/soghomon-matevosyan-cc-by-sa-4-0-h.jpg")

      p В 1966 г. семья армянского скульптора Ара Саркисяна отдыхала на склонах лесистой горы в Дилижане, в правительственной даче Агаси Ханджяна. Прогуливаясь в окрестностях дачи, скульптор заметил огромное дерево и решил придать ему «человеческий облик».
      p Так появилась очень необычная и органичная с дилижанскими лесными массивами скульптура – «Царь леса». Лесной царь или лесное божество, широко раскинув свои объятия и будто бы заключив в них весь лес, оберегает лесных обитателей от всевозможных злых духов.

