.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Памятник героям фильма «Мимино»
      img(src="https://s00.yaplakal.com/pics/pics_preview/1/6/3/11464361.jpg" alt="Памятник героям фильма «Мимино»")
      blockquote.italic
        p Валик-джан. У нас в Дилижане, в кухне, открываешь простой кран — вода течёт, второе место занимает в мире!
        p — А первая в Ереване, да? <br>
        p — Нет, в Сан-Франциско.

      p Автор скульптуры – Арменак Варданян.

      p Памятник героям культового советского фильма «Мимино», появившийся близ искусственного озера в 2011 г, бесспорно, является самым популярным и фотографируемым туристическим объектом города. Около памятника всегда многолюдно; по крайней мере, мы еще не застали это место пустующим, разве что – в плохую погоду.
      p Туристы фотографируются с бронзовыми скульптурами героев фильма и пробуют ту самую дилижанскую воду, которую так нахваливал герой Фрунзика Мкртчяна – добродушный водитель фуры «из солнечного Дилижана» Рубик Хачикян.
      p Персонажи Фрунзика Мкртчяна (Рубен Хачикян), Валико Мизандари (Вахтанг Кикабидзе) и Ивана Волохова (Евгений Леонов) символизируют дружбу трех народов: армянского, грузинского и русского. Эта бронзовая композиция не просто дань памяти легендарному фильму, но и символ искренних человеческих взаимоотношений, далеких от политических перепалок и склок. Может быть, именно поэтому и фильм, и актеры, и скульптура так полюбились туристам.


