.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Городская скульптура Дилижана – известная и не очень

      img(src='./assets/img/about/about-1.jpg' alt='img')

      p Городские памятники выполняют не только эстетическую функцию: они хранят информацию об ушедших эпохах, истории и культуре города. Дилижан, безусловно, не является исключением. В городе сохранились как скульптуры 19-го века, так и памятники советского времени. Появляются также новые памятники, которые постепенно занимают свое место в культурно-историческом измерении города.
      p Итак, представляем вам подборку городских скульптур Дилижана – от самых популярных и известных, до затерянных и неизвестных.

      //h2 Монумент в честь 50-летия Советской Армении
      //
      //p Авторы монумента: Сейран Аветисян, Хорен Ватинян и Артур Тарханян.
      //p Этот монумент можно смело назвать самым узнаваемым памятником Дилижана, своеобразным символом города. Его видно практически из любой точки Дилижана.
      //p Монумент был установлен в честь 50-летия Советской Армении, в 1970 году. Каждая из 5 конечностей символизирует одно десятилетие. Этот монумент нельзя назвать устаревшим: модернистский стиль и такой модный в наше время минимализм придают ему новый символизм и актуальность. В настоящее время он является одним из главных арт-объектов города и органично вписывается в ландшафт.
      //p Отметим, что Артур Тарханян является одним из выдающихся архитекторов советской Армении, всемирно известным представителем эпохи модернизма. Самыми известными работами архитектора являются старый терминал аэропорта «Звартноц», Спортивно-концертный комплекс им. Карена Демирчяна, кинотеатр «Россия».


      //h2 Памятник героям фильма «Мимино»
      //img(src="https://s00.yaplakal.com/pics/pics_preview/1/6/3/11464361.jpg" alt="Памятник героям фильма «Мимино»")
      //blockquote.italic
      //  p Валик-джан. У нас в Дилижане, в кухне, открываешь простой кран — вода течёт, второе место занимает в мире!
      //  p — А первая в Ереване, да? <br>
      //  p — Нет, в Сан-Франциско.
      //
      //p Автор скульптуры – Арменак Варданян.
      //
      //p Памятник героям культового советского фильма «Мимино», появившийся близ искусственного озера в 2011 г, бесспорно, является самым популярным и фотографируемым туристическим объектом города. Около памятника всегда многолюдно; по крайней мере, мы еще не застали это место пустующим, разве что – в плохую погоду.
      //p Туристы фотографируются с бронзовыми скульптурами героев фильма и пробуют ту самую дилижанскую воду, которую так нахваливал герой Фрунзика Мкртчяна – добродушный водитель фуры «из солнечного Дилижана» Рубик Хачикян.
      //p Персонажи Фрунзика Мкртчяна (Рубен Хачикян), Валико Мизандари (Вахтанг Кикабидзе) и Ивана Волохова (Евгений Леонов) символизируют дружбу трех народов: армянского, грузинского и русского. Эта бронзовая композиция не просто дань памяти легендарному фильму, но и символ искренних человеческих взаимоотношений, далеких от политических перепалок и склок. Может быть, именно поэтому и фильм, и актеры, и скульптура так полюбились туристам.


      //h2 Памятник воинам Великой Отечественной Войны
      //img(src="http://www.armeniatur.am/d_images/2008-10-17_14-10_DSC03865_2.jpg" alt="Памятник воинам ВОВ")
      //
      //p Это самый большой в Закавказье памятник советским воинам, автором которого является заслуженный дилижанский скульптор и архитектор Хорен Ватинян.
      //p Это монументальное, мощное, но в то же время очень эмоциональное и глубокое произведение. По замыслу автора мемориал напоминает крест – изображение воина, несущего с поля боя раненного товарища.
      //p Комплекс включает памятные плиты с указанием имен 404 дилижанцев, погибших в годы Великой отечественной войны (ВОВ). Недалеко от мемориала находится братское захоронение 22 участников ВОВ, скончавшихся от ран уже в дилижанском гарнизонном госпитале.
      //p На территории мемориального комплекса расположен также памятный источник, посвященный героям Арцахской войны.


      //h2 «Армения» по подобию богини Анаит
      //
      //img(src="https://sun9-21.userapi.com/impg/bit4pc5YISEu-JXjiPKS9qMzkCz77QT01UECuw/IhBsE8u6WhU.jpg?size=810x540&quality=96&sign=afde3297efab5a988a75518aae91528d&type=album")
      //
      //p Эта скульптура была создана в 1960 г. Карленом Нуриджаняном в рамках торжественных мероприятий в честь 40-летия Советской Армении. В течение нескольких недель художники и скульпторы работали прямо у здания Союза художников в Ереване. В результате этого марафона (так бы сегодня назвали это мероприятие) и появилась скульптура «Армения», которая вскоре была перевезена в Дилижан.
      //p Современники Нуриджаняна считают, что в чертах  воинственной и одновременно нежной девушки автор воплотил образ богини Анаит, что символизирует плодородие, материнство и возрождения.


      //h2 «Ротонда» и новый амфитеатр
      //
      //img(src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/c1/56/09/dilijan-amphitheater.jpg?w=1200&h=-1&s=1")
      //p В конце XIX в. дилижанцы на свои средства построили в живописном уголке города летний театр «Ротонда». Именно здесь  в 1905 г. была впервые поставлена пьеса Габриеля Сундукяна «Пепо». С гастролями в Дилижане выступали театральные труппы Тбилиси, Баку и Александрополя. К сожалению, в 1948 г. летний театр был расформирован Управлением культуры, но традиция устраивать концерты, литературные чтения и прочие мероприятия в “Ротонде” сохранялась еще долгое время.  В настоящее время летний театр нуждается в серьезной реконструкции.
      //p В 2009 г.  по решению городских властей в центре Дилижана был построен новый <b>амфитеатр</b>, который является данью культурным и театральным традициям город.
      //p Небольшой ансамбль, композиция которого состоит из амфитеатра, скульптуры девушки с кувшином руках и классической арки с колоннами, выполнен в греческом стиле. Поэтому гости города не всегда догадываются, что это совершенно новый амфитеатр.
      //p В настоящее время в амфитеатре проводятся различные культурные и молодёжные мероприятия. Отсюда также открывается замечательный вид на Дилижан.


      //h2 Родник Матинова
      //
      //p По дороге к Ротонде обратите внимание на интересный,  декорированный источник – он был установлен более века назад.
      //p Этот декорированный мемориальный фонтан был установлен в 1880 г.  Вааном Матиновым. Ранее такие фонтаны встречались намного чаще, так как обеспеченные и известные семьи устанавливали их в кварталах старого города в память о своих семьях.  Такой состоятельной семьей были и Матиновы, переехавшие в Дилижан и Иджевана. Известно, что Ваан Матинов открыл в городе продуктовый магазин.
      //p Дом Матиновых (дилижанцы называют его “Матнанц”) находился прямо напротив источника.



    .fixed-nav
      ul
        li
          a(href="") Title
        li
          a(href="") Title


