.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Памятник воинам Великой Отечественной Войны
      img(src="http://www.armeniatur.am/d_images/2008-10-17_14-10_DSC03865_2.jpg" alt="Памятник воинам ВОВ")

      p Это самый большой в Закавказье памятник советским воинам, автором которого является заслуженный дилижанский скульптор и архитектор Хорен Ватинян.
      p Это монументальное, мощное, но в то же время очень эмоциональное и глубокое произведение. По замыслу автора мемориал напоминает крест – изображение воина, несущего с поля боя раненного товарища.
      p Комплекс включает памятные плиты с указанием имен 404 дилижанцев, погибших в годы Великой отечественной войны (ВОВ). Недалеко от мемориала находится братское захоронение 22 участников ВОВ, скончавшихся от ран уже в дилижанском гарнизонном госпитале.
      p На территории мемориального комплекса расположен также памятный источник, посвященный героям Арцахской войны.




