.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 «Ротонда» и новый амфитеатр

      img(src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/c1/56/09/dilijan-amphitheater.jpg?w=1200&h=-1&s=1")

      p В конце XIX в. дилижанцы на свои средства построили в живописном уголке города летний театр «Ротонда». Именно здесь  в 1905 г. была впервые поставлена пьеса Габриеля Сундукяна «Пепо». С гастролями в Дилижане выступали театральные труппы Тбилиси, Баку и Александрополя. К сожалению, в 1948 г. летний театр был расформирован Управлением культуры, но традиция устраивать концерты, литературные чтения и прочие мероприятия в “Ротонде” сохранялась еще долгое время.  В настоящее время летний театр нуждается в серьезной реконструкции.
      p В 2009 г.  по решению городских властей в центре Дилижана был построен новый <b>амфитеатр</b>, который является данью культурным и театральным традициям город.
      p Небольшой ансамбль, композиция которого состоит из амфитеатра, скульптуры девушки с кувшином руках и классической арки с колоннами, выполнен в греческом стиле. Поэтому гости города не всегда догадываются, что это совершенно новый амфитеатр.
      p В настоящее время в амфитеатре проводятся различные культурные и молодёжные мероприятия. Отсюда также открывается замечательный вид на Дилижан.

