.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Родник Матинова

      img(src='./assets/img/about/about-1.jpg' alt='img')

      p По дороге к Ротонде обратите внимание на интересный,  декорированный источник – он был установлен более века назад.
      p Этот декорированный мемориальный фонтан был установлен в 1880 г.  Вааном Матиновым. Ранее такие фонтаны встречались намного чаще, так как обеспеченные и известные семьи устанавливали их в кварталах старого города в память о своих семьях.  Такой состоятельной семьей были и Матиновы, переехавшие в Дилижан и Иджевана. Известно, что Ваан Матинов открыл в городе продуктовый магазин.
      p Дом Матиновых (дилижанцы называют его “Матнанц”) находился прямо напротив источника.

