.events-inner-header.container
  h1.events-inner-header__title События
  .events-inner-header__nav
    .events-inner-active.events-inner-header__nav-item Все
      svg(width='12' height='11' fill='#fff')
        use(href='./assets/img/sprite.svg#cross')
    .events-inner-header__nav-item Новые события
    .events-inner-header__nav-item От партнеров
