.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Топовые места Дилижана: что посмотреть, чем заняться и куда сходить?

      img(src='./assets/img/about/about-1.jpg' alt='img')


      h2#title1 Городской парк и искусственное озеро

      p Дилижан – город для длительных прогулок, размышлений, творчества и перезагрузки. Независимо от того, какой вид отдыха вы предпочитаете, на какой срок вы приехали, в этом маленьком городе можно найти то, что вам по душе. Одним из топовых мест Дилижана является <b>городской парк</b> и <b>искусственное озеро</b>. Это одна из главных рекреационных зон, которая настолько полюбилась местными жителями и туристами, что стала ассоциироваться с центром города. Здесь можно насладиться чашечкой кофе или чая в <b>Cafe #2</b>, покататься на велосипеде, поучаствовать в различных мероприятиях, сфотографироваться с <b>памятником героям фильма «Мимино»</b> и попробовать ту самую легендарную дилижанскую воду, которую так расхваливал герой Фрунзика Мкртчяна, приобрести памятные handmade сувениры. Наконец, городской парк и территория вокруг дилижанского озера – прекрасное место для прогулок: семейных, романтических, да и просто прогулок наедине с собой.
      p В парковой зоне находится <b>Туристический информационный центр Дилижана</b>, в котором можно получить всю необходимую информацию о городе, зонах отдыха, а также взять напрокат велосипеды, палатки и прочие туристические снаряжения.
      p На территории городского парка действует самый большой в Армении веревочный парк <b>VereV</b>, баскетбольная площадка, зоны для семейного отдыха с детьми.
      p В 2018 году фонд «Инициативы развития Армении» (IDeA) начал возрождение и модернизацию городского парка Дилижана. Это одно из проявлений более долгосрочного видения фонда IDeA, согласно которому Дилижан будет преобразован в центр  культуры, образования, здравоохранения и туризма.


      h2#title2 Улица ремесленников и старый город

      p А вы любите средневековые, узкие улочки? Если да, то в самом сердце Дилижана есть самый настоящий старинный квартал, выделяющийся аутентичной архитектурой, вывесками в средневековом стиле, мастерскими и сувенирными лавками. Это улица Шарамбеяна, где расположен гостиничный комплекс Old Dilijan Tufenkian complex.
      p Здесь можно не только сделать замечательные фотографии и приобрести памятные сувениры, но и записаться на мастер-классы по керамике и резьбе по дереву.


      h2#title3 Улочки Дилижана и возрождение традиций

      p Дома в традиционном, старинном стиле, датируемые XIX столетием, можно увидеть не только на улице Шарамбеяна. Традиционные дома в т.н. дилижанском стиле выделяются открытыми балконами и верандами с тонкими искусно обработанными деревянными колоннами и архитравами, а также крышами, покрытыми красной черепицей, гармонично вписываются в ландшафт города. Более того, кроме эстетического эффекта эти дома – с ажурными балконами и великолепной резьбой по дереву – имеют уникальное культурологическое значение в Армении, где основным архитектурным материалом является не дерево, а камень.
      p Подобные дома сохранились в старинном квартале Дилижана – Папанино. Отметим, что район Папанино до обретения Дилижаном статуса города был молоканским поселением, что также повлияло на архитектурный стиль местных сооружений.
      p Образцы народной архитектуры можно встретить и на улице Мясникяна, Калинина, Лермонтова (карами куча). Многие дома, к сожалению, не сохранились или находятся в полуразрушенном состоянии. Сохранившиеся дома реконструированы в мастерские, сувенирные лавки, аутентичные рестораны. Более того, появилась тенденция возрождения старинных традиций строительства. При строительстве новых зданий или реставрации старых учитываются местные обычаи деревянного зодчества. Обратите внимание на новые автобусные остановки в городе – все они также выполнены из дерева.


      h2#title4 Центр города и советское наследие

      p После того как Дилижан в 1958 г. получил статус города-курорта республиканского подчинения, началось активное благоустройство городской среды. Кроме рекреационной зоны, главным украшением которой стало искусственное озеро, появился также новый административный центр. Административные здания были построены в стиле модернизма, который был на пике популярности в тот период (к слову, армянские архитекторы того времени отличались смелыми решениями и внесли вклад не только в союзную, но и мировую архитектуру). Это Дворец культуры, здание городского совета КП Армении,  дом связи, кинотеатра, городская библиотека, универмаг. Завершающим аккордом административного центра был памятник Ленину.
      p В настоящее время, к сожалению, большая часть зданий административного центра нуждается в бережной реконструкции и модернизации  с сохранением собственного, модернистского стиля и авторской задумки. Некоторые здания, например, здание кинотеатра, перестали действовать по прежнему назначению.


      h2#title5 Краеведческий музей и картинная галерея Дилижана

      p Краеведческий музей Дилижана дает полное представление об истории, географических особенностях, быте и культуре Дилижана. Это машина времени, благодаря которой можно отправиться в эпоху позднего энеолита или в изысканные городские интерьеры интеллигенции XIX века, ознакомиться с необычными орнаментами на украшениях и древнейших предметах быта, а также убедиться в уникальности технологий армянского ковроткачества, гончарного дела и других ремесел.
      p Любителям изобразительных искусств стоит посетить картинную галерею, в которой представлены полотна не только известных армянских художников, но и всемирно известных зарубежных живописцев.
      p В музее также проводятся специализированные мастер-классы для посетителей всех возрастов.


      h2#title6 Музей-мастерская Ашота Бабаяна

      p Настоящая деревянная сказка, которая стала былью благодаря умелым рукам мастера Ашота Бабаяна. Он родился и вырос в Дилижане, именно в этом доме. Переломным моментом в жизни мастера стало рождение внука: тогда он впервые взял в руки дерево и стал творить. Количество экспонатов сосчитать практически невозможно: здесь и сердце Данко, и лампа Джина, и сотни других причудливых работ. По словам мастера, каждая работа несет свой посыл, он ничего не делает просто так.
      p Есть здесь и домик Василисы с волшебной аркой, которая стала настоящей достопримечательностью города. Тем, кто еще не нашел спутника жизни, Ашот рекомендует пройти под этой аркой и загадать желание. Если искренне верить, то задуманное обязательно сбудется.
      p Вход на территорию мастерской свободный. Ашот считает, что люди в этом месте успокаиваются и могут бродить здесь часами. Ведь атмосфера здесь уникальная.



      h2#title7 BuduArt

      p Еще одна оригинальная  арт-студия, которую в 2008г. основали дилижанские художники Арман Бадеян и Маргарита Малхасян.
      p По словам Армана, на создание мастерской их вдохновили живописная природа, а также богатое культурное наследие города и творчество других дилижанских художников. В рамках проекта Buduart, Арман выпустил линейку ювелирных украшений из меди, в которых отражается эстетика древнейших украшений, хранящихся в <b>Краеведческом музее Дилижана</b>.
      p Здесь посетители могут принять участие в мастер-классах по изготовлению украшений, батику, а также рисованию



      h2#title8 Экскурсия по Музею денег

      p В Дилижанском учебно-исследовательском центре Центробанка Армении проводятся экскурсии по музею истории армянской национальной валюты – драма. В выставочном зале представлены монеты, датируемые 4-м веком до н.э., монеты династии Арташесидов, Киликийской Армении, купюры времен Первой Республики.
      p У посетителей есть также уникальная возможность ознакомиться и с редкими монетами эпохи Александра Македонского, Римской империи, Арабского халифата и др.
      p Частью экспозиции являются также памятные монеты, выпущенные ЦБ Армении и посвященные значимым политическим и культурным событиям страны. А с открытой террасы здания учебно-исследовательского центра, выполненного в неомодернистском стиле, открывается замечательный вид на город.



      h2#title9 «Ротонда» и новый амфитеатр

      p В конце XIX в. дилижанцы на свои средства построили в живописном уголке города летний театр «Ротонда». В 1905 г. к 80-летию драматурга Габриэла Сундукяна здесь впервые была поставлена его пьеса «Пепо», на которой присутствовали известные деятели армянской культуры. С гастролями в Дилижане выступали театральные труппы Тбилиси, Баку и Александрополя. К сожалению, в 1948 г. летний театр был закрыт, но, по словам местных жителей, летний театр продолжал служить местом для неформальных собраний, концертов и творчества. На данный момент от “Ротонды” остались руины, которые хранят в себе историческую память о тех временах.
      p В 2009 г. , по решению городских властей, в центре Дилижана был построен амфитеатр (автор Нвер Даниелян), который является данью культурным традициям города, в частности, театральной культуре. Новый амфитеатр выполнен в изысканном стиле и напоминает, скорее, архитектурный ансамбль античной эпохи, нежели современное сооружение.

      p (гиперссылка на памятники Дилижана)
      p Смотрите также (гиперссылка на гайд по ресторанам)






    .fixed-nav
      ul
        li
          a(href="#title1") Городской парк и искусственное озеро
        li
          a(href="#title2") Улица ремесленников и старый город
        li
          a(href="#title3") Улочки Дилижана и возрождение традиций
        li
          a(href="#title4") Центр города и советское наследие
        li
          a(href="#title5") Краеведческий музей
        li
          a(href="#title6") Музей-мастерская Ашота Бабаяна
        li
          a(href="#title7") BuduArt
        li
          a(href="#title8") Экскурсия по Музею денег
        li
          a(href="#title9") «Ротонда» и новый амфитеатр


