.article-grid
  .container
    h1 Достопримечательности

    ul.article-grid__list

      li.article-grid__card
        a.article-grid__card-link(href="city-park-and-artificial-lake.html" style="background-image: url('http://img.tourister.ru/files/2/4/6/3/1/6/6/4/original.jpg');")
          .article-grid__card-content
            h2.article-grid__card-title Городской парк и искусственное озеро
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="craftsmen-street.html" style="background-image: url('https://avatars.dzeninfra.ru/get-zen_doc/1626348/pub_5cbb3fbf1c8e87021bb86ee2_5cbb4c2b953d9400b3f9eabb/scale_2400');")
          .article-grid__card-content
            h2.article-grid__card-title Улица ремесленников и старый город
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="streets-of-dilijan.html" style="background-image: url('https://core-pht-proxy.maps.yandex.ru/v1/photos/download?photo_id=TNrnW7fJO5GAeXUZ_wy9pA&image_size=X5L');")
          .article-grid__card-content
            h2.article-grid__card-title Улочки Дилижана и возрождение традиций
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="city-center.html" style="background-image: url('http://img.tourister.ru/files/2/4/6/3/1/6/2/7/original.jpeg');")
          .article-grid__card-content
            h2.article-grid__card-title Центр города и советское наследие
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="local-history-museum.html" style="background-image: url('https://cdn-ynd-nav.technolab.com.ru/file/5cf7ebed1946a10018d636cc');")
          .article-grid__card-content
            h2.article-grid__card-title Краеведческий музей и картинная галерея Дилижана
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="museum-master-ashota-babayana.html" style="background-image: url('https://armeniaplanet.com/Content/Img/Creative/ashot-babayan-wood-art/2.jpg');")
          .article-grid__card-content
            h2.article-grid__card-title Музей-мастерская Ашота Бабаяна
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="buduart.html" style="background-image: url('https://hyurservice.com/images/attractions/1/16119507516509/hqdefault.jpeg');")
          .article-grid__card-content
            h2.article-grid__card-title BuduArt
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="museum-of-money.html" style="background-image: url('https://photos.wikimapia.org/p/00/02/40/09/90_big.jpg');")
          .article-grid__card-content
            h2.article-grid__card-title Экскурсия по Музею денег
            span.article-grid__card-subtitle

      li.article-grid__card
        a.article-grid__card-link(href="rotunda-and-new-amphitheater.html" style="background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/c1/56/09/dilijan-amphitheater.jpg?w=1200&h=-1&s=1');")
          .article-grid__card-content
            h2.article-grid__card-title «Ротонда» и новый амфитеатр
            span.article-grid__card-subtitle
