.swiper-slide
  a(href="/en/places/gosh.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg/1024px-Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg' alt='Gosh')
    .place-card__content.place-card-content
      h3.place-card-content__title Gosh
      p.place-card-content__subtitle Following the footsteps of an outstanding thinker Mkhitar Gosh
      p.place-card-content__text Gosh is an ancient village in the Tavush region, on the left tributary of the Getik River. It is known for one of the main attractions of Armenia its medieval monastery complex Goshavank.

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='/assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Elevation:
              b 1 080 meters
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='/assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Average temperature in summer/winter:
              b +19°C — +25°C / -2°C — -7°C


.swiper-slide
  a(href="/en/places/hovk.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Hovk_village_10.jpg/1280px-Hovk_village_10.jpg' alt='Hovk')
    .place-card__content.place-card-content
      h3.place-card-content__title Hovk
      p.place-card-content__subtitle The gateway to heaven
      p.place-card-content__text Hovk is a small village in the Tavush region, it is 25 km from Dilijan and 12 km from the regional capital, the city of Ijevan. Hovk is the highest mountain village of the Dilijan community, located at an altitude of 1,190 m above sea level. Locals call this place the “gateway to heaven” since here you can literally touch the clouds

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='/assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Elevation:
              b 1 190 meters
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='/assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Average temperature in summer/winter:
              b +20°C / -2°C

.swiper-slide
  a(href="/en/places/aghavnavank.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/%D4%B1%D5%B2%D5%A1%D5%BE%D5%B6%D5%A1%D5%BE%D5%A1%D5%B6%D6%84.JPG/1280px-%D4%B1%D5%B2%D5%A1%D5%BE%D5%B6%D5%A1%D5%BE%D5%A1%D5%B6%D6%84.JPG' alt='Aghavnavank')
    .place-card__content.place-card-content
      h3.place-card-content__title Aghavnavank
      p.place-card-content__subtitle In the lap of majestic nature of the Tavush region
      p.place-card-content__text Aghavnavank is a village in the Tavush region, located on both sides of the Getik River. It’s a tiny but incredibly picturesque village, characterized by a contrasting mountain landscape. Aghavnavank is surrounded by majestic rocks and mountain ranges on almost all sides
      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='/assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Elevation:
              b 1 100 meters
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='/assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Average temperature in summer/winter:
              b +19°C / -3°C

.swiper-slide
  a(href="/en/places/haghartsin.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/f/fa/Haghartsin_Village.jpg' alt='Haghartsin')
    .place-card__content.place-card-content
      h3.place-card-content__title Haghartsin
      p.place-card-content__subtitle On the way to the holy monastery
      p.place-card-content__text Haghartsin is one of the oldest villages in the Tavush region, located 11 km northeast of Dilijan, on the left bank of the Aghstev River. Nearby (2 km to the west) is the village of Teghut, which was previously one of the districts of modern Haghartsin.Haghartsin is one of the key crossroads of the region since the highway connecting Ijevan and Berd with Dilijan, Hrazdan, Vanadzor, and Yerevan passes through it. Currently, Haghartsin is one of the most densely populated villages in Armenia (23rd out of 953)

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='/assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Elevation:
              b 980 meter
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='/assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Average temperature in summer/winter:
              b +19°C / -2°C

.swiper-slide
  a(href="/en/places/teghut.html").place-card
    .place-card__image
      img(src='https://www.info9.ge/images/stories/1280px-mtkvari-aragviconfluenceatmtskheta.jpg' alt='Teghut')
    .place-card__content.place-card-content
      h3.place-card-content__title Teghut
      p.place-card-content__subtitle On the crossroads of Dilijan and Ijevan
      p.place-card-content__text Teghut is a small village in the Tavush region, located on the left bank of the Aghstev River a few kilometers northeast of Dilijan. The village is located near the main road connecting Dilijan with the administrative center of the Tavush region, the city of Ijevan

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='/assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Elevation:
              b 1 150 meter
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='/assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Average temperature in summer/winter:
              b +19°C — +25°C / -2°C — -7°C

.swiper-slide
  a(href="/en/places/khachardzan.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Khachardzan_village.jpg/1920px-Khachardzan_village.jpg' alt='Khachardzan')
    .place-card__content.place-card-content
      h3.place-card-content__title Khachardzan
      p.place-card-content__subtitle Picturesque valleys and pastoral landscape
      p.place-card-content__text Khachardzan is a small, mountainous village in the Tavush region, located at the mouth of the Khachardzan River. It is located at an altitude of 1,050 m above sea level and is characterized by picturesque mountain and meadow landscapes. Khachardzan is located next to Aghavnavank, so the landscapes and natural wealth of these villages may seem identical

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='/assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Elevation:
              b 1 050 meter
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='/assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Average temperature in summer/winter:
              b +20°C / -2°C
