.swiper-slide
  a(href="gosh.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg/1024px-Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg' alt='Гош')
    .place-card__content.place-card-content
      h3.place-card-content__title Гош
      p.place-card-content__subtitle По следам выдающегося мыслителя Мхитара Гоша
      p.place-card-content__text Гош – старинное село в Тавушской области, на левом притоке реки Гетик, известно одной из главных достопримечательностей Армении – средневековым монастырским комплексом Гошаванк.

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='./assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Высота над уровнем моря:
              b 1 080 м.
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='./assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Средняя температура летом:
              b +19, +25 °C, зимой: -2, -7 °C.


.swiper-slide
  a(href="ovc.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Hovk_village_10.jpg/1280px-Hovk_village_10.jpg' alt='Овк')
    .place-card__content.place-card-content
      h3.place-card-content__title Овк
      p.place-card-content__subtitle Ворота в небеса
      p.place-card-content__text Овк – небольшое село в Тавушской области, в 25 км от Дилижана и в 12 км от областной столицы, города Иджеван.  Овк – самое высокогорное село дилижанской общины, располагается на высоте 1 190 м над уровнем моря. Местные жители называют это место воротами в небеса: здесь в буквальном смысле можно притронуться к облакам.

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='./assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Высота над уровнем моря:
              b 1 190 м.
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='./assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Средняя температура летом:
              b +20 °C, зимой: -2 °C.


.swiper-slide
  a(href="aghavnavank.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/%D4%B1%D5%B2%D5%A1%D5%BE%D5%B6%D5%A1%D5%BE%D5%A1%D5%B6%D6%84.JPG/1280px-%D4%B1%D5%B2%D5%A1%D5%BE%D5%B6%D5%A1%D5%BE%D5%A1%D5%B6%D6%84.JPG' alt='Агавнаванк')
    .place-card__content.place-card-content
      h3.place-card-content__title Агавнаванк
      p.place-card-content__subtitle На лоне величественной природы Тавушской области
      p.place-card-content__text Агавнаванк – село в Тавушской области, расположенное по обе стороны реки Гетик. Крохотное, но невероятно живописное село, которое отличается контрастным горным ландшафтом: Агавнаванк практически со всех сторон окружен величественными скалами и горными хребтами.
      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='./assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Высота над уровнем моря:
              b 1 100 м.
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='./assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Средняя температура летом:
              b +19 °C, зимой: -3 °C.


.swiper-slide
  a(href="haghartsin.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/f/fa/Haghartsin_Village.jpg' alt='Агарцин')
    .place-card__content.place-card-content
      h3.place-card-content__title Агарцин
      p.place-card-content__subtitle На пути к священному монастырю
      p.place-card-content__text Агарцин – одно из старейших сел в Тавушской области, расположенное в 11 км к северо-востоку от Дилижана, на левом берегу реки Агстев. В непосредственной близости, в 2 км к западу, находится село Техут, которое ранее являлось одним из районов современного Агарцина.

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='./assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Высота над уровнем моря:
              b 980 м.
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='./assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Средняя температура летом:
              b +19 °C, зимой: -2 °C.




.swiper-slide
  a(href="teghut.html").place-card
    .place-card__image
      img(src='https://www.info9.ge/images/stories/1280px-mtkvari-aragviconfluenceatmtskheta.jpg' alt='Техут')
    .place-card__content.place-card-content
      h3.place-card-content__title Техут
      p.place-card-content__subtitle На перекрестке Дилижана и Иджевана
      p.place-card-content__text Техут – небольшое село в Тавушской области в нескольких километрах на северо-восток от Дилижана, расположенное на левом берегу реки Агстев. Село находится в непосредственной близости от главной дороги, связывающей Дилижан с административным центром Тавушской области – городом Иджеван.

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='./assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Высота над уровнем моря:
              b 1 150 м.
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='./assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Средняя температура летом:
              b +19, +25 °C, зимой: -2, -7 °C.


.swiper-slide
  a(href="khachardzan.html").place-card
    .place-card__image
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Khachardzan_village.jpg/1920px-Khachardzan_village.jpg' alt='Хачардзан')
    .place-card__content.place-card-content
      h3.place-card-content__title Хачардзан
      p.place-card-content__subtitle Живописные долины и пасторальный пейзаж
      p.place-card-content__text Хачардзан – небольшое, высокогорное село в Тавушской области, расположенное в устье реки Хачардзан. Расположено на высоте 1 050 м над уровнем моря и отличается живописными горными и луговыми пейзажами. Хачардзан находится по соседству с Агавнаванком, поэтому ландшафты и природное богатство этих сел может показаться идентичным.

      .place-card-content__bottom
        .place-card-content__values
          .place-card-content__value
            svg(width="18" height="33" fill="#8CB110")
              use(href='./assets/img/sprite.svg#icon-height')
            p.place-card-content__value-text
              | Высота над уровнем моря:
              b 1 050 м.
          .place-card-content__value
            svg(width="18" height="37" fill="#CCDB9A")
              use(href='./assets/img/sprite.svg#icon-temp')
            p.place-card-content__value-text
              | Средняя температура летом:
              b +20 °C, зимой: -2 °C.
