.place-card
  .place-card__image
    img(src='./assets/img/05.jpg' alt='img')
  .place-card__content.place-card-content(style="background-image: url('./assets/img/history/history-decor-slide.svg');")
    h3.place-card-content__title Техут
    p.place-card-content__subtitle На перекрестке Дилижана и Иджевана
    p.place-card-content__text Техут – небольшое село в Тавушской области в нескольких километрах на северо-восток от Дилижана, расположенное на левом берегу реки Агстев.  Техутская община была основана в 1925 г. переселенцами из с. Джархеч (ныне Агарцин), а 5 ноября 1993 г. Техут стал самостоятельным селом, отделившись от Агарцина.

    .place-card-content__bottom
      .place-card-content__values
        .place-card-content__value
          svg(width="18" height="33" fill="#8CB110")
            use(href='./assets/img/sprite.svg#icon-height')
          p.place-card-content__value-text
            | Высота над уровнем моря:
            b 1550 м.
        .place-card-content__value
          svg(width="18" height="37" fill="#CCDB9A")
            use(href='./assets/img/sprite.svg#icon-temp')
          p.place-card-content__value-text
            | Средняя температура летом:
            b +19, +25 C, зимой: -2, -7 C.

      a.place-card-content__link(href='places.html')
        | Подробнее
        svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
          use(href='./assets/img/sprite.svg#arrow-link')


.place-card
  .place-card__image
    img(src='./assets/img/06.jpg' alt='img')
  .place-card__content.place-card-content(style="background-image: url('./assets/img/history/history-decor-slide.svg');")
    h3.place-card-content__title Село Агарцин
    p.place-card-content__subtitle На пути к священному монастырю
    p.place-card-content__text  Агарцин – село в Тавушской области, в 11 км к северо-востоку Дилижана, на левом берегу реки Агстев. Рядом, в 2 км к западу, находится село Техут, которое ранее являлось частью Агарцина. Над селом возвышается гора Ехегнасар, высота которой 2670 метров.

    .place-card-content__bottom
      .place-card-content__values
        .place-card-content__value
          svg(width="18" height="33" fill="#8CB110")
            use(href='assets/img/sprite.svg#icon-height')
          p.place-card-content__value-text
            | Высота над уровнем моря:
            b 1050 м.
        .place-card-content__value
          svg(width="18" height="37" fill="#CCDB9A")
            use(href='./assets/img/sprite.svg#icon-temp')
          p.place-card-content__value-text
            | Средняя температура летом:
            b +19 C, зимой: -2 C.

      a.place-card-content__link(href='places.html')
        | Подробнее
        svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
          use(href='./assets/img/sprite.svg#arrow-link')


.place-card
  .place-card__image
    img(src='./assets/img/07.jpg' alt='img')
  .place-card__content.place-card-content(style="background-image: url('./assets/img/history/history-decor-slide.svg');")
    h3.place-card-content__title Село Гош
    p.place-card-content__subtitle По следам выдающегося мыслителя Мхитара Гоша
    p.place-card-content__text Гош – село в Тавушской области в 10 км восточнее Дилижана, которое известно одной из главных достопримечательностей Армении – средневековым монастырским комплексом Гошаванк.

    .place-card-content__bottom
      .place-card-content__values
        .place-card-content__value
          svg(width="18" height="33" fill="#8CB110")
            use(href='./assets/img/sprite.svg#icon-height')
          p.place-card-content__value-text
            | Высота над уровнем моря:
            b 1215 м.
        .place-card-content__value
          svg(width="18" height="37" fill="#CCDB9A")
            use(href='./assets/img/sprite.svg#icon-temp')
          p.place-card-content__value-text
            | Средняя температура летом:
            b +19 C, зимой: -2 C.

      a.place-card-content__link(href='places.html')
        | Подробнее
        svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
          use(href='./assets/img/sprite.svg#arrow-link')



.place-card
  .place-card__image
    img(src='./assets/img/09.jpg' alt='img')
  .place-card__content.place-card-content(style="background-image: url('./assets/img/history/history-decor-slide.svg');")
    h3.place-card-content__title Село Агавнаванк
    p.place-card-content__subtitle На лоне величественной природы Тавушской области
    p.place-card-content__text  Агавнаванк – село в Тавушской области, расположенное по обе стороны реки Гетик. Крохотное, но невероятно живописное село, которое отличается контрастным горным ландшафтом: Агавнаванк практически со всех сторон окружен величественными скалами и горными хребтами.

    .place-card-content__bottom
      .place-card-content__values
        .place-card-content__value
          svg(width="18" height="33" fill="#8CB110")
            use(href='./assets/img/sprite.svg#icon-height')
          p.place-card-content__value-text
            | Высота над уровнем моря:
            b 1100 м.
        .place-card-content__value
          svg(width="18" height="37" fill="#CCDB9A")
            use(href='./assets/img/sprite.svg#icon-temp')
          p.place-card-content__value-text
            | Средняя температура летом:
            b +19 C, зимой: -3 C.

      a.place-card-content__link(href='places.html')
        | Подробнее
        svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
          use(href='./assets/img/sprite.svg#arrow-link')


.place-card
  .place-card__image
    img(src='./assets/img/10.jpg' alt='img')
  .place-card__content.place-card-content(style="background-image: url('./assets/img/history/history-decor-slide.svg');")
    h3.place-card-content__title Ховк
    p.place-card-content__subtitle По следам выдающегося мыслителя Мхитара Гоша
    p.place-card-content__text Гош – село в Тавушской области в 10 км восточнее Дилижана, которое известно одной из главных достопримечательностей Армении – средневековым монастырским комплексом Гошаванк.

    .place-card-content__bottom
      .place-card-content__values
        .place-card-content__value
          svg(width="18" height="33" fill="#8CB110")
            use(href='./assets/img/sprite.svg#icon-height')
          p.place-card-content__value-text
            | Высота над уровнем моря:
            b 1100 м.
        .place-card-content__value
          svg(width="18" height="37" fill="#CCDB9A")
            use(href='./assets/img/sprite.svg#icon-temp')
          p.place-card-content__value-text
            | Средняя температура летом:
            b +19 C, зимой: -3 C.

      a.place-card-content__link(href='places.html')
        | Подробнее
        svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
          use(href='./assets/img/sprite.svg#arrow-link')
