.article-grid
  .container
    h1 Окрестности
    ul.article-grid__list

      li
        a.article-grid__card-link(href='gosh.html' style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg/1024px-Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg');")
          .article-grid__card-content
            span.article-grid__card-title Гош
            span.article-grid__card-subtitle По следам выдающегося мыслителя Мхитара Гоша

      li
        a.article-grid__card-link(href='ovc.html' style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Hovk_village_10.jpg/1280px-Hovk_village_10.jpg');")
          .article-grid__card-content
            span.article-grid__card-title Овк
            span.article-grid__card-subtitle Ворота в небеса

      li
        a.article-grid__card-link(href='aghavnavank.html' style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg/1024px-Gosh_Village%2C_Tavush_Province%2C_Armenia.jpg');")
          .article-grid__card-content
            span.article-grid__card-title Агавнаванк
            span.article-grid__card-subtitle На лоне величественной природы Тавушской области

      li
        a.article-grid__card-link(href='haghartsin.html' style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/f/fa/Haghartsin_Village.jpg');")
          .article-grid__card-content
            span.article-grid__card-title Агарцин
            span.article-grid__card-subtitle На пути к священному монастырю

      li
        a.article-grid__card-link(href='teghut.html' style="background-image:url('https://www.info9.ge/images/stories/1280px-mtkvari-aragviconfluenceatmtskheta.jpg');")
          .article-grid__card-content
            span.article-grid__card-title Техут
            span.article-grid__card-subtitle На перекрестке Дилижана и Иджевана

      li
        a.article-grid__card-link(href='khachardzan.html' style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Khachardzan_village.jpg/1920px-Khachardzan_village.jpg');")
          .article-grid__card-content
            span.article-grid__card-title Хачардзан
            span.article-grid__card-subtitle Живописные долины и пасторальный пейзаж
