.swiper-slide
  a.event-card(href='events-item.html')
    .event-card__body
      .event-card__image-wrapper
        img(src='./assets/img/events/01.jpg' alt='event-image')
      .event-card__text-content
        h4.event-card__title Фестиваль красного вина
        p.event-card__text Почти у каждого популярного продукта есть свой памятный день. В этом плане больше всего повезло вину – у него есть собственные праздники для
        p.event-card__date.date
          svg(width='20' height='21' fill='#8CB110')
            use(href='./assets/img/sprite.svg#icon-date')
          | 10 мая 2021

.swiper-slide
  a.event-card(href='events-item.html')
    .event-card__body
      .event-card__image-wrapper
        img(src='./assets/img/events/02.jpg' alt='event-image')
      .event-card__text-content
        h4.event-card__title Фестиваль красного вина
        p.event-card__text Почти у каждого популярного продукта есть свой памятный день. В этом плане больше всего повезло вину – у него есть собственные праздники для
        p.event-card__date.date
          svg(width='20' height='21' fill='#8CB110')
            use(href='./assets/img/sprite.svg#icon-date')
          | 10 мая 2021

.swiper-slide
  a.event-card(href='events-item.html')
    .event-card__body
      .event-card__image-wrapper
        img(src='./assets/img/events/01.jpg' alt='event-image')
      .event-card__text-content
        h4.event-card__title Фестиваль красного вина
        p.event-card__text Почти у каждого популярного продукта есть свой памятный день. В этом плане больше всего повезло вину – у него есть собственные праздники для
        p.event-card__date.date
          svg(width='20' height='21' fill='#8CB110')
            use(href='./assets/img/sprite.svg#icon-date')
          | 10 мая 2021
