extends ../layouts/main

block variables
  - var title = "Монумент в честь 50-летия Советской Армении"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Монумент в честь 50-летия Советской Армении
  section
    include ../components/monuments/50th-anniversary-of-soviet- armenia
    include ../components/feedback/feedback
