
extends ../layouts/main

block variables
  - var title = "О проекте"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs(style="background-color: #fff")
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item О проекте
  section

    include ../components/about-project-inner/about-project-inner

    include ../components/feedback/feedback
