extends ../layouts/main

block variables
  - var title = "О нас"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs(style="background-color:#F4F6E9")
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item О нас
  section(style="background-color:#F4F6E9")

    include ../components/about-us/about-us
    include ../components/feedback/feedback





