extends ../layouts/main

block variables
  - var title = "Достопримечательности"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Достопримечательности
  section
    include ../components/attraction/attraction
    include ../components/feedback/feedback
