
extends ../layouts/main

block variables
  - var title = "Контакты"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs(style="background-color: #fff")
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Контакты
  section

    include ../components/contacts/contacts

    include ../components/feedback/feedback
