extends ../layouts/main

block variables
  - var title = "Darchin pastry and cafe"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Darchin pastry and cafe
  section
    include ../components/what-to-do/food/darchin-pastry-and-cafe
    include ../components/feedback/feedback
