extends ../layouts/main

block variables
  - var title = "Пьяный лес"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Пьяный лес
  section
    include ../components/what-to-do/other/drunk-forest
    include ../components/feedback/feedback
