extends ../layouts/main

block variables
  - var title = "GoToDili — Название события"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Знакомство с Дилижаном
  section
    include ../components/events-item/events-item-header/events-item-header
    include ../components/events-item/events-item-hero/events-item-hero
    include ../components/events-item/events-item-gallery/events-item-gallery


    include ../components/feedback/feedback
