extends ../layouts/main

block variables
  - var title = "FAQ"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs(style="background-color:#F4F6E9")
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item FAQ
  section(style="background-color:#F4F6E9")
    //include ../components/important-info/important-info

    include ../components/faq/faq





