extends ../layouts/main

block variables
  - var title = "Гош"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Гош
  section
    include ../components/gosh/gosh
    include ../components/feedback/feedback
