extends ../layouts/main

block variables
  - var title = "Агарцин"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Агарцин
  section
    include ../components/haghartsin/haghartsin
    include ../components/feedback/feedback
