extends ../layouts/main

block variables
  - var title = "Что делать в городе?"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section
    include ../components/history/history
    include ../components/about-people/about-people-inner
    include ../components/feedback/feedback

