extends ../layouts/main

block variables
  - var title = "GoToDili — История Дилижана"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item История Дилижана
  section
    include ../components/history-inner/history-inner




    //include ../components/history/history-new

    //.about-people.new
    //  .container.about-people__container(style="background-color: #fff;")
    //    .title-link
    //      h2 О людях
    //      a(href='') Подробнее о людях
    //        svg.title-link__icon(width="18" height="16" fill="#8CB110" stroke="#8CB110")
    //          use(href='./assets/img/sprite.svg#arrow-nav-small')
    //    .about-people__list
    //      .swiper-wrapper
    //        include ../components/_items/people-card/people-card-w-content
    //      .swiper-pagination

    include ../components/feedback/feedback
