extends ../layouts/main

block variables
  - var title = "Im toon Dilijan"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Im toon Dilijan
  section
    include ../components/what-to-do/food/im-toon-dilijan
    include ../components/feedback/feedback
