extends ../layouts/main

block variables
  - var title = "Дилижан. Откроем вам душу города"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section
    include ../components/hero/hero
    include ../components/about-project/about-project
    include ../components/what-to-do/what-to-do
    include ../components/events/events
    include ../components/places/places
    include ../components/tours/tours
    include ../components/history/history
    include ../components/about-people/about-people
    include ../components/share/share
    include ../components/feedback/feedback

