extends ../layouts/main-index

block variables
  - var title = "GoToDili — Дилижан, откроем вам душу города"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.section-index2
    include ../components/hero/hero
    include ../components/about-project/about-project2

    include ../components/what-to-do/what-to-do

    include ../components/history/history

    .container
      .new-events
        h2.new-events__title Блог
        .new-events__list
          include ../components/_items/new-event-item/new-event-item-w-content

    include ../components/events/events

    include ../components/about-people/about-people

    include ../components/share/share

    include ../components/feedback/feedback

