extends ../layouts/main

block variables
  - var title = "Дилижан. Откроем вам душу города"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section
    include ../components/hero/hero
