extends ../layouts/main

block variables
  - var title = "Kchuch"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Ресторан Kchuch
  section
    include ../components/what-to-do/food/kchuch
    include ../components/feedback/feedback
