extends ../layouts/main

block variables
  - var title = "Краеведческий музей и картинная галерея Дилижана"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Краеведческий музей и картинная галерея Дилижана
  section
    include ../components/what-to-do/places/local-history-museum
    include ../components/feedback/feedback
