extends ../layouts/main

block variables
  - var title = "Музей-мастерская Ашота Бабаяна"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Музей-мастерская Ашота Бабаяна
  section
    include ../components/what-to-do/places/museum-master-ashota-babayana
    include ../components/feedback/feedback
