extends ../layouts/main

block variables
  - var title = "GoToDili — Для партнеров"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Для партнеров
  section
    include ../components/partners/partners
    include ../components/feedback/feedback
