extends ../layouts/main

block variables
  - var title = "GoToDili — Ключевые окрестности города"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Ключевые окрестности города
  section
    h1.font-s-2.container Ключевые окрестности города
    .grid--1col.container.chess-pattern.new
      include ../components/_items/place-card/place-cards-w-content
    include ../components/feedback/feedback
