extends ../layouts/main

block variables
  - var title = "GoToDili — Страница деревни"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Окрестности
      a(href="").breadcrumbs__item Техут
  section
    include ../components/places-inner/places-inner-hero/places-inner-hero
    include ../components/places-inner/places-inner-map/places-inner-map
    include ../components/places-inner/places-inner-other-places/places-inner-other-places
    include ../components/feedback/feedback
