extends ../layouts/main

block variables
  - var title = "Ключевые окрестности города"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section
    img.decor-bg-top(src='/assets/img/decor-bg-top-2.svg' alt='decor')
    include ../components/places-inner/places-inner-hero/places-inner-hero
    include ../components/places-inner/places-inner-map/places-inner-map
    include ../components/places-inner/places-inner-other-places/places-inner-other-places

    include ../components/feedback/feedback
