extends ../layouts/main

block variables
  - var title = "«Ротонда» и новый амфитеатр"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item «Ротонда» и новый амфитеатр
  section
    include ../components/monuments/rotunda-and-new-amphitheater
    include ../components/feedback/feedback
