extends ../layouts/main

block variables
  - var title = "TAVA"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Ресторан TAVA
  section
    include ../components/what-to-do/food/tava
    include ../components/feedback/feedback
