extends ../layouts/main

block variables
  - var title = "GoToDili — Страница тура"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section
    include ../components/tour-item/tour-item
    include ../components/feedback/feedback
