extends ../layouts/main

block variables
  - var title = "UWC Dilijan"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item UWC Dilijan
  section
    include ../components/what-to-do/other/uwc-dilijan
    include ../components/feedback/feedback
