extends ../layouts/main

block variables
  - var title = "Что делать в городе?"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .breadcrumbs(style="background-color: #F4F6E9")
    .breadcrumbs__container.container
      a(href="").breadcrumbs__item Главная
      a(href="/").breadcrumbs__item Что делать в городе?
  section
    include ../components/what-to-do/what-to-do
    include ../components/feedback/feedback

