$transition: all 0.24s ease-in-out
$drop-shadow: drop-shadow(0px 4px 25px rgba(#000, 0.08))


$green: #8CB110
$black: #242424
$light-grey: #EBEDE4
$red: #CC0C00

html
  --c-green: #8CB110
  --c-black: #242424
  --c-light-grey: #EBEDE4
  --c-red: #CC0C00
  --c-light-green: #F4F6E9
