html
  --padding: 80px
  overflow-x: hidden
  max-width: 100vw
  scroll-behavior: smooth
  background-color: #fff
  color: var(--c-black)

body.js-lock-scroll
  overflow: hidden


main
  //@media(max-width: 560px)
  //  padding-top: 76px

.page
  min-height: 100%
  overflow: hidden
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column

main
  position: relative
  flex: 1 1 auto
  -webkit-box-flex: 1
  -ms-flex: 1 1 auto
  z-index: 100

.container
  max-width: 1600px
  padding: 0 160px
  margin: 0 auto
  box-sizing: content-box
  @media (max-width: 1200px)
    padding: 0 50px
  @media (max-width: 768px)
    padding: 0 20px

.hidden
  display: none

.grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-gap: 20px
  &--4col
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 20px
  &--3col
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px


h1
  //@extend .font-s-1
  font-family: 'Artico-ExtraCond', sans-serif

h2
  @extend .font-s-2
  font-family: 'Artico-ExtraCond', sans-serif


a
  transition: $transition

.button
  @extend .font-s-14
  transition: $transition
  display: inline-flex
  align-items: center
  justify-content: center
  text-align: center
  text-transform: uppercase
  min-height: 56px
  padding: 10px 34px
  border-radius: 100px
  background-color: var(--c-green)
  color: #fff
  cursor: pointer
  font-weight: 500
  &:hover
    box-shadow: 0px 20px 50px rgba(116, 147, 13, 0.3)

