html
  --padding: 80px
  overflow-x: hidden
  max-width: 100vw
  scroll-behavior: smooth

main
  @media(max-width: 560px)
    padding-top: 76px


.container
  max-width: 1600px
  padding: 0 160px
  margin: 0 auto
