.section-index2
  .events,
  .places,
  .share
    padding: 60px 0
    @media (max-width: 768px)
      padding: 30px 0

  .about-project
    margin-top: 0
    padding-top: 100px
    @media (max-width: 768px)
      padding-top: 0

  .what-to-do
    .what-to-do__container
      padding-bottom: 80px

  .share
    margin-top: 0

  .about-people
    &__list .swiper-slide
      .people-card__image-wrapper::before,
      .people-card__image-wrapper::after
        background-image: none



