.section-index2
  .events,
  .places,
  .share
    padding-top: clamp(50px, calc(50px + (100 - 50) * ((100vw - 768px) / (1920 - 768))), 100px)
    padding-bottom: clamp(50px, calc(50px + (100 - 50) * ((100vw - 768px) / (1920 - 768))), 100px)

  .about-project
    margin-top: 0
    padding-top: 100px
    @media (max-width: 768px)
      padding-top: 0

  .share
    margin-top: 0



