.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Дилижан. Город, который меняет мировоззрение

      img(src='./assets/img/about/about-1.jpg' alt='img')

      p Просто дух захватывает! Эта фраза как нельзя точно описывает живописные горные пейзажи, встречающие гостей Дилижана ещё на знаменитом дилижанском серпантине. Уже на первых секундах при въезде в город становится ясно – в этом месте есть что-то неуловимое и магическое. Отныне время не быстротечно - нет суеты и можно, наконец, задуматься о вечных ценностях.
      p Добро пожаловать в Дилижан! В маленький армянский город, который со всех сторон окружён густыми лесами и величественными горами с заснеженными вершинами, покрытыми таинственной пеленой тумана. В город, который удивит вас своими узенькими средневековыми улочками, богатой историей, отсылающей нас ещё к бронзовому веку, традиционными ремеслами, искусством, вкуснейшей кухней на любой вкус, колоритными и модными заведениями и, конечно же, тем самым армянским гостеприимством
      p В город, которому есть, чем удивить и что сказать. В город, в который хочется возвращаться вновь и вновь. В город, который меняет мировоззрение!

      h2#title1 В объятиях лесов Национального парка: общая характеристика Дилижана

      p Дилижан расположен на севере Армении, в долине реки Агстев. Город находится примерно в 96 км от Еревана и, согласно административно-территориальному делению республики, входит в Тавушскую область, в которой сосредоточено большая часть лесного богатства Армении.
      p Пройдя через водоворот бурных исторических событий, вследствие которых границы и наименования местности не раз менялись, Дилижан сохранил свою этнокультурную самобытность, став одним из самых интересных и многообещающих городов современной, независимой Армении.
      p Это важный для Армении культурно-исторический, стратегический и логистический узел, в котором пересекаются дороги, соединяющие крупнейшие города Тавушской, Лорийской и Гехаркуникской областей. (ссылка на основную статью про историю Дилижана)
      p Существует несколько версий возникновения названия города. Местным жителям и гостям города очень полюбилась легенда о юноше по имени Дилижан, который был влюблен в княжескую дочь, за что и поплатился собственной жизнью.  Отец девушки не желал выдавать дочь за простого пастуха и приказал убить юношу. Целыми днями мать искала сына в лесах Дилижана и звала его “Дили джан!”, “Дили джан”.  Но есть также и историческая, более научная версия происхождения названия города, которая связана с армянским князем по имени Дилижан (датируется XVI веком). Этимологию топонима связывают также с поселением Пучур Дили (малый Дили), которое упоминается в в XIII веке. (гиперссылка на статью Легенды Дилижана)
      p Дилижан является природным и экологическим достоянием республики, так как со всех сторон окружен лесами Дилижанского национального парка (Дилижанский заповедник). (гиперссылка на статью про Дилижанский национальный парк).
      p В отличие от большинства высокогорных армянских регионов, где преобладает резко-континентальный климат, Дилижан находится в зоне с умеренным, мягким климатом.

      .page-inner__temperature
        p Средняя температура воздуха +8,3°С
        .page-inner__temperature-content
          span июле +18°С
          span в январе 0-2 °С


      p Благодаря природным ресурсам и благоприятным климатическим условиям Дилижан издавна известен как один из самых популярных курортных городов Армении.

      .page-inner__info
        ul
          li Площадь – 43 квадратных километра
          li Высота над уровнем моря – 1100-1510
          li Расстояние до Еревана – примерно 96 км
          li Расстояние до Иджевана – примерно 40 км
          li Постоянное население – 26 455 чел*


      p В 2016 г. границы Дилижана расширились. В рамках программы по укрупнению населенных пунктов Армении, в Дилижанскую общину входят город Дилижан, села Техут, Гош, Агарцин, Агавнаванк, Овк и Хачардзан.

      h2#title2 Чем удивит современный Дилижан?

      p Современный Дилижан порадует любителей как активного, так и пассивного отдыха. Город и его окрестности отлично подойдут для пеших походов, конных прогулок. Здесь активно развивается джиппинг (off road вождение) и  hiking-культура, строятся специальные тропы и маршруты для походов. В самом городе, в центральном парке, действует самый большой в Армении веревочный парк Verev. (гиперссылка на статью про активный отдых в Дилижане, гиперссылка на статью про парк Verev). Для тех, кто устал от городской суеты и хочет полностью перезагрузиться или поправить здоровье (причем как физическое, так и душевное), Дилижан, безоговорочно, является идеальным вариантом.  Здесь можно заниматься йогой и медитацией, творчеством, попробовать знаменитый чай из местных, целебных трав. Горные пейзажи, леса, чистый воздух, уютные, концептуальные кафе и гостевые дома помогут по-настоящему расслабиться и отдохнуть.
      p В последние годы в Дилижане активно развивается ресторанный бизнес и гастро индустрия, растет число концептуальных ресторанов и кафе, которые имеют высокий рейтинг на многих туристических сайтах. В рестораны  Дилижана предлагают как местную, так и международную кухню. (гиперссылка на статью по ресторанам Дилижана).
      p Те, кто жаждет духовной пищи, могут соприкоснуться с тысячелетними культурными традициями города. Дилижан издавна считался городом традиционных ремесел, здесь можно записаться на мастер-классы к настоящим “варпетам” (мастерам). А в Краеведческом музее – Картинной галерее ознакомиться с историей города и картинами Айвазовского, Сарьяна, Шишкина, Минаса и других известных художников. (гиперссылка на статью про музей, гиперссылка на статью улица Шарамбеяна). В общинах Гош и Агарцин находятся одни из самых известных достопримечательностей не только области, но и Армении – средневековые монастырские комплексы Агарцин и Гошаванк. (гиперссылка на статью Монастыри Дилижана).
      p Дилижан – это курортный город, которому не свойственен блеск и активность больших городов, у него свой, спокойный и неповторимый шарм. И, конечно же, Дилижан никак нельзя назвать серым, закостенелым городом, в котором можно заскучать. Открытием международной школы UWC Dilijan притянуло в город молодежь из самых разных уголков мира, что повлияло также на общую активность города. Здесь действует исследовательский центр Центрального банка Армении, Центр креативных технологий TUMO, школа AYB. (гиперссылки на UWC, TUMO, центральный Банк).
      p Последние несколько лет Дилижан в буквальном смысле стал точкой притяжения творческой молодежи и креативных бизнес-проектов. В городе постоянно проводятся интересные встречи, мастер-классы, мероприятия, а в последнее время – крупные фестивали, концерты.
      p Но самое главное – в Дилижане живут очень интересные, отзывчивые и творческие люди. Ведь еще в Советское время Дилижан считался городом творческой интеллигенции. Здесь отдыхали композиторы с мировым именем – Дмитрий Шостакович, Арам Хачатурян, Бенджамин Бриттен, художники Мартирос Сарьян, Рокуэлл Кент и многие другие именитые писатели, режиссеры, актеры, музыканты  (гиперссылка на Лица Дилижана, гиперссылка на Советский Дилижан, гиперссылка на Интересные факты о Дилижане)
      p На сегодняшний день мы смело можем сказать, что Дилижана получил второе дыхание и может стать главным туристическим центром страны.

    .fixed-nav
      ul
        li
          a(href="#title1") Общая характеристика Дилижана
        li
          a(href="#title2") Чем удивит современный Дилижан?


