.tours
  .container.tours__container
    .title-link
      h2 События
      a(href='') Смотреть все туры
        svg.title-link__icon(width="18" height="16" fill="#8CB110" stroke="#8CB110")
          use(href='./assets/img/sprite.svg#arrow-nav-small')

    .tours__list
      .swiper-wrapper
        include ../_items/tour-card/tour-card-w-content

      .swiper-pagination
