.tours
  .container
    include ../_items/title-link/title-link
    .tours__list.grid--4col
      include ../_items/tour-card/tour-card
      include ../_items/tour-card/tour-card
      include ../_items/tour-card/tour-card
      include ../_items/tour-card/tour-card
