.tours
  .container.tours__container
    include ../_items/title-link/title-link
    .tours__list
      .swiper-wrapper
        .swiper-slide
          include ../_items/tour-card/tour-card
        .swiper-slide
          include ../_items/tour-card/tour-card
        .swiper-slide
          include ../_items/tour-card/tour-card
        .swiper-slide
          include ../_items/tour-card/tour-card

      .swiper-pagination
