header.header.header-main.header-index
  include ../_items/promo-discount/promo-discount

  //mobile menu
  .header__mobile-wrapper
    nav.header__mobile
      a.header__mobile-logo(href='index.html')
        include ../../img/logo.svg
      a.header__mobile-phone(href='tel:+78528560000')
        include ../../img/phone-icon.svg
      .header__mobile-nav-right
        .header__mobile-burger.jsHeaderBurgerIcon
          span

  .header__container
    a.header__logo(href='index.html')
      include ../../img/logo.svg

    nav.header__nav

      ul.header__nav-row.header__nav-row-2
        li.header__nav-list-item
          a.header__link(href='tours.html') О городе
            svg.header__link-icon(width="10" height="6" fill="white")
              use(href='./assets/img/sprite.svg#arrow-select')
          .header__sub-nav
            .header__sub-nav-wrapper
              .header__sub-nav-links-box
                a.header__sub-nav-link(href="about-city.html") Город
                a.header__sub-nav-link(href="history.html") История
                a.header__sub-nav-link(href="#") Достопримечательности
                a.header__sub-nav-link(href="#") Окрестности
                a.header__sub-nav-link(href="#") Люди
              .header__sub-nav-img-box
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text Какая-то ссылка важная
                  img.header__sub-nav-img(src="https://ic.pics.livejournal.com/alexio_marziano/26796211/2300647/2300647_original.jpg")
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text Очень хорошее предложение по туризму с длинным названием
                  img.header__sub-nav-img(src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/4e/61/74/monasteries-in-armenia.jpg?w=500&h=300&s=1")
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text А тут короткая ссылка
                  img.header__sub-nav-img(src="https://phoenixtour.org/wp-content/uploads/2021/07/01-MEGHRI.jpg")
        li.header__nav-list-item
          a.header__link(href='what-to-do.html') Знакомство
            svg.header__link-icon(width="10" height="6" fill="white")
              use(href='./assets/img/sprite.svg#arrow-select')
          .header__sub-nav
            .header__sub-nav-wrapper
              .header__sub-nav-links-box
                a.header__sub-nav-link(href="#") Городской-тур
                a.header__sub-nav-link(href="#") Хайкинг
                a.header__sub-nav-link(href="#") Джиппинг
                a.header__sub-nav-link(href="#") Экскурсии
                a.header__sub-nav-link(href="#") Вкусы Дилижана
                a.header__sub-nav-link(href="#") Полезная информация
              .header__sub-nav-img-box
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text Какая-то ссылка важная
                  img.header__sub-nav-img(src="https://ic.pics.livejournal.com/alexio_marziano/26796211/2300647/2300647_original.jpg")
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text Очень хорошее предложение по туризму с длинным названием
                  img.header__sub-nav-img(src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/4e/61/74/monasteries-in-armenia.jpg?w=500&h=300&s=1")
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text А тут короткая ссылка
                  img.header__sub-nav-img(src="https://phoenixtour.org/wp-content/uploads/2021/07/01-MEGHRI.jpg")
        li.header__nav-list-item
          a.header__link(href='events-inner.html') Спланируй поездку
            svg.header__link-icon(width="10" height="6" fill="white")
              use(href='./assets/img/sprite.svg#arrow-select')
          .header__sub-nav
            .header__sub-nav-wrapper
              .header__sub-nav-links-box
                a.header__sub-nav-link(href="#") Где остановиться
                a.header__sub-nav-link(href="#") Где поесть
                a.header__sub-nav-link(href="#") Доступный Дилижан
                a.header__sub-nav-link(href="#") Календарь мероприятий
                a.header__sub-nav-link(href="#") Досуг
              .header__sub-nav-img-box
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text Какая-то ссылка важная
                  img.header__sub-nav-img(src="https://ic.pics.livejournal.com/alexio_marziano/26796211/2300647/2300647_original.jpg")
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text Очень хорошее предложение по туризму с длинным названием
                  img.header__sub-nav-img(src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/4e/61/74/monasteries-in-armenia.jpg?w=500&h=300&s=1")
                a.header__sub-nav-img-link(href="#")
                  .header__sub-nav-img-text А тут короткая ссылка
                  img.header__sub-nav-img(src="https://phoenixtour.org/wp-content/uploads/2021/07/01-MEGHRI.jpg")
        li.header__nav-list-item
          a.header__link(href="places.html") События
        li.header__nav-list-item
          a.header__link(href='events-inner.html') О нас

    nav.header__nav-contacts
      .header__icons-box
        a.header__icon(href="places.html")
          include ../../img/icons/map.svg
        a.header__icon(href="#")
          include ../../img/icons/weather.svg
        a.header__icon(href='mailto:info@go2dili.com')
          include ../../img/icons/email.svg
        a.header__icon(href='tel:+78528560000')
          include ../../img/icons/phone.svg
        a.header__icon(href="#")
          include ../../img/icons/cart.svg

      select.header__lang-list
        option Ru
        option En


      a.button.header__button(href='tours.html') Узнай Дилижан
