<header class="header">
  <nav class="header__nav">
    <a class="header__link" href="/">Туры по Дилижану</a>
    <a class="header__link" href="/">Что делать в городе?</a>
    <a class="header__link" href="/">Ключевые окрестности</a>
    <select>
      <option>Ключевые окрестности</option>
      <option>Деревня хоббитов</option>
      <option>Деревня хоббитов</option>
    </select>
    <a class="header__link" href="/">История Дилижана</a>
    <a class="header__link" href="/">События</a>
    <a class="header__link" href="/">Блог</a>
  </nav>
  <img src="'/assets/img/logo.svg" alt="logo">
</header>
