.header
  position: relative
  @extend .font-s-10
  width: 100%
  color: #fff
  transition: 0.3s ease-in-out
  z-index: 1001
  user-select: none
  background-color: var(--c-green)
  &.header-index
    background-color: transparent
  &.header-index .header__button
    @media (min-width: 1000px)
      background-color: var(--c-green)
  &.header-index .header__logo svg,
  &.header-index .header-mobile__logo svg,
  &.header-index .header__phone--mobile svg,
  &.header-index .header-mobile__phone svg
    fill: var(--c-green)
  &.header-index .header__social-link:hover,
  &.header-index .promo-discount
    background-color: var(--c-green)
  &.scrolled .header-mobile__phone svg
    fill: rgba(#fff, 0.25)


  &.scrolled-top
    transform: translateY(-100%)
  &.scrolled-bottom
    transform: translateY(0)


  &.scrolled
    position: sticky
    position: -webkit-sticky
    z-index: 1001
    top: 0
    left: 0
    background-color: #fff
    color: $black
  &.scrolled .header__nav-row-2::after
    background-color: $black
  &.scrolled .header__button,
  &.scrolled .header__burger-icon span
    background-color: var(--c-green)
  &.scrolled .header__weather svg,
  &.scrolled .header__map svg
    fill: var(--c-green)
  &.scrolled .header__link:hover
   color: rgba($green, 0.8)
  &.scrolled .header-mobile__wrapper .header-mobile .header__burger-icon
    & span,
    &::before,
    &::after
      background-color: var(--c-green)
  &.scrolled .header__logo,
  &.scrolled .header-mobile__logo
    svg
      & .goto
        fill: var(--c-green)
      & .dili
        fill: var(--c-black)

  &.scrolled .header__logo
    width: 4%

  &.scrolled .header__nav-contacts .header__phone svg
    fill: var(--c-green)
    fill-opacity: 1
  &.scrolled .header-mobile__phone svg
    fill: var(--c-green)
  &.scrolled .header__phone--mobile svg
    fill: $green
  &.scrolled .header__email svg
    fill: var(--c-green)
    fill-opacity: 1

  &.scrolled .header__social-link:hover
    background-color: rgba(#fff, 0.3)
  &.header-index.scrolled .promo-discount
    background-color: var(--c-black)

  &__link
    white-space: nowrap

  &__logo
    display: flex
    align-items: flex-start
    justify-content: center
    width: 6%
    //transition: width 0.3s
    svg
      fill: var(--c-black)
      width: 100%
    @media (max-width: 1000px)
      display: none

  &__container
    width: 100%
    padding: 1rem 7%
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    @media (max-width: 1600px)
      padding: 1rem 5%
    @media (max-width: 1200px)
      padding: 1rem
    @media (max-width: 1000px)
      position: fixed
      flex-direction: column
      justify-content: start
      gap: 76px
      top: 0
      left: -100%
      width: 100%
      height: 100%
      background-color: var(--c-green)
      padding: 120px 20px 30px
      transition: left 0.3s ease 0s
      overflow: auto
      overscroll-behavior: contain
      &.js-active-menu
        left: 0
      &.js-active-menu .header__phone svg
        fill-opacity: 1
    @media (max-width: 400px)
      align-items: flex-start

  &__nav
    display: flex
    flex-direction: column
    width: 47%
    gap: 20px
    position: relative
    align-items: flex-start
    .header__link:hover
      color: rgba(#fff, 0.8)
    @media (max-width: 1000px)
      align-items: center
      text-align: center
      gap: 70px
      width: auto
    @media (max-width: 400px)
      text-align: left
      width: 100%
      align-items: flex-start
    .header__link .header__link-icon
      margin-left: 5px
      transition: $transition

  &__nav-row
    position: relative
    display: flex
    gap: 2rem
    @media (max-width: 1440px)
      gap: 1rem
    @media (max-width: 1000px)
      flex-direction: column
      row-gap: 28px
    &::after
      content: ""
      position: absolute

  &__nav-row-1
    font-size: clamp(12px, calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024))), 16px)
    font-weight: lighter
    @media (max-width: 1000px)
      font-size: 16px
      &::after
        width: 100%
        background-color: rgba(#fff, 0.3)
        height: 1px
        bottom: -35px
    @media (max-width: 400px)
      width: 100%

  &__nav-list-item
    position: relative
    @media (min-width: 1000px)
      &:hover
        >.header__sub-nav
          display: flex
    @media (max-width: 1000px)
      &.js-select-active .header__sub-nav
        display: flex
      &.js-select-active .header__link-icon
        transform: rotate(180deg)

  &__sub-nav
    position: absolute
    top: 100%
    left: 0
    min-width: 170px
    flex-direction: column
    padding-top: 12px
    display: none
    @media (max-width: 1000px)
      position: relative
      font-size: clamp(12px, calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024))), 16px)
      font-weight: lighter
      min-width: initial
      top: initial
      left: initial
      padding-top: initial
      margin: 20px 0
      gap: 22px
      overflow: hidden

    .header__sub-nav-item
      background-color: var(--c-light-green)
      width: 100%
      display: flex
      &:first-child
        border-radius: 12px 12px 0 0
        padding-top: 12px
      &:last-child
        border-radius: 0 0 12px 12px
        padding-bottom: 12px
      @media (max-width: 1000px)
        background-color: transparent
        &:first-child
          border-radius: 0
          padding-top: 0
        &:last-child
          border-radius: 0
          padding-bottom: 0


  &__sub-nav-link
    width: 100%
    padding: 8px 20px
    color: $black
    font-weight: normal
    font-size: 0.9rem
    opacity: 0.7
    &:hover
      opacity: 1
    @media (max-width: 1000px)
      font-size: 1rem
      padding: 0
      font-weight: 400
      opacity: 1
      color: #fff

  &__nav-row-2
    font-size: clamp(13px, calc(13px + (17 - 13) * ((100vw - 1024px) / (1920 - 1024))), 17px)
    @media (max-width: 1000px)
      font-size: 16px
      width: 100%
    &::after
      left: 0
      right: 0
      top: -10px
      height: 1px
      background-color: rgba(#fff, 0.1)
      @media (max-width: 1000px)
        width: 100%
        top: initial
        bottom: -35px
        background-color: rgba(#fff, 0.3)

  &__nav-contacts
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    column-gap: 25px
    justify-content: end
    width: 47%
    align-items: center
    @media (max-width: 1000px)
      flex-direction: column
      gap: 1.5rem
      width: auto
    @media (max-width: 400px)
      align-items: flex-start
      width: 100%

  &__phone
    display: flex
    gap: 8px
    align-items: center
    justify-content: center
    white-space: nowrap
    font-size: clamp(16px, calc(16px + (18 - 16) * ((100vw - 1024px) / (1920 - 1024))), 18px)
    font-weight: 500
    @media (min-width: 1000px) and (max-width: 1400px)
      display: none
    &--mobile
      display: none
      gap: 5px
      align-items: center
      justify-content: center
      @media (min-width: 1000px) and (max-width: 1400px)
        display: flex
      & svg
        fill: rgba(#fff, 0.25)

  &__nav-right
    display: flex
    gap: 28px
    align-items: center
    @media (max-width: 1000px)
      flex-direction: column
      gap: 60px
    @media (max-width: 400px)
      align-items: flex-start
      width: 100%

  &__social
    display: flex
    gap: 1rem

  &__social-link
    width: 30px
    height: 30px
    display: flex
    align-items: flex-start
    border-radius: 100%
    background-color: rgba(#fff, 0.2)
    transition: none
    @media (max-width: 1000px)
      background-color: rgba(#fff, 0.3)
    &:hover
      background-color: rgba(#fff, 0.3)
    &:hover .header__social-icon
      opacity: 1

  &__social-icon
    opacity: .5
    @media (max-width: 1000px)
      opacity: 1

  &__nav-contacts-items
    display: flex
    flex-direction: column
    gap: 10px
    align-items: center

  &__email
    display: flex
    align-items: center
    gap: 8px
    @media (max-width: 1400px)
      display: none
    & svg
      fill: rgba(#fff, 0.5)

  &__weather
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center

  &__lang-list
    color: inherit
    appearance: none
    height: min-content
    background: transparent
    border: none
    cursor: pointer
    outline: none
    @media (max-width: 1000px)
      display: none

  &__button
    font-size: clamp(12px, calc(12px + (14 - 12) * ((100vw - 768px) / (1920 - 768))), 14px)
    outline: 1px solid transparent
    font-weight: 700
    padding: 0 1.5rem
    min-height: 50px
    background-color: rgba(#fff, 0.3)
    @media (max-width: 1330px)
      padding: 0.7rem 1rem
      min-height: initial
    @media (max-width: 1000px)
      background-color: rgba(#fff, 0.3)
      outline: none
      min-height: 56px
      padding: 10px 34px
      font-size: 14px
      width: 100%
  @media (min-width: 1000px)
    &__phone svg.scrolled
      fill: #fff
      fill-opacity: 0.5
  @media (max-width: 1000px)
    &__phone svg
      fill: #fff

  &__lang-list
    @media (max-width: 1000px)
      opacity: 0

// ----------mobile----------
.header-mobile__wrapper
  display: none
  padding: 7px 20px
  @media (max-width: 1000px)
    display: block
    &.js-active-menu
      position: relative
      z-index: 1
      background-color: var(--c-green)

    .header-mobile
      display: flex
      align-items: center
      justify-content: space-between
      height: 50px
      &.js-active-menu
        position: relative
        z-index: 1
        background-color: var(--c-green)
      &.js-active-menu .header-mobile__logo svg,
      &.scrolled .header-mobile__logo svg
        fill: var(--c-black)
      &.js-active-menu .header-mobile__lang-list
        display: block
      &.js-active-menu .header-mobile__phone
        display: none

      &__phone svg
        fill: rgba(#fff, 0.25)

      &__nav-right
        display: flex
        gap: 30px
        align-items: center

      &__logo svg
        fill: var(--c-black)
        position: relative
        z-index: 1
        width: 44px
        height: 100%

      &__lang-list
        position: relative
        z-index: 5
        color: inherit
        appearance: none
        height: min-content
        background-color: transparent
        border: none
        cursor: pointer
        display: none

      .header__burger-icon
        display: none
        @media (max-width: 1000px)
          display: block
          position: relative
          z-index: 5
          width: 30px
          height: 14px
          cursor: pointer
          & span,
          &::before,
          &::after
            content: ""
            position: absolute
            left: 0
            height: 2px
            width: 100%
            background-color: #fff
          &::before
            top: 0
          &::after
            bottom: 0
          & span
            top: 50%
            transform: scale(1) translateY(-50%)
          &.js-active-menu
            width: 30px
            height: 30px
            background-color: rgba(#fff, 0.15)
            border-radius: 50%
            box-sizing: border-box
          &.js-active-menu span
            transform: scale(0) translateY(-50%)
          &.js-active-menu::before,
          &.js-active-menu::after
            width: 50%
            left: 0
            right: 0
            margin: 0 auto
          &.js-active-menu::before
            top: 50%
            transform: rotate(-45deg) translate(0px, -50%)
          &.js-active-menu::after
            bottom: 50%
            transform: rotate(45deg) translate(0px, 50%)




