.header
  position: absolute
  width: 100%
  color: #fff
  transition: transform 0.4s ease
  z-index: 101
  user-select: none
  &.header-index
    background-color: transparent
    .header__logo svg .dili,
    .header-mobile__logo svg .dili,
    .header__phone--mobile svg .dili,
    .header-mobile__phone svg .dili
      fill: var(--c-green)
    .header__logo svg .goto,
    .header-mobile__logo svg .goto,
    .header__phone--mobile svg .goto,
    .header-mobile__phone svg .goto
      fill: #ffffff
  &
    .header__logo svg .dili,
    .header-mobile__logo svg .dili,
    .header__phone--mobile svg .dili,
    .header-mobile__phone svg .dili
      fill: var(--c-green)
    .header__logo svg .goto,
    .header-mobile__logo svg .goto,
    .header__phone--mobile svg .goto,
    .header-mobile__phone svg .goto
      fill: $black

  &.scrolled-top
    transform: translateY(-100%)

  &.scrolled-bottom
    transform: translateY(0)
    box-shadow: 0 0 5px rgba(0,0,0, .1)

  &.scrolled
    position: fixed
    top: 0
    left: 0
    background-color: #fff
    @media (min-width: 1000.1px)
      color: $black
      & .header__button,
      & .header__burger-icon span
        background-color: $green
      & .header__weather svg,
      & .header__map svg
        fill: $green
      & .header__nav-contacts .header__phone svg,
      & .header__email svg
        fill: $green
        fill-opacity: 1

    & .header-mobile__wrapper .header-mobile .header__burger-icon
      & span,
      &::before,
      &::after
        background-color: var(--c-green)
    & .header__logo, .header-mobile__logo
      svg .goto
        fill: var(--c-green)
      svg .dili
        fill: var(--c-black)
    & .header-mobile__phone svg,
    & .header__phone--mobile svg
      fill: $green
    & .header__social-link:hover
      background-color: rgba(#fff, 0.3)

  &__link
    white-space: nowrap
    color: var(--c-black)
    padding: 5px 10px
    display: flex
    align-items: center
    @media(max-width: 1000px)
      color: $black
      width: 100%
      text-align: center
    @media(max-width: 992px)
      display: block

  &.header-main
    .header__link
      color: #ffffff

  &.scrolled-bottom
    .header__link
      color: var(--c-black)

  &.header-mobile_active
    .header__link
      color: var(--c-black)

  &__link-icon
    margin-left: 5px
    margin-top: 5px
    fill: var(--c-black)
    @media(max-width: 1000px)
      fill: var(--c-black)

  &.header-main
    .header__link-icon
      fill: #ffffff

  &.scrolled-bottom
    .header__link-icon
      fill: var(--c-black)

  &.header-mobile_active
    .header__link-icon
      fill: var(--c-black)

  &__logo
    display: flex
    align-items: flex-start
    justify-content: center
    width: 65px
    svg
      width: 100%
    @media (max-width: 1344px)
      width: 60px
    @media (max-width: 1000px)
      display: none

  &__container
    width: 100%
    padding: 1rem 7%
    display: grid
    grid-template-columns: auto 1fr auto
    grid-gap: 20px
    place-content: center
    place-items: center
    @media (max-width: 1600px)
      padding: 1rem 5%
    @media (max-width: 1200px)
      padding: 1rem
    @media (max-width: 1000px)
      position: fixed
      top: 0
      left: -100%
      width: 100%
      height: 100vh
      background-color: #ffffff
      padding: 120px 20px 100px
      transition: left 0.3s ease 0s
      -webkit-overflow-scrolling: touch
      overflow-y: auto
      overscroll-behavior: contain

  &__nav
    display: flex
    flex-direction: column
    gap: 20px
    align-items: flex-start
    align-self: end
    height: 100%
    @media (max-width: 1000px)
      width: 100%
    @media (max-width: 992px)
      height: auto
    @media (max-width: 400px)
      text-align: left
      width: 100%
      align-items: flex-start

  &__nav-row
    display: flex
    gap: 1rem
    font-size: clamp(12px, calc(12px + (22 - 12) * ((100vw - 1024px) / (1920 - 1024))), 22px)
    height: 100%
    align-items: stretch
    .header__link
      position: relative
    @media (max-width: 1344px)
      gap: .5rem
    @media (max-width: 1000px)
      flex-direction: column
      width: 100%
      gap: 1rem
      font-size: 18px

  &__nav-list-item
    display: flex
    font-weight: 500
    align-items: stretch
    &:hover
      > a
        opacity: .8
      .header__sub-nav
        display: block
    @media (max-width: 1000px)
      position: relative
      flex-direction: column
      &:focus,
      &:hover
        z-index: 1

  &__sub-nav
    position: absolute
    left: 0
    right: 0
    top: calc(100% - 1rem)
    width: 100%
    padding: 20px 14% 0
    display: none
    @media (max-width: 1000px)
      padding: 0
      display: block
      position: static
      text-align: left

  &__sub-nav-wrapper
    width: 100%
    display: grid
    grid-template-columns: auto 1fr
    background-color: #ffffff
    border-radius: 12px
    overflow: hidden
    box-shadow: 0 0 12px rgb(0 0 0 / .1)
    align-items: stretch
    @media (max-width: 1000px)
      display: flex
      flex-direction: column
      justify-content: flex-start
      overflow-y: scroll
      box-shadow: none
      border-radius: 0

  &__sub-nav-links-box
    display: flex
    flex-direction: column
    width: 350px
    @media (max-width: 1200px)
      width: 220px
    @media (max-width: 1000px)
      width: 100%
      flex-shrink: 0
      flex-direction: row
      gap: 5px
      flex-wrap: wrap
      justify-content: center
      margin-bottom: 10px

  &__sub-nav-link
    width: 100%
    padding: 15px 30px
    display: block
    color: $black
    &:hover
      color: $green
    &:first-child
      padding-top: 30px
    &:last-child
      padding-bottom: 30px
    @media (max-width: 1000px)
      padding: 5px
      font-size: .8rem
      width: auto
      font-weight: normal
      &:first-child,
      &:last-child
        padding: 5px

  &__sub-nav-img-box
    position: relative
    padding: 30px
    grid-gap: 12px
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr))
    place-content: start
    @media (max-width: 1000px)
      display: grid
      grid-gap: 5px
      grid-template-columns: 1fr 1fr 1fr
      padding: 0

  &__sub-nav-img-link
    display: flex
    align-items: flex-start
    position: relative
    height: 100%
    max-height: 250px
    color: #ffffff
    border-radius: 12px
    overflow: hidden
    &:hover
      .header__sub-nav-img
        transform: scale(1.2)
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background-color: rgb(0 0 0 / .3)
    @media (max-width: 1000px)
      border-radius: 5px
      max-height: 100%

  &__sub-nav-img-text
    position: absolute
    top: 15px
    left: 15px
    right: 15px
    bottom: 15px
    z-index: 1
    @media (max-width: 1000px)
      top: 5px
      left: 5px
      right: 5px
      bottom: 5px
      font-size: .8rem

  &__sub-nav-img
    position: relative
    object-fit: cover
    z-index: 0
    height: 100%
    width: 100%
    transition: all .25s ease-in-out
    transform: scale(1)
    aspect-ratio: 1 / 1

  &__nav-contacts
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    gap: 1rem
    justify-content: end
    align-items: center
    @media (max-width: 1000px)
      flex-direction: column
      gap: 2rem
      width: 100%
      order: -1

  &__icons-box
    display: flex
    flex-wrap: wrap
    gap: 1rem
    @media (max-width: 1344px)
      gap: .5rem
    @media (max-width: 1000px)
      gap: 1rem

  &__icon
    display: flex
    align-items: flex-start
    width: 32px
    height: 32px
    &:hover
      opacity: .8
    svg
      fill: var(--c-black)
      width: 100%
      height: 100%
      @media (max-width: 1000px)
        fill: $green

  &.header-main
    .header__icon
      svg
        fill: #ffffff

  &.header-mobile_active
    .header__icon
      svg
        fill: var(--c-green)

  &.scrolled-bottom
    .header__icon
      svg
        fill: var(--c-black)

  &__nav-right
    display: flex
    gap: 28px
    align-items: center
    @media (max-width: 1000px)
      flex-direction: column
      gap: 60px
    @media (max-width: 400px)
      align-items: flex-start
      width: 100%

  &__lang-list
    height: min-content
    background: transparent
    border: none
    cursor: pointer
    outline: none
    color: var(--c-black)
    &:hover
      color: $green
    option
      background-color: #fff
      color: $green
      font-weight: 500
    @media (max-width: 1000px)
      display: none

  &.header-main
    .header__lang-list
      color: #ffffff

  &.scrolled-bottom
    .header__lang-list
      color: var(--c-black)

  &__button
    font-size: clamp(12px, calc(12px + (14 - 12) * ((100vw - 1024px) / (1920 - 768))), 14px)
    white-space: nowrap
    @media (max-width: 1000px)
      font-size: 16px

  &__lang-list
    @media (max-width: 1000px)
      opacity: 0

// ----------mobile----------
.header-main
  &.scrolled-bottom
    .header__mobile-logo
      svg
        .dili
          fill: var(--c-black)
  .header__mobile-logo
    svg
      .goto
        fill: var(--c-green)
  &.header-mobile_active
    .header__mobile-logo
      svg
        .dili
          fill: var(--c-green)

.header
  &.scrolled-bottom
    .header__mobile-logo
      svg
        .goto
          fill: var(--c-green)
        .dili
          fill: var(--c-black)
  &__mobile-logo
    svg
      position: relative
      z-index: 1
      width: 60px
      height: 100%
      .goto
        fill: var(--c-black)
      .dili
        fill: var(--c-green)

  &.header-main
    .header__mobile-logo
      svg
        .dili
          fill: #ffffff

  &.header-mobile_active
    .header__mobile-logo
      svg
        .dili
          fill: var(--c-green)

  &.scrolled-bottom
    .header__mobile-logo
      svg
        .dili
          fill: var(--c-black)

  &-mobile_active
    position: relative
    height: 100vh
    display: flex
    flex-direction: column

    .header__mobile-logo svg
      .goto
        fill: var(--c-black)
      .dili
        fill: #ffffff

    .header__mobile-phone
      display: none

    .header__container
      display: flex
      flex-direction: column
      justify-content: flex-start
      position: static
      padding-top: 20px
      height: 100%

    .header__mobile-burger
      span
        transform: scale(0) translateY(-50%)
      &::before,
      &::after
        background-color: $black
      &::before
        top: 46%
        transform: rotate(-45deg)
      &::after
        top: 46%
        transform: rotate(45deg)

  &__mobile-wrapper
    display: none
    padding: 7px 20px
    position: relative
    z-index: 1
    @media (max-width: 1000px)
      display: block

  &__mobile
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    z-index: 1

  &__mobile-nav-right
    display: flex
    gap: 30px
    align-items: center

  &__mobile-burger
    position: relative
    z-index: 5
    width: 30px
    height: 20px
    cursor: pointer
    span
      position: absolute
      left: 0
      height: 2px
      width: 100%
      background-color: var(--c-black)
      transform-origin: center
    &::before,
    &::after
      content: ""
      position: absolute
      left: 0
      height: 2px
      width: 100%
      background-color: var(--c-black)
      transform-origin: center
    &::before
      top: 0
    &::after
      bottom: 0
    & span
      top: 50%
      transform: scale(1) translateY(-50%)

  &.header-main
    .header__mobile-burger
      span,
      &::after,
      &::before
        background-color: #ffffff

  &.scrolled-bottom
    .header__mobile-burger
      span,
      &::after,
      &::before
        background-color: var(--c-black)

  &.header-mobile_active
    .header__mobile-burger
      span,
      &::after,
      &::before
        background-color: var(--c-black)

  &__mobile-phone
    display: flex
    align-items: center
    justify-content: center
    background-color: $green
    border-radius: 100%
    width: 44px
    height: 44px
    svg
      fill: #ffffff
      width: 20px
      height: 20px
    svg
      circle
        fill: $green
