.arrow-nav
  display: flex
  align-items: center
  gap: 17px
  @media (max-width: 768px)
    display: none
  svg
    transition: $transition
    cursor: pointer
    &:hover,
    &.js-arrow-active
      fill: var(--c-green)
      stroke: var(--c-green)
      opacity: 1
