.arrow-nav
  svg.arrow-nav__prev(width="32" height="29" fill="#565654" stroke="#565654" opacity="0.35")
    use(href='./assets/img/sprite.svg#arrow-nav-prev')
  svg.arrow-nav__next(width="32" height="29" fill="#565654" stroke="#565654" opacity="0.35")
    use(href='./assets/img/sprite.svg#arrow-nav-next')
