.places-inner-map
  background-color: var(--c-light-green)
  &__wrapper
    width: 100%
    height: 570px
    border-radius: 16px 16px 0 0
    @media (max-width: 1200px)
      height: 470px
    @media (max-width: 768px)
      height: 370px
    .places-inner-map__item
      width: 100%
      height: 100%
      border-radius: 16px
      overflow: hidden
      @media (max-width: 768px)
        border-radius: 10px
