.places-inner-map
  .container
    .places-inner-map__wrapper.map
      h2.places-inner-map__title Расположение на карте
      .places-inner-map__item#places-inner-map__item

      include ../../_items/balloon-template/balloon-template
