.partners
  .container.partners__container
    h1.partners__title Наши партнеры
    ul.partners__list
      li.partners__item
        span Партнер 1
      li.partners__item
        span Партнер 2
      li.partners__item
        span Партнер 3
      li.partners__item
        span Партнер 4
      li.partners__item
        span Партнер 5
      li.partners__item
        span Партнер 6

    a.partners__button.button(href="") Стать партнером
