.partners
  padding: 50px 0
  &__container
    text-align: center

  &__title
    @extend .font-s-2
    margin-bottom: 50px
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px
    @media (max-width: 1200px)
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 768px)
      gap: 10px
      @media (max-width: 480px)
        grid-template-columns: 1fr

  &__item
    border-radius: 10px
    padding: 20px
    display: flex
    height: auto
    @extend .flex-center
    aspect-ratio: 2.5 / 1
    background-color: $black

    img
      max-width: 200px
      width: 60%
      height: auto
      object-fit: cover
      @media (max-width: 480px)
        width: 40%


  &__button
    margin-top: 60px

