.map
  #map.map__item

//.balloon
//  .balloon__wrapper
//    .balloon__close X
//    .balloon__image-wrapper
//      img.balloon__image(src='./01.jpg' alt='')
//    .balloon__content-text
//      p.balloon__title Dilijazz Restaurant
//      .balloon__kitchen
//        span.balloon__kitchen-title Кухня:
//        .balloon__kitchen-list
//          span.balloon__kitchen-name Американская
//          span.balloon__kitchen-name Средиземноморская
//          span.balloon__kitchen-name Европейская
//      p.balloon__address
//        img(src='./ballon-location.svg' alt='')
//        | 1/1 2nd St., T’eghut, Дилижан 3902 Армения
