.feedback

  .container.feedback__container

    .feedback__col-left
      include ../_items/title-text/title-text
      img(src='/assets/img/form-decor.svg' alt='decor')

    .feedback__col-right
      form.feedback__form.feedback-form(method='POST' action='https://25.javascript.pages.academy/keksobooking' enctype="multipart/form-data" autocomplete="off")

        .feedback-form__input-container
          input#name(type='text' placeholder=" " name="name" pattern="^[A-Za-zА-Яа-яЁё\s]+$" autocomplete='off' required )
          label(for='name') Имя*
          span.feedback-form__error
        .feedback-form__input-container

          input#phone(type='tel' placeholder=" " data-tel-input='' pattern='[0-9]+$' name='phone' maxlength='13'  autocomplete='off' required)
          label(for='phone') Телефон*
          span.feedback-form__error

        .feedback-form__input-container
          input#email(type='email' name="email" placeholder=" ")
          label(for='phone') E-mail*
          span.feedback-form__error

        .feedback-form__input-container
          input(placeholder=" " name="message" required)
          label(for='email') Сообщение

        .feedback-form__sending
          button.button.feedback-form__button(type='submit') Отправить&nbsp;заявку
          label
            input(type='checkbox' checked)
            span.feedback-form__checkbox
            span.feedback-form__agreement
              | Нажав на кнопку, вы соглашаетесь на обработку
              a(href='') &#160;персональных данных

  .feedback__popup.popup
    .popup__body
      .popup__content
        a.popup__close(href="") &#10006;
        img.popup__icon(src="assets/img/check-popup.svg", alt="icon")
        p.popup__title Ваша заявка успешно отправлена!
        p.popup__text В течении 24 часов мы с вами свяжемся
