.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Café #2: городское кафе в самом сердце города

      img(src='https://avatars.mds.yandex.net/get-altay/5457654/2a0000017cc6d21ae842ffbc86ddd297c209/XXXL' alt='Café #2')

      p Café #2 – не просто атмосферное заведение, где можно вкусно поесть и насладиться потрясающим видом на декоративное озеро, это настоящее городское кафе, которое расскажет вам о Дилижане и его жителях.
      p За короткий промежуток времени Café #2 стало одним из самых трендовых мест в городе, которое отличается драйвом, молодёжной атмосферой и креативом. Заведение также идеально подойдёт фрилансерам.
      p Это также первое социальное кафе в Дилижане, которое нацелено на трудоустройство местных подростков и молодежи.
      p <i>“Все сотрудники кафе – молодежь Дилижана от 14 до 18 лет. Мы устраиваем здесь тематические мероприятия, дискуссии, встречи, кинопоказы совместно с другими образовательными организациями: UWC Dilijan, TUMO, средними школами”</i>, - отмечает Рузанна Варданян, SMM-специалист Café #2.

