.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Carahunge Café and More: по следам армянского Стоунхенджа

      img(src='https://avatars.mds.yandex.net/get-altay/1696029/2a0000016d361e2e63269fdec78bf1592696/XXXL' alt='Carahunge Café and More')

      p В дилижанском ресторане Carahunge Café and More история, искусство и кулинария слились в единое целое. Здесь современное обслуживание и творческая, чисто дилижанская атмосфера переплетаются с эстетикой и историей одного из древнейших и загадочных достопримечательностей Армении – Караунджа (или армянского Стоунхенджа).
      p Меню включает блюда армянской и международной кухни – от спаса и харисы до салатов, пиццы, рыбных блюд и чипсов, приготовленных из местной рыбы ишхан. На втором этаже расположена библиотека, в которой представлено более сотни книг на разных языках, а также действует магазин эксклюзивных сувениров ручной работы.
      p Обратите внимание не только на интерьер, но и на детали. Здесь всё, даже посуда, изготовленная эксклюзивно для ресторана, отсылает нас к эстетике Караунджа.

