.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Darchin pastry and cafe: эксклюзивные десерты в дружелюбной атмосфере

      img(src='https://avatars.mds.yandex.net/get-altay/5476645/2a0000017d6b5ed08dd200a4ecd98ef5761e/XXL' alt='Darchin pastry and cafe')

      p В Darchin pastry and cafe подаются эксклюзивные десерты без каких-либо искусственных добавок, приготовленные по принципу – все самое свежее, качественное и заряженное творчеством.
      p Ассортимент включает как веганские десерты, так и традиционные брауни, чизкейки, фруктовые и шоколадные тортики, коктейли. Все приготовлено из местных фруктов, ягод и других продуктов. Особого внимания заслуживает и визуал:
      p <i>«Для меня важен и визуал, стараюсь максимально красиво и эстетично подавать десерты. При оформлении использую свежие цветы, ягоды – все то, что органично с дилижанской спецификой. У меня есть и традиционное меню, так и креативное, творческое. Каждый день я придумываю что-то новое. Мои десерты не повторяются, они уникальны, как и уникальны мои посетители, которые вдохновляют меня на творчество»,</i> - рассказывает.  основательница Darchin Инна Асрян, которая работает здесь по принципу one-person concept.
      p Darchin полюбился дилижанцам также благодаря Инне, которой удалось создать в этом маленьком кафе тёплую, дружелюбную атмосферу. Стоит лишь один раз побывать в Darchin, чтобы убедиться: посетители приходят сюда не только насладиться любимым десертом, но и пообщаться с Инной.


