.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 DiliJazz Hotel & Restaurant: в окружении гор и джаза

      img(src='https://avatars.mds.yandex.net/get-altay/4544819/2a000001793a0034bb87d7c3f2c393d68a2a/XXXL' alt='DiliJazz Hotel & Restaurant')

      p DiliJazz Hotel & Restaurant считается одним из люксовых отелей/ресторанов области, который подходит как для отдыха, так и деловых поездок.
      p Меню ресторана предлагает широкий ассортимент блюд международной кухни, оснащен лучшими винами. Но самая главная фишка ресторана – его величество джаз! Ужин здесь сопровождается живой, джазовой музыкой. В DiliJazz проводятся концерты известных джаз-бендов из Армении и из-за рубежа.
      p Ресторан находится в живописном, лесном уголке Дилижана (в селе Техут), на пути к монастырю Агарцин.


