.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Im toon Dilijan: для истинных ценителей красоты и спокойствия

      img(src='http://img.tourister.ru/files/2/4/6/3/1/6/6/5/original.jpg' alt='Im toon Dilijan')

      p Im toon Dilijan –  уникальное место для ценителей красоты, спокойствия и гармонии, который представляет собой изысканный ресторан армянской и международной кухни и гостиницу.
      p Основателем Im toon Dilijan является учредитель известной сети ресторанов Dolmama Жирайр Аванян (гиперссылка на статью Лица Дилижана, Жирайр Аванян), который планировал построить на этом месте свой собственный  дом. Но в последний момент что-то пошло не так и <i>«спальни стали частью гостиницы, гараж стал кухней, сама кухня превратилась в бар, а остальная территория – в ресторан».</i>
      p <i>«Это не ресторан, не гостиница, а настоящий дом, в котором каждое утро я встречаю гостей. Здесь тихо и уютно. Я хотел создать такую атмосферу, где можно расслабиться»,</i> - отмечает Жирайр Аванян.
      p Im toon Dilijan напоминает элегантный особняк, в котором вы обязательно оцените первоклассное меню, изысканный дизайн и музыкальное сопровождение: пластинки с мировыми джазовыми хитами подобраны лично Жирайром.

