.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Kchuch: тепло домашнего очага и возрождение традиций

      img(src='https://only2weeks.ru/wp-content/uploads/2018/06/gde-poest-v-diligane_4.jpg' alt='Kchuch')

      p «Кчуч» – это традиционный глиняный горшочек, в котором готовятся и подаются блюда одноименного ресторана. Здесь представлена армянская кухня в новой презентации – с учетом местных и региональных кулинарных традиций.
      p Блюда в ресторане готовятся  в «пуре» (кирпичная печь), занимающем важнейшее место в кулинарной традиции севера Армении, и, собственно, в самом «кчуче». Здесь действует принцип slow cooked кулинарии.
      p <i>«Kchuch представляет из себя «пур», местную культуру, местные продукты, местные блюда, которые немного изменены, чтобы соответствовать восприятию современного человека»</i>,- рассказывает Варда Аветисян, основательница ресторана Kchuch и проекта VARDO Group LLC.
      p Kchuch – это уютный ресторан, возрождающий местные традиции и историю. Благодаря интерьеру ресторана, здесь ощущаешь себя дома, в тепле и комфорте. <i>«Это слияние огненных цветов и оттенков почвы, разные оттенки глины, костер – все то, что нас приземляет. Все то, благодаря чему чувствуешь почву под ногами. А там, где почва, там покой и уют»,- подчеркивает Варда Аветисян.</i>




