.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Papanino House: винный ресторан в старинном квартале Дилижана

      img(src='https://avatars.mds.yandex.net/get-altay/5538812/2a000001847711e89dc082d9cdf0eec7620b/XXXL' alt='Papanino House')

      p Papanino House – ресторан армянской и европейской кухни, который удивит вас широким ассортимент вин и стейков. На первом этаже находится пекарня, где подаются свежие десерты, торты, и где можно купить свежеиспеченный хлеб.
      p <i>«Мы предлагаем блюда традиционной армянской кухни в более современной интерпретации. Основа нашей кулинарной концепции – это стейки и мясо, приготовленное по технологии гриль, а также вина. У нас около 400 видов вин из 10-12 стран мира. 70% ассортимента – это армянские вина, остальные – вина из Италии, Франции, Чили, Новой Зеландии, Испании»</i>, - рассказывает исполнительный директор Papanino House Джо Петросян.
      p Papanino House находится в одноименном старинном квартале Дилижана, что отразилось на эстетике самого ресторана. Ажурные деревянные балконы, уютная атмосфера, творческий подход – это то, что сразу же  бросается в глаза и «зазывает» посетителей обязательно заглянуть внутрь.
