.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Sovats Vozni cafe & garden: в сопровождении лесного ёжика

      img(src='https://avatars.mds.yandex.net/get-altay/7979184/2a000001844c46a7525c291b8f2667170863/XXXL' alt='Sovats Vozni cafe & garden')

      p Небольшое семейное кафе Sovats Vozni (в переводе – “голодный ёжик”) еще одно тёплое и уютное место в Дилижане, представляющее собой веранды на открытом воздухе. Кафе полностью вписывается в лесную специфику города.
      p Меню предлагает разнообразный спектр блюд армянской, европейской, китайской, тайской кухни.
      p По словам одной из основательниц кафе Арпине, ёжик открыт ко всему новому и интересному, поэтому акцент ставится на вкусных блюдах без какой-либо национальной привязки. Однако  дилижанская специфика, конечно же, учтена. В кафе также действует бар с широким спектром напитков.
      p <i>“Это наш семейный проект, в который мы вложили душу.  Здесь уютная дилижанская атмосфера, которая отражается и в дизайне, и в каждой детали. На выходных мы играем песни на гитаре у костра, часто устраиваем концерты”,</i> - отмечает Арпине.


