.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 TAVA: все оттенки Дилижана в одном ресторане

      img(src='https://avatars.mds.yandex.net/get-altay/5098556/2a00000181ddcd82b85c5d4149f3103cc7a9/XXXL' alt='TAVA')

      p TAVA – еще один концептуальный ресторан проекта VARDO Group LLC. Здесь блюда также готовятся в традиционном «пуре», но на смену глиняного горшочка приходит чугунная сковорода – «тава».
      p Отличается и меню ресторана: в TAVA акцент делается на блюдах международной кухни, приготовленных по местным технологиям и щепоткой дилижанского колорита.
      p <i>«В концепцию TAVA мы вложили все разнообразие Дилижана, все его цвета. Ведь в Дилижан приезжают люди с самых разных уголков планеты. Этим и обусловлено наше меню, которое впитало в себя разные культуры. В концепцию TAVA мы вложили все разнообразие Дилижана, все его цвета»,</i>-  отмечает Варда Аветисян, основательница ресторана Kchuch и проекта VARDO Group LLC.
      p Обратите внимание на дизайн и интерьеры ресторана. Все убранство – начиная от люстр, заканчивая барной стойкой, представляет собою бережно отреставрированную раритетную мебель, подаренную местными жителями.
      p





