.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Toon Armeni Guest house: домашний уют и функциональность

      img(src='https://cf.bstatic.com/xdata/images/hotel/max1024x768/363935543.jpg?k=d45f0a0fbcf69622b38f1f1aad84061bf9a8cb89f47efd8809d4eedf9deae22d&o=&hp=1' alt='Toon Armeni Guest house')

      p Toon Armeni Guest house – семейный гостевой дом и ресторан, который с первых секунд цепляет тёплой и душевной атмосферой.
      p В настоящее время экосистема Toon Armeni включает гостевой дом, ресторан, зал для конференций, и co-working space. Спектр услуг, по словам менеджера проектов Toon Armeni Светланы Ананян, еще будет расширяться. Фонд IDea, которому с 2015 г. принадлежит гостевой дом, нацелен в конечном итоге превратить его в концептуальный, атмосферный и функциональный микрогородок.
      p <i>“При этом мы сохраним нашу концепцию, которую называем “бабушкин домик”.  Toon Armeni – это место, где ты чувствуешь себя как у бабушки в деревне. Наше обслуживание очень тёплое и домашнее. Наши повара знают, что вы предпочитаете на завтрак. Мы вывели золотую середину между качественным обслуживанием и человеческими, теплыми взаимоотношениями. Но при этом мы ставим акцент на функциональность, создавая все условия для coworking-а, конференций и хорошего отдыха ”,</i> - отмечает она.
      p Меню ресторана Toon Armeni предлагает завтраки, обеды, основные блюда, выпечку – все приготовлено по-домашнему и с особой, “бабушкиной” заботой.


