.about-project-inner
  .container
    h1.about-project-inner__title О проекте
    p.about-project-inner__text Город Дилижан и его окрестности богаты природными и историко-культурными достопримечательностями, что дает возможность совместить пассивный отдых в санаториях с экскурсиями и пешими походами. Здесь также находится Дилижанский национальный парк, который выделяется богатым и уникальным биоразнообразием.
    p.about-project-inner__text Среди множества отелей и домов отдыха, особой оценки туристов удостоились санаторий “Дилижан Резорт” и “Старый Дилижан” из сети отелей Туфенкян, а также множество семейный гостевых домов, гостиниц и жилья. Отели Дилижана предлагают свои услуги как бизнесменам, так и туристам.
    p.about-project-inner__text Город Дилижан и его окрестности богаты природными и историко-культурными достопримечательностями, что дает возможность совместить пассивный отдых в санаториях с экскурсиями и пешими походами. Здесь также находится Дилижанский национальный парк, который выделяется богатым и уникальным биоразнообразием.

    .about-project-inner__images
      .about-project-inner__image-wrapper
        img.about-project-inner__image(src='/assets/img/09.jpg' alt='img')
      .about-project-inner__image-wrapper
        img.about-project-inner__image(src='/assets/img/06.jpg' alt='img')
      .about-project-inner__image-wrapper
        img.about-project-inner__image(src='/assets/img/07.jpg' alt='img')

