.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Хачардзан: живописные долины и пасторальный пейзаж

      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Khachardzan_village.jpg/1920px-Khachardzan_village.jpg' alt='Хачардзан')

      .page-inner__info
        ul
          li Население – 360 чел (2011)
          li Расстояние от Дилижана – 24 км
          li Высота над уровнем моря – 1 050 м
          li Климат умеренный, мягкий

          li Средняя температура:
            ul
              li летом +20°С
              li зимой -2°С

          li Дата основания – неизвестно
          li Упоминание названия Хачардзан – 1991 г.


      p Хачардзан – небольшое, высокогорное село в Тавушской области, расположенное в устье реки Хачардзан. Расположено на высоте 1 050 м над уровнем моря и отличается живописными горными и луговыми пейзажами. Хачардзан находится по соседству с Агавнаванком, поэтому ландшафты и природное богатство этих сел может показаться идентичным.
      p Этимология слова “хачардзан” восходит к корням “хач” (крест) и “ардзан” (памятник).



      p Основные отрасли агрокультуры и занятости населения:
        ul
          li скотоводство,
          li полеводство,
          li овощеводство

      p В Южной части Хачардзана находятся руины древней часовни “Хачи тап”, а также могильные курганы, датируемые I-II тысячелетием до н.э. Близ Хачардзана находятся также развалины древних поселений Чермакаван и Гехатап.


      .page-inner__info
        p Что поблизости?
        ul
          li часовня “Хачи тап”
          li древние поселения Чермакаван и Гехатап
          li живописные долины и луга



    //.fixed-nav
    //  ul
    //    li
    //      a(href="") Title
    //    li
    //      a(href="") Title


