.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Дилижан в водовороте истории: от летней резиденции царей до туристического центра современной Армении

      img(src='./assets/img/about/about-1.jpg' alt='img')

      p История Дилижана, как и вся история Армении, насыщена драматическими событиями; находясь на стыке цивилизаций и культур, перекрестком между западом и востоком, эти территории не раз становились ареной для геополитических баталий могущественных империй.
      p Знаете ли вы, что первые поселения появились здесь еще в дохристианский период, примерно в III тысячелетие до н. э? А в эпоху правления одной из царских династий Армении территория Дилижана была летней резиденцией царей?
      p Когда появилось первое упоминание топонима “Дилижан” и в какую эпоху он, наконец, получил статус города-курорта республиканского значения?
      p Итак, чтобы найти ответы на эти вопросы и лучше понять, с чего же все начиналось, представляем наш экскурс в историю Дилижана – от самых истоков до наших дней.


      h2#title1 Дохристианский период

      p Археологические раскопки 50-х годов XIX века показали, что поселения на территории Дилижана существовали еще с эпохи поздней бронзы и раннего железа (конец II и начало I тысячелетия до нашей эры). Это были первые раскопки, проводимые на территории Армении в местности «Лагерь Редкина», в результате которых были обнаружены ценнейшие артефакты куро-аракской эпохи (примерно III тысячелетие до н. э). Культура этого периода относится к эпохе ранней бронзы, а ее ареал охватывает все Армянское нагорье, северо-западную часть Ирана, территории Южного и Северного Кавказа. У носителей куро-аракской культуры были хорошо развиты земледелие, скотоводство; уже появляются примитивная соха, металлические серпы, топоры, копья, все по-прежнему применяются примитивные каменные орудия. Особого развития достигает керамика: тысячами вручную изготавливались различные сосуды, кувшины и другая посуда, украшенная резным, вдавленным или прочерченным геометрическим орнаментом.


      h2#title2 В составе Великой Армении

      p В IV в. до н. э. Арташес I основал на территории Армянского нагорья мощное государственное образование – Великую Армению, которая стала одним из ведущих государств Ближнего Востока. Сам Арташес стал родоначальником одной из самых влиятельных армянских царских династий – династии Арташесидов; к ней принадлежал и Тигран II Великий (Тигран Мец), при котором границы армянского государства доходили вплоть до Египта. Города Великой Армении стали центрами эллинистической культуры, через них проходили также важнейшие торговые пути из Средиземноморья на восток.
      p Территория Дилижана исторически являлась частью уезда Варажнуник области Айрарат Великой Армении.
      p В I веке н. э. управление государством переходит к династии Аршакуни, во время правления которой территория современного Дилижана и его окрестностей получила особый статус, став царской резиденцией и охотничьим угодьем. Территории вдоль реки Агстев называлась Каенадзор, а сам Дилижан – Овк. В дальнейшем Каенадзор назывался также провинцией Каено – именно из этой провинции Каено был и внук Ованеса, князь Дилижан, с чьим именем, возможно, связана этимология города.
      p Подобное административно территориальное деление сохранялось вплоть до конца IV века – до первого раздела Армении между Византийской империей и Сасанидской Персией.
      p.italic Примечательно, что в 5 км к северу от села Техут, на территории «Чери Гхер», находятся два межевых камня армянского царя Арташеса I с письменами, высеченными на арамейском языке. (гиперссылка на статью села Дилижана: Техут)
      p К династии Аршакуни принадлежал и царь Трдат III, при котором Армения в 301 году приняла христианство. Это сыграло большую роль в культурном развитии и формировании идентичности армянского народа. Армения стала первым государством, принявшим христианство в качестве государственной религии.
      p.italic На территории Дилижанского национального заповедника сохранилось множество памятников средневековой христианской культуры, самые известные и крупные из них – монастырские комплексы Гошаванк и Агарцин. (гиперссылка на статью Монастыри Дилижана).



      h2#title3 Первый раздел Армении. Восточная Армения – под властью Персии

      p К сожалению, история первых четырех веков новой эры обернулась постепенной утратой государственности и разделом Великой Армении между двумя могущественными соседями – Восточной Римской империей (Византией) и Царством парфян (с III века – персов). Постепенному ослаблению государства способствовал также внутренний раскол внутри самой Армении, где соперничали два начала –эллинизм и иранизм.
      p В 387 году Армения утратила государственность и была впервые разделена между Римом и Персией. В римской части армянская власть была упразднена в 391 году, в иранской — в 428 году, хотя здесь Армения все еще сохраняла некое внутреннее самоуправление при марзпанах (иранский наместник).
      p Территория современного Дилижана и Тавушской области на долгие столетия перешла под власть Персии. Каянадзор стал частью провинции Кохпапор области Гугарк.
      p Важнейшую роль в сохранении армянской идентичности в условиях отсутствия государственности сыграло создание языковедом Месропом Маштоцом армянской письменности в 405-406 годах.



      h2#title4 Высокое средневековье. Ташир-Дзорагетское царство

      p В конце X века, в 978 г., на территории северной Армении было образовано Ташир-Дзорагетское царство (или Лорийское царство). Новое феодальное государственное образование включало большую часть территорий Гугарка – области Ташир, Дзорапор, Кохб, а также часть Варажнуника (соответственно и территории современного Дилижана и окрестностей).
      p Основателем Ташир-Дзорагетского царства становится сын Ашота III князь Гурген, который стал основателем новой ветви династии Кюрикянов – младшей ветви армянской династии Багратидов.
      p В период Ташир-Дзорагетского царства, который совпадает с эпохой высокого средневековья, культура Армении переживает беспрецедентный расцвет: развиваются науки, философия, медицина, архитектура, традиционные ремесла. В X-XIII вв. были основаны монастырские комплексы Агарцин и Гошаванк, которые являлись важнейшими культурно-просветительскими центрами того времени. В Дилижане и его окрестностях сохранились также и другие средневековые монастыри – Джухтак, Матосаванк, Агавнаванк (гиперссылка на статью монастыри Дилижана), а также средневековые хачкары.
      p Согласно средневековому армянскому историку Киракосу Гандзакеци, на месте современного Дилижана в XIII веке было основано поселение Буджур Дили или Пучур Дили (маленький Дили), что может быть связано с этимологией названия города.


      h2#title5 Под игом Сефевидского Ирана

      p Из-за своего геостратегического положения Армения стала ареной войн между Ираном и Османской империей. В 1501-1502 годах большая часть Восточной Армении, включая территории современной Тавушской области, была захвачена шахом Сефевидским Ираном. А Западная Армения позднее вошла в состав Османской империи. Из-за постоянных изнурительных войн и набегов местное население начало массово покидать родину, что привело к сокращению численности армянского населения на территориях исторической Армении. После ряда опустошительных войн Турция и Персия в 1639 году заключили договор, по которому Западная Армения, составляющая большую часть страны, окончательно отошла к Турции, а Восточная — к Персии.


      h2#title6 Первое упоминание

      p В письменных источниках название «Дилижан» впервые упоминается в XVII в (1672 г.) в путевых заметках французского путешественника Жана Шардена.  Шарден пишет, что они достигли города под названием Дилижан, в котором было 300 домов. Окрестности населены христианами – армянами... Уезд подчиняется Персии с момента его завоевания шахом Аббасом.
      p Позднее Дилижан, Караван-сарай (Иджеван), Шамшадин (Берд) и близлежащие населенные пункты входят в состав Гандзакского ханства.



      h2#title7 В составе Российской империи

      p Окончание русско-персидской войны 1804—1813 годов ознаменовалось подписанием Гюлистанского мирного договора в 1813 г. По условиям договора, бывшее Гандзакское ханство, в состав которого входили и территории современного Дилижана, становится частью Российской империи.
      p В этот период поселение под названием «Дилижан» упоминается российским дипломатом, писателем Александром Грибоедовым, ночевавшим в городе 2 февраля 1819 года по пути из Тбилиси в Ереван.
      p В 1844 году высланными в Армению русскими староверами были основаны в окрестностях Дилижана села Головино и Папанино, которые в XX в. стали кварталами города.
      p В середине XIX века по указу Николая I в Закавказье происходит ряд территориально-административных изменений: вместо бывших персидских ханств создаются губернии. Так, в 1849 году была создана Эриванская губерния, остальные районы Восточной Армении после вошли в Тифлисскую и Елизаветпольскую губернии. Сам Дилижан становится частью Каравансарайского района Казахского уезда Елизаветпольской губернии. Такое административное деление в Российской империи сохранялось вплоть до 1917 года.
      p Население Дилижана постепенно начинает расти. Ко второй половине XIX века насчитывалось уже около 60 домов.
      p В 1869 г. начинается строительство дороги Тифлис – Эривань. Магистраль проходит через Дилижан, что делает населенный пункт важным региональным узлом.
      p В 1880 г. в Дилижане было основано учебное заведение «Гимназия в лесу». А спустя несколько лет. в Дилижане появилась первая больница – лазарет с тремя врачами и аптекой.
      p В 1908 г. усилиями заслуженного учителя Ованеса Закаряна в Дилижане открывается библиотека имени Газароса Ахаяна, которая считается старейшей публичной библиотекой Армении. (гиперссылка на статью Бибилиотека Дилижана)
      p В конце XIX в. дилижанцы на свои средства построили в живописном уголке города летний театр «Ротонда», где в 1905 г. была впервые поставлена пьеса Габриеля Сундукяна «Пепо». С гастролями в Дилижане выступали театральные труппы Тбилиси, Баку и Александрополя (ныне Гюмри).



      h2#title8 В период становления Первой Республики

      p 28 мая 1918 г. Армянский Национальный Совет провозгласил Первую Республику Армения. Тем самым был восстановлен суверенитет и утраченная на протяжении 7 веков государственность Армении. Это стало возможным и благодаря тому, что армянский народ сумел в ходе Сардарапатского, Караклисского и Башапаранского сражений нанести поражение турецким войскам.
      p Согласно новому административно-территориальному делению, Дилижан временно стал одним из 3 уездов (гаваров) Ширакской области.



      h2#title9 Советский период

      p 29 ноября 1920 г. революционный комитет Армении вместе с армянским повстанческим отрядом вступил в Иджеван, а 30 ноября, объединившись с частями 11-й Красной Армии, вошел в Дилижан. Примечательно, что председатель Военно-революционного комитета Армении С. Касьян на митинге трудящихся города зачитал текст телеграммы Ревкома Армении Ленину об установлении Советской власти в стране.
      p 21 марта 1919 г. издается Ленинский декрет об «общегосударственном значении лечебных местностей», что во многом способствовало развитию Дилижана как лечебного города, но в то же время тормозило его развитие в качестве республиканского города-курорта. В 1921 году здесь открывается противотуберкулезная лечебница, число коек в которой достигает ста. В 1920-1930 гг. в Дилижане строятся противотуберкулезный диспансер, больницы, санатории.



      h2#title10 В 1938 г. Дилижан получает статус городского поселения, а в 1958 г. Дилижан, наконец, официально получает статус города-курорта республиканского подчинения.

      p Итак, со второй половины XX века начинается активное строительство и благоустройство городской среды Дилижана.
      p В 1986 году был окончательно утвержден генеральный план города, авторами которого стали архитекторы Л. Эйвазова, М. Оганесян, И. Тер-Саркисова, К. Айвазян, Х. Ватинян, С. Аветисян. В проекте были учтены крайне сложный рельеф, его геологические условия, наличие дорог и существующие застройки. Начинается строительство городской зоны отдыха с искусственным озером, а также административного центра города, включающего административные здания, библиотеку, Дворец культуры, кинотеатр. (гиперссылка на материал «Что посмотреть в Дилижане»).
      p Для развития Дилижана как общеоздоровительного курортного города большое значение имело постановление о выводе туберкулезных лечебниц за черту города. Начинается строительство многочисленных санаториев и домов отдыха, особую известность в советское время получили санатории «Горная Армения», «Дилижан» и др.
      p Дилижан развивается не только как курортный город, но и как <b>центр советской интеллигенции</b>. Этому способствовало, прежде всего, открытие «Дома творчества Союза композиторов СССР» (1963 г.) и «Дома отдыха Союза кинематографистов СССР» (1983 г). Здесь отдыхали композиторы с мировым именем – Шостакович, Хачатурян, Свиридов, Бабаджанян. На реализацию этого проекта претендовали также и другие республики Союза, в частности Грузия и Азербайджан, но Дом творчества был построен именно в Дилижане. Известно, что именно здесь Шостакович сочинил свой знаменитый струнный квартет №9.
      p Открываются музеи –  Краеведческий музей и картинная галерея (1950 г.) и Музей народного искусства (1979 г.).
      p Так, Дилижан постепенно становится не просто оздоровительным курортом, но и своеобразным центром творческой интеллигенции. В 80-е годы люди со всего мира приезжали в Дилижан не только, чтобы отдохнуть и поправить здоровье, но и заниматься творчеством, увидеться со своими коллегами, окунуться в культурную атмосферу.
      p Параллельно развивается и промышленный Дилижан, строятся фабрики, заводы и другие предприятия. Одним из первых таких предприятий была мебельная фабрика «Новая жизнь» (1923 г). В Дилижане находилось также одно из крупных предприятий страны – завод «Импульс», действовал также завод минеральной воды «Дилижан», хлебобулочный и молочный заводы, трикотажная фабрика.


      h2#title11 Современный Дилижан

      p 23 августа 1990 года Верховный совет принимает Декларацию о независимости Армении. 21 сентября 1991 года Армения, по итогам референдума, на котором большая часть населения проголосовала за независимость, выходит из состава СССР.
      p Образуется новая независимая Республика Армении. И согласно административно-территориальному делению республики, Дилижан становится главным курортным городом Тавушской области.
      p С 2013 г. в Дилижане действует образовательно-исследовательский центр Центрального банка Армении. Это оснащенный инновационными технологическими решениями институт, где проводятся региональные и международные конференции в сферах экономики и финансов, осуществляются учебные программы переподготовки кадров Центрального банка Армении. С появлением Центра наблюдается развитие финансово-экономической сферы города. Навигация: гиперссылка на статью про ЦБ Армении и Музей армянского драма.
      p В 2013 г. в Дилижане также начинает действовать Центр креативных технологий TUMO – уникальный армянский международный проект, школа для подростков 12-18 лет, в которой осваивают современные технологические и креативные профессии. Навигация: гиперссылка на статью Центр TUMO в Дилижане: Окно в мир инноваций и важная ступень к модернизации региона
      p В 2014 году в Дилижане открывается международная школа-пансион UWC Dilijan. Это первая школа образовательной сети United World Colleges (UWC) в Закавказье и на постсоветском пространстве. Открытие колледжа такого масштаба затронуло все сферы жизни в Дилижане, в который теперь каждый год «слетаются» талантливые подростки практически со всех уголков мира. Навигация: гиперссылка на статью про UWC Dilijan.
      p В 2016 году, в рамках программы по укрупнению общин Армении, <b>в единую административно-территориальную единицу объединены села Техут, Агарцин, Гошаванк, Хачардзан, Агавнаванк, Овк и сам город Дилижан.</b> Это был первый подобный опыт в Армении. Вскоре программа укрупнения затронула и другие населенные пункты страны.
      p Так, пройдя через водоворот бурных исторических событий, из-за которых границы и топонимы населённого пункта не раз менялись, Дилижан сохранил свою этнокультурную самобытность, став одним из самых интересных и многообещающих городов современной, независимой Армении. (ссылка на статью Дилижан, общая информация – навигация на раздел “Чем удивит современный Дилижан”)
      p Историю Дилижана теперь пишем мы. И какой она будет зависит только от нас – жителей и гостей города.
      p А наш проект Go to Dili поможет вам понять, чем же дышит современный Дилижан.




    .fixed-nav
      ul
        li
          a(href="#title1") Дохристианский период
        li
          a(href="#title2") В составе Великой Армении
        li
          a(href="#title3") Первый раздел Армении
        li
          a(href="#title4") Высокое средневековье
        li
          a(href="#title5") Под игом Сефевидского Ирана
        li
          a(href="#title6") Первое упоминание
        li
          a(href="#title7") В составе Российской империи
        li
          a(href="#title8") В период становления Первой Республики
        li
          a(href="#title9") Советский период
        li
          a(href="#title10") Статус города-курорта
        li
          a(href="#title11") Современный Дилижан



