footer.footer-v2
  .footer-v2__main-side
    .footer-v2__column
      .footer-v2__logo-box
        .footer-v2__logo-wrapper
          img.footer-v2__logo(src="/assets/img/logo_footer-v2.svg")
        .footer-v2__logo-box-text
          b Our office is located in Dilijan
          span Central Avenue, building 2, room 13
          //a.footer-v2__logo-box-link(href="#")
            div Дополнительная ссылка, если понадобится
        .footer-v2__main-links
          a.footer-v2__main-link(href="/en/contacts.html") Contacts
          a.footer-v2__main-link(href="/en/how-to-get.html") How to get?

    .footer-v2__column

      .footer-v2__nav
        a.footer-v2__nav-link(href="#") О нас
        a.footer-v2__nav-link(href="#") Частые вопросы
        a.footer-v2__nav-link(href="#") Для партнеров
        a.footer-v2__nav-link(href="#") Туроператорам
        a.footer-v2__nav-link(href="#") Корпоративные запросы

      .footer-v2__social-links
        .footer-v2__social-links-title Следите за нами
        .footer-v2__social-links-icons
          a.footer-v2__social-link(href="#")
            svg(width='38' height='38')
              use(href='/assets/img/sprite.svg#facebook')
          a.footer-v2__social-link(href="#")
            svg(width='38' height='38')
              use(href='/assets/img/sprite.svg#vk')
          a.footer-v2__social-link(href="#")
            svg(width='38' height='38')
              use(href='/assets/img/sprite.svg#instagram')
          a.footer-v2__social-link(href="https://www.tiktok.com/@gotodili?_t=8VSMNo2dZnm&_r=1")
            svg(width='38' height='38')
              use(href='/assets/img/sprite.svg#tiktok')
          a.footer-v2__social-link(href="https://www.linkedin.com/company/gotodili/")
            svg(width='38' height='38')
              use(href='/assets/img/sprite.svg#linkedin')

  .footer-v2__sub-side
    .footer-v2__sub-side-links
      a.footer-v2__sub-side-link(href="#") Карта сайта
      a.footer-v2__sub-side-link(href="#") Политика обработки персональных данных
      a.footer-v2__sub-side-link(href="#") Еще ссылка
    .footer-v2__sub-side-info
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci consectetur deserunt dolore magni nam necessitatibus nihil repellat sunt tempore.

  .footer-v2__partners
    a.footer-v2__partner(href="#")
      img.footer-v2__partner-img(src="/assets/img/partners/impulse.svg")
    a.footer-v2__partner(href="#")
      img.footer-v2__partner-img(src="https://impulse.am/upload/iblock/fc0/ddw44sx6y0r0nkz0i152wui652pjydxr.jpg")
    a.footer-v2__partner(href="#")
      img.footer-v2__partner-img(src="https://impulse.am/upload/iblock/ff5/x67siboi2awqgawt51f2izne0tk6uyit.jpg")
    a.footer-v2__partner(href="#")
      img.footer-v2__partner-img(src="https://impulse.am/upload/iblock/0f7/0dxnv1uqnaaxvvhg95vag5hbj99k658r.jpg")
