footer.footer
  .footer__container
    .footer__top
      svg(width='86' height='99' fill='#8CB110')
        use(href='assets/img/sprite.svg#header-logo')
      nav.footer__nav.footer-nav
        .footer-nav__col.footer-nav__col-1
          a(href='/') Что делать в городе?
          a(href='/') События
          a(href='/') Ключевые окрестности
          a(href='/') История Дилижана
        .footer-nav__col.footer-nav__col-2
          a(href='/') Важная информация
          a(href='/') О проекте
          a(href='/') Карта города
          a(href='/') Для партнеров
          a(href='/') Контакты
        .footer-nav__col.footer-nav__col-3
          a(href='mailto:info@go2dili.com') info@go2dili.com
          a(href='tel:+78528560000') +7 852 856 00 00
          a(href='/') Адрес GO2DILI
          a(href='/') Время работы с указанием GTM
      .footer__col-right
        a.footer__link-pdf(href='/') Всё о городе
        .footer-social
          a(href='/')
            svg(xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewbox='0 0 34 34' fill='none')
              circle(cx='17' cy='17' r='17' fill='white' fill-opacity='0.19')
              path(d='M24.7972 13.7783C24.7884 13.118 24.6648 12.4643 24.4319 11.8464C24.2299 11.3252 23.9215 10.8518 23.5262 10.4566C23.131 10.0613 22.6576 9.7529 22.1364 9.55094C21.5265 9.32197 20.8821 9.19816 20.2307 9.18479C19.392 9.1473 19.1261 9.13684 16.9972 9.13684C14.8683 9.13684 14.5954 9.13684 13.7628 9.18479C13.1118 9.19826 12.4677 9.32207 11.858 9.55094C11.3367 9.75275 10.8633 10.0612 10.468 10.4564C10.0728 10.8517 9.76435 11.3251 9.56254 11.8464C9.33311 12.4559 9.20957 13.1001 9.19726 13.7513C9.15977 14.5908 9.14844 14.8567 9.14844 16.9856C9.14844 19.1145 9.14844 19.3865 9.19726 20.22C9.21033 20.8721 9.33326 21.5155 9.56254 22.1266C9.76469 22.6477 10.0733 23.1209 10.4687 23.516C10.8641 23.9111 11.3376 24.2194 11.8588 24.4212C12.4669 24.6593 13.1111 24.792 13.7637 24.8135C14.6033 24.8509 14.8692 24.8623 16.9981 24.8623C19.127 24.8623 19.3999 24.8623 20.2324 24.8135C20.8838 24.8006 21.5282 24.6771 22.1382 24.4482C22.6592 24.246 23.1325 23.9375 23.5277 23.5422C23.9229 23.147 24.2314 22.6738 24.4336 22.1527C24.6629 21.5425 24.7858 20.8991 24.7989 20.2461C24.8364 19.4075 24.8477 19.1416 24.8477 17.0118C24.846 14.8828 24.846 14.6126 24.7972 13.7783ZM16.992 21.0116C14.7654 21.0116 12.9617 19.2078 12.9617 16.9813C12.9617 14.7547 14.7654 12.9509 16.992 12.9509C18.0609 12.9509 19.086 13.3756 19.8418 14.1314C20.5977 14.8872 21.0223 15.9123 21.0223 16.9813C21.0223 18.0502 20.5977 19.0753 19.8418 19.8311C19.086 20.5869 18.0609 21.0116 16.992 21.0116ZM21.1827 13.7417C21.0592 13.7418 20.937 13.7175 20.8229 13.6704C20.7088 13.6232 20.6052 13.5539 20.5179 13.4667C20.4306 13.3794 20.3614 13.2757 20.3142 13.1616C20.267 13.0476 20.2428 12.9253 20.2429 12.8019C20.2429 12.6785 20.2672 12.5564 20.3144 12.4424C20.3616 12.3284 20.4308 12.2249 20.518 12.1376C20.6053 12.0504 20.7088 11.9812 20.8228 11.934C20.9368 11.8868 21.0589 11.8625 21.1823 11.8625C21.3056 11.8625 21.4278 11.8868 21.5417 11.934C21.6557 11.9812 21.7593 12.0504 21.8465 12.1376C21.9337 12.2249 22.0029 12.3284 22.0501 12.4424C22.0973 12.5564 22.1216 12.6785 22.1216 12.8019C22.1216 13.3215 21.7014 13.7417 21.1827 13.7417Z' fill='white')
              path(d='M16.993 19.5994C18.4389 19.5994 19.611 18.4273 19.611 16.9814C19.611 15.5355 18.4389 14.3634 16.993 14.3634C15.5471 14.3634 14.375 15.5355 14.375 16.9814C14.375 18.4273 15.5471 19.5994 16.993 19.5994Z' fill='white')
          a(href='/')
            svg(xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewbox='0 0 34 34' fill='none')
              circle(cx='16.9999' cy='16.9999' r='16.9999' fill='white' fill-opacity='0.19')
              g(clip-path='url(#clip0_326_696)')
                path(d='M18.5273 23.5385C11.8255 23.5385 8.00302 19.1207 7.84375 11.7694H11.2008C11.311 17.1651 13.7858 19.4506 15.7461 19.9218V11.7694H18.9072V16.4229C20.843 16.2226 22.8766 14.102 23.5627 11.7694H26.7237C26.1969 14.644 23.9916 16.7645 22.4233 17.6363C23.9916 18.3432 26.5033 20.1928 27.459 23.5385H23.9793C23.232 21.3002 21.3699 19.5684 18.9072 19.3328V23.5385H18.5273Z' fill='white')
              defs
                clippath#clip0_326_696
                  rect(width='20.9229' height='20.9229' fill='white' transform='translate(6.53906 6.53894)')
          a(href='/')
            svg(xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewbox='0 0 34 34' fill='none')
              circle(cx='17' cy='17' r='17' fill='white' fill-opacity='0.19')
              path(d='M15.7404 24.7714H18.4088V17.6799H20.64L20.977 14.9211H18.4088V13.1531C18.4088 12.3565 18.6182 11.8125 19.6929 11.8125H21.068V9.33537C20.8313 9.30623 20.0207 9.22852 19.0736 9.22852C17.0882 9.22852 15.7404 10.5205 15.7404 12.8811V14.9211H13.5V17.6799H15.7404V24.7714Z' fill='white')
    .footer__bottom
      a(href='/') Реквизиты ИНН, ОРГН, юр. адрес
      a(href='/')
        | Разработано в
        b Webster Std
