footer.footer
  .footer__top
    .footer__container.footer__container--top
      a.footer__logo(href='/')
        //svg(width='77' height='90' fill='#8CB110')
        //  use(href='assets/img/sprite.svg#header-logo')
        include ../../img/logo.svg
      nav.footer__nav.footer-nav
        .footer-nav__col.footer-nav__col-1
          a(href='/') Что делать в городе?
          a(href='/') События
          a(href='/') Ключевые окрестности
          a(href='/') История Дилижана
          a(href='/') Блог
        .footer-nav__col.footer-nav__col-2
          a(href='/') О проекте
          a(href='/') Важная информация
          a(href='/') Для партнеров
          a(href='/') Карта города
          a(href='/') Контакты
        .footer-nav__col.footer-nav__col-3
          a.footer__email(href='mailto:info@go2dili.com') info@go2dili.com
          a(href='tel:+78528560000') +7 852 856 00 00
          span.footer__address
            | 197882, г. Москва,
            br
            | пр. Чкаловский, д.87, лит.А, оф.420
          span.footer-nav__working-hours Часы работы: с 09.00 до 18.00

      .footer__col-right
        a.footer__link-pdf(href='/')
          svg(width="26" height="30")
            use(href='assets/img/sprite.svg#footer-pdf')
          | Всё о городе
        .footer-social
          a.footer-social-link(href='/')
            svg(width="34" height="34" fill="#595959")
              use(href='assets/img/sprite.svg#instagram')
          a.footer-social-link(href='/')
            svg(width="34" height="34" fill="#595959")
              use(href='assets/img/sprite.svg#vk')
          a.footer-social-link(href='/')
            svg(width="34" height="34" fill="#595959")
              use(href='assets/img/sprite.svg#facebook')

        a.footer__phone(href='tel:+78522560000')
          svg(width='17' height='20' fill='#8CB110')
            use(href='assets/img/sprite.svg#header-phone')
          span +7 852 256 00 00

  .footer__bottom
    .footer__container.footer__container--bottom
      a(href='/') Реквизиты ИНН, ОРГН, юр. адрес
      a(href='/')
        | Разработано в
        b  Webster Std
