.events-item-header
  background-color: var(--c-light-green)

  &__title
    margin-bottom: 50px
    @media (max-width: 768px)
      margin-bottom: 34px

  &__date
    color: rgba($black, 0.6)
    svg
      fill: #C4C8B7
