.events-item-header.container
  h1.events-item-header__title.title-section В Дилижане состоялся фестиваль GASTROFEST
  p.events-item-header__date.date
    svg(width='20' height='21' fill='#8CB110')
      use(href='./assets/img/sprite.svg#icon-date')
    | 10 мая 2021
