.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Монастырский комплекс Агарцин

      img(src='https://avatars.mds.yandex.net/get-altay/1363376/2a0000016509d0dfb956e5c007c4ea808bfc/XXXL' alt='Монастырский комплекс Агарцин')

      p Агарцин – одна из важнейших историко-культурных достопримечательностей не только Тавушской области, но и всей Армении. Это самый крупный монастырский комплекс Дилижанского национального парка. Расположен в 12 км восточнее Дилижана в живописном лесистом ущелье, близ одноименного села.  (гиперссылка на статью Село Агарцин).
      p Точная дата основания монастырского комплекса не установлена. В настоящее время  комплекс включает 4 церкви (Св. Григория, Св. Степаноса, Св. Богородицы и церковь Катохике), построенные в разные исторические периоды, два притвора и трапезную. Считается, что самое старинное строение комплекса, церковь Св. Григория, построена в XI веке. Она построена из грубо обработанного желтого известняка и представляет из себя крестово-купольное сооружение.
      p В нескольких метрах восточнее церкви Св. Григория находится церковь Св. Степаноса, датируемая 1244 г. Это маленькое сооружение из голубого базальта, не выделяющееся избытком деталей – за исключением солнечных часов на южном фасаде и узких, орнаментированных окон в центре стен и тромпов.
      p Главной церковью монастырского комплекса является церковь Св. Богородицы (Сурб Аствацацин). Она расположена в северной части комплекса, несколько обособленно от группы.
      p Согласно одним источникам, церковь была основана в 1281 г. видным средневековых архитектором Минасом. Однако надпись на тимпане отсылает нас к более раннему времени – к 1071 г.
      p Церковь Св. Богородицы воспроизводит схему крестово-купольных сооружений XI-XIII вв. Она выделяется величественностью формы и изысканностью деталей. Вот как описывается внешний облик церкви в книге архитектора Х. Ватиняна и историка С. Есаяна “Историко-архитектурные памятники Дилижана”.
      p.italic “Стройный объем церкви венчается высоким цилиндрическим барабаном купола, обработанным декоративной аркатурой. На всех стенах, кроме западной, имеются по две треугольные ниши, завершающиеся, как ниши главной церкви Гегардского монастыря, фестонами. Богато оформлены узкие окна на западном и северном фасадах; на восточном фасаде выше парного окна помещен групповой барельеф ктиторов – две большеголовые приземистые фигуры в монашеском одеянии. Выполненные во весь рост, они руками указывают на изображенную между ними модель церкви несколько увеличенных пропорций”.
      p Особого внимания заслуживает также трапезная, сооруженная в 1248 г. архитектором Минасом, имя которого скромно высечено на своде западной половины здания. В архитектуре трапезной прослеживаются новые, творческие подходы армянских зодчих, которые не побоялись торжественных форм.
      p Этимология слова “агарцин” восходит к слову «единородный» (hաղ – целый, единый, ծին –рождение). Однако в народе распространены и другие версии происхождения названия монастыря.  Так, по одной из версий, “агарцин” переводится с армянского как “игра орлов, согласно другой – “там, где рождаются герои”.
      p Некоторые сведения об Агарцине сохранились у средневекового армянского мыслителя, Киракоса Гандзакеци – ученика Мхитара Гоша. По свидетельству Киракоса Гандзакеци, с Агарцином неразрывно связано имя выдающегося средневекового мыслителя и музыкального деятеля Хачатура Таронаци.
      p.italic “Именно при его настоятельстве монастырь пережил эпоху своего расцвета, были возведены новые сооружения комплекса, открыта монастырская школа, где кроме теологии преподавались светские дисциплины, музыка и пение. Этот выдающийся деятель армянского средневековья погребён перед церковью Катохике”, - отмечается в книге “Историко-архитектурные памятники Дилижана”.
