.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 ММонастырский комплекс Матосаванк

      img(src='https://yerkirarmenia.ru/upload/iblock/950/9508a228d2b2d8776e4502acc99e3fc0.JPG' alt='Монастырский комплекс Матосаванк')

      p Напротив Джухтакванка, на лесистом склоне в 3,5 км западнее Дилижана, находится монастырский комплекс Матосаванк.
      p Комплекс состоит из трех, примыкающих друг к другу небольших сооружений – церкви Св. Богородицы, притвора и книгохранилища.
      p Церковь Св. Богородицы (Сурб Аствацацин) была построена в 1205 г. и представляет собой небольшое сооружение, покрытое сводом. По обе стороны входа сохранились два хачкара. Под стеной церкви, в северной части, находится еще один хачкар, искусно выполненный хачкар, датируемый 1251 г.
      p Сводчатое покрытие имеют также притвор и книгохранилище. Точная дата их основания неизвестна.
      p В настоящее время внутренние стены храма полностью покрыты мхом. Обрушившийся купол отсутствует. За 800 лет своего существования храм настолько слился с окружающей средой, что туристы попросту могут не заметить его.

