.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Монастырский комплекс Гошаванк

      img(src='https://avatars.mds.yandex.net/get-altay/1363250/2a0000016509cde18c7d0fb9cca1fc564346/XXXL' alt='Монастырский комплекс Гошаванк')

      p Средневековый монастырский комплекс Гошаванк – еще один замечательный образец средневековой храмовой архитектуры Армении. Расположен в центре села Гош, в живописном ущелье Тандзут. Комплекс построен на высоком плато, недалеко от слияния рек Агстев и Гетик, и как бы возвышается над ущельем. (гиперссылка на статью село Гош).
      p.italic “Этот ансамбль составляет единое целое с окружающей природой, в чем также выражается творческий гений средневековых зодчих, умевших прекрасно использовать ландшафт местности”- считают авторы книги“Историко-архитектурные памятники Дилижана”.
      p Комплекс основан в XII веке выдающимся армянским мыслителем, философом и правоведом Мхитаром Гошем на месте более древнего, разрушенного землетрясением  1185 г., храма Гетик. Гош назвал его Нор Гетик (Новый Гетик), но после смерти мыслителя монастырь в 1213 г. был переименован в Гошаванк (в переводе – монастырь Гош).
      p Сам Мхитар Гош был похоронен здесь же, близ сооруженного им монастырского комплекса. Завершив строительство церкви и притвора, Гош строит для себя небольшую часовню, рядом с которой, по свидетельствам Киракоса Гандзакеци, и был погребен. Эта небольшая часовня традиционно считается гробницей мыслителя.
      p Монастырский комплекс Гошаванк включает церкви Св. Богородицы (1191—1196 гг.), притвор церкви (1202—1203), церковь Св. Григория (1234 г.), церковь Св. Григоря Просветителя (1237 г.), а также три часовни, колокольни, семинарии и книгохранилище (1241 – 1291 гг).
      p Главной церковью ансамбля является церковь Св. Богородицы (Сурб Аствацацин), построенная в 1191-1196 гг., которая представляет собой типичное крестово-купольное сооружение с алтарной апсидой в восточной части. Церковь сооружена из местного камня, имеющего розовый оттенок.
      p.italic “Снаружи стены церкви гладкие; в южной и восточной стенах имеются небольшие декоративные треугольные ниши. По верхней части барабана проходит широкая полоса, заполненная сложным геометрическим рельефным орнаментом. Роскошно оформленный портал в западной стене связывает церковь с притвором”.
      p Монастырский комплекс Гошаванк был не просто духовным, но и образовательным центром средневековой Армении, настоящим университетом, где обучали философии, богословию, музыке, языкам и другим наукам. Здесь учились и жили видные культурные деятели Армении Ванакан Вардапет и Киракос Гандзакеци.
