.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Монастырский комплекс Агавнаванк

      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Aghavnavank_Monastery_1.jpg/1280px-Aghavnavank_Monastery_1.jpg' alt='Монастырский комплекс Агавнаванк')

      p Монастырский комплекс Агавнаванк находится близ одноименного села, в самом сердце тисовой рощи. (гиперссылка на статью “село Агавнаванк”). До нас дошло мало сведений об этом комплексе. Известно, что он построен приблизительно в XII-XIII вв. и является классическим образцом армянской церковной архитектуры.
      p К сожалению, время не пощадило Агавнаванк. Храм находится на склоне низко расположенных скал и веками подвергался воздействию ветров, его стены поросли мхом, а купол практически разрушен и обрастает зеленью.
      p Церковь представляет собой небольшое центрально-купольное сооружение со сводами, ее отличает желтоватый цвет редкого камня. На западных фасадах ризницы сохранились следы резьбы с характерными для высокого средневековья орнаментом и шрифтом. К югу от храма сохранились руины многих строений, вероятно, бывших келий и хозяйственных сооружений церковного прихода.
      p Агавнаванк переводится с армянского как “голубиный храм”. Уникальный, светлый цвет камня, из которого воздвигнут храм, и окружающий пейзаж действительно создают атмосферу покоя и умиротворения – под стать “голубиному храму”.
      p Церковь находится в тисовой роще –  уникальном лесном массиве Дилижанского национального парка. Некоторым деревьям тисовой рощи около 400 лет. Что уж говорить о монастырском комплексе, который намного старше.

