.page-inner
  .container.page-inner__container
    .page-inner__content

      h1 Монастырский комплекс Джухтакванк

      img(src='https://avatars.mds.yandex.net/get-altay/7725442/2a000001833fb49bd7d9a3f6867cc492f76a/XXXL' alt='Монастырский комплекс Джухтакванк')

      p.italic Этот и последующие монастырские комплексы, о которых мы расскажем ниже, не могут похвастаться такой популярностью среди туристов, как Агарцин или Гошаванк. Но это отнюдь не умаляет их историческую и эстетическую ценность, а, скорее, наоборот – разогревает к ним еще больший туристический и исследовательский интерес. Ведь об этих храмах сохранилось не так много сведений.
      p.italic К сожалению, в настоящее время Джухтакванк и Агавнаванк находятся в полуразрушенном состоянии, а комплекс Матосованк – и вовсе в руинах.
      p Джухтакванк (Джухтак) находится в 3 км западнее Дилижана, на склоне горы, между небольшими притоками реки Агстев.
      p Монастырский комплекс состоится из двух церквей – Св. Богородицы (1201 г.)  и Св. Григория. Именно поэтому в народе комплекс назвали “джухтакаванк”, в переводе – “парный храм”. В некоторых источниках монастырь упоминается как Гишераванк (ночной монастырь).
      p.italic “В надписях, сохранившихся на стенах церквей, приводятся древние названия монастыря – в одной надписи он упоминается как Петроси ванк (храм Петра, прим.ред), в другой – Гишераванк”.
      p Церковь Св. Богородицы (Сурб Аствацацин) является западным сооружением монастырского комплекса. Стены церкви украшены надписями, на одной из них упоминается имя строителя церкви – Саркиса.
      p.italic “Церковь как снаружи, так и изнутри прямоугольная. Без колонн и купола. По своей форме она напоминает однонефную базилику со сводчатым перекрытием и двухскатной крышей над ним, с красивым карнизом. В восточной части имеется алтарь и два небольших хорана с окнами. Пол и крыша покрыты каменными плитами. Единственный вход находится в западной стороне”
      p Церковь Св. Григория находится в 20 м восточнее от церкви Св. Богородицы и представляет собой небольшое центрально-купольное сооружение и выделяется искусной резьбой по камню и барельефами. Вероятно, церковь была построена несколько ранее церкви Св. Богородицы.
      p Недалеко от церкви находятся несколько средневековых хачкаров, украшенных тонкой резьбой. Здесь сохранился также небольшой средневековый могильник.


