.swiper-slide
  a.people-card(href='about-human.html' style="background-image:url('./assets/img/about-people/02.jpg');")
    .people-card__content
      .people-card__name Саркисян Армен Темурович
      .people-card__position Мэр города Дилижан

.swiper-slide
  a.people-card(href='about-human.html' style="background-image:url('https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=7lrLYx-B');")
    .people-card__content
      .people-card__name Константинопольская Константина Константиновна
      .people-card__position Название должности

.swiper-slide
  a.people-card(href='about-human.html' style="background-image:url('./assets/img/about-people/02.jpg');")
    .people-card__content
      .people-card__name Саркисян Армен Темурович
      .people-card__position Мэр города Дилижан

.swiper-slide
  a.people-card(href='about-human.html' style="background-image:url('https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=7lrLYx-B');")
    .people-card__content
      .people-card__name Константинопольская Константина Константиновна
      .people-card__position Название должности
