.swiper-slide
  a.people-card2(href='')
    .people-card__wrapper
      .people-card__image-wrapper
        img(src='./assets/img/about-people/01.jpg' alt='photo')
      .people-card__content
        p.people-card__name Сукиасян Варужан Гарсеванович
        p.people-card__position Футболист и чемпион Армении

.swiper-slide
  a.people-card2(href='')
    .people-card__wrapper
      .people-card__image-wrapper
        img(src='./assets/img/about-people/02.jpg' alt='photo')
      .people-card__content
        p.people-card__name Саркисян Армен Темурович
        p.people-card__position Мэр города Дилижан


.swiper-slide
  a.people-card2(href='')
    .people-card__wrapper
      .people-card__image-wrapper
        img(src='./assets/img/about-people/03.jpg' alt='photo')
      .people-card__content
        p.people-card__name Сукиасян Варужан Гарсеванович
        p.people-card__position Футболист и чемпион Армении

.swiper-slide
  a.people-card2(href='')
    .people-card__wrapper
      .people-card__image-wrapper
        img(src='./assets/img/about-people/04.jpg' alt='photo')
      .people-card__content
        p.people-card__name Саркисян Армен Темурович
        p.people-card__position Мэр города Дилижан
