.swiper-slide
  a.people-card(href='zhirayr-avanyan.html' style="background-image:url('https://sun9-46.userapi.com/impg/K9UuUMDZ9wWa5T4cGR9z46hO_Y2WEGEGUQsUOA/3bpJDzyROGQ.jpg?size=1080x1350&quality=95&sign=bc4b086112b86720881a25804976123c&type=album');")
    .people-card__content
      .people-card__name Жирайр Аванян
      .people-card__position Основатель сети ресторанов Dolmama, владелец ImToon Dilijan.

.swiper-slide
  a.people-card(href='inna-asryan.html' style="background-image:url('https://sun9-63.userapi.com/impg/KYoC4_rVxuO6IWDf1UqQX6cN59ADb8o0WANRLg/tPAxUiOwRVQ.jpg?size=1080x1350&quality=95&sign=e91d6f5e97f9e9314fc225417fc42ae2&type=album');")
    .people-card__content
      .people-card__name Инна Асрян
      .people-card__position Основательница Darchin pastry and cafe

.swiper-slide
  a.people-card(href='arman-badeyan.html' style="background-image:url('https://sun9-41.userapi.com/impg/K1QSO05gJrJ6MOJaFDyclHnRy7lvKm1s39pI5Q/NLipTHtWeHg.jpg?size=1080x1080&quality=96&sign=b379e314e0f2268b4274a1117595c0c1&c_uniq_tag=_5eIxJNZbPqFyT-BdUfASNdkXgQIqd4ByfeECa731Ng&type=album');")
    .people-card__content
      .people-card__name Арман Бадеян
      .people-card__position Художник, основатель мастерской и ювелирного бренда BuduArt

.swiper-slide
  a.people-card(href='varda-avetisyan.html' style="background-image:url('https://avatars.dzeninfra.ru/get-zen_doc/2420191/pub_5eba9782cf3f022fdb270e33_5eba97a034fef71215127365/scale_2400');")
    .people-card__content
      .people-card__name Варда Аветисян
      .people-card__position Основательница VARDO Group LLC

.swiper-slide
  a.people-card(href='ani-harutyunyan.html' style="background-image:url('https://sun9-81.userapi.com/impg/xC6XHScyyKLVwn-0oaOl-p7vFrpAlE8zd0SBKg/oMRZXVzXkU4.jpg?size=1080x1350&quality=95&sign=70b382dbc858dcab955278aa1e6996c7&type=album');")
    .people-card__content
      .people-card__name Ани Арутюнян
      .people-card__position Основатель проектов Caffeine Coffee Roasters, Arm food lab и Ootelie
