.other-places
  .container.other-places__container
    .other-places__header
      h2 Смотреть другие места
      .other-places__nav
        //include ../../_items/arrow-nav/arrow-nav
        .arrow-nav
          svg.arrow-nav__prev.other-places__prev(width="32" height="29" fill="#565654" stroke="#565654" opacity="0.35")
            use(href='./assets/img/sprite.svg#arrow-nav-prev')
          svg.arrow-nav__next.other-places__next(width="32" height="29" fill="#565654" stroke="#565654" opacity="0.35")
            use(href='./assets/img/sprite.svg#arrow-nav-next')

    .other-places__list
      .swiper-wrapper
        include ../../_items/other-places-card/other-places-card
        include ../../_items/other-places-card/other-places-card

      .swiper-pagination


