.other-places
  .container.other-places__container
    .other-places__header
      h2 Смотреть другие места
      .other-places__nav
        .arrow-nav
          svg.arrow-nav__prev.other-places__prev
            use(href='./assets/img/sprite.svg#arrow-nav-prev')
          svg.arrow-nav__next.other-places__next
            use(href='./assets/img/sprite.svg#arrow-nav-next')

    .other-places__list
      .swiper-wrapper
        include ../../_items/other-places-card/other-places-card
        include ../../_items/other-places-card/other-places-card

      .swiper-pagination


