.other-places
  .container.other-places__container
    .other-places__header
      h2 Смотреть другие места
      .other-places__nav
        include ../../_items/arrow-nav/arrow-nav

    .other-places__list
      .swiper-wrapper
        include ../../_items/other-places-card/other-places-card
        include ../../_items/other-places-card/other-places-card

      .swiper-pagination


