.blog-hero
  .container
    a(href="/").blog-hero__container.grid
      .blog-hero__image
        img(src="./assets/img/06.jpeg" alt="")
      .blog-hero__text-content
        p.blog-hero__date.date
          svg(width="20" height="20" fill='#8CB110')
            use(href='./assets/img/sprite.svg#icon-date')
          | 14 февраля 2022
        h2.blog-hero__title Фестиваль красного вина
        p.blog-hero__text Гастрономическая ярмарка, где каждый посетитель сможет попробовать национальные блюда различных регионов Армении. Это настоящий праздник для каждого ценителя вкусной еды и приятный способ познакомиться со страной поближе. В городском парке Дилижана завершился крупный гастрономический фестиваль в Армении GASTROFEST.
        p.blog-hero__text В городском парке Дилижана завершился крупный гастрономический фестиваль в Армении GASTROFEST.




