.history.new
  .container.history__container
    h2.history__title История Дилижана
    .history__nav
      .history__arrows
        include ../_items/arrow-nav/arrow-nav
      .history-years-line__items
        span.history-years-line__item 1825
        span.js-history-active.history-years-line__item 1826
        span.history-years-line__item 1836
        span.history-years-line__item 1912
        span.history-years-line__item 1912

    .history__info-item.history-info-item
      .history__image-wrapper
        img(src='./assets/img/history/01.jpg' alt='img')
      .history-info__content
        h3.history-info__title Title 1
        p.history-info__text Text 1
        a.history-info__link(href='history.html')
          | Подробнее
          svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
            use(href='./assets/img/sprite.svg#arrow-link')

    .js-history-active.history__info-item.history-info-item
      .history__image-wrapper
        img(src='./assets/img/history/02.jpg' alt='img')
      .history-info__content
        h3.history-info__title Курортный город Дилижан
        p.history-info__text Статус города Дилижан получил в 1938 году. Название Дилижан упоминается в сравнительно недавних источниках, однако происхождение слова окончательно еще не ясна. Согласно народной этимологии, “Дили джан” означает “сладкий язык”.
        a.history-info__link(href='history.html')
          | Подробнее
          svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
            use(href='./assets/img/sprite.svg#arrow-link')

    .history__info-item.history-info-item
      .history__image-wrapper
        img(src='./assets/img/history/03.jpg' alt='img')
      .history-info__content
        h3.history-info__title Title 3
        p.history-info__text Text 3
        a.history-info__link(href='history.html')
          | Подробнее
          svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
            use(href='./assets/img/sprite.svg#arrow-link')

    .history__info-item.history-info-item
      .history__image-wrapper
        img(src='./assets/img/history/01.jpg' alt='img')
      .history-info__content
        h3.history-info__title Title 4
        p.history-info__text Text 4
        a.history-info__link(href='history.html')
          | Подробнее
          svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
            use(href='./assets/img/sprite.svg#arrow-link')

    .history__info-item.history-info-item
      .history__image-wrapper
        img(src='./assets/img/history/02.jpg' alt='img')
      .history-info__content
        h3.history-info__title Title 5
        p.history-info__text Text 5
        a.history-info__link(href='history.html')
          | Подробнее
          svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
            use(href='./assets/img/sprite.svg#arrow-link')
