.history
  user-select: none
  .container
    max-width: 1600px
    padding: 0 160px
    box-sizing: content-box
  &__title
    font-size: 60px
    font-weight: 500

  &__arrows
    display: flex
    justify-content: flex-end
    padding-right: 85px
    margin-bottom: 40px

  &-years-line
    display: flex
    justify-content: space-between
    height: 2px
    padding: 0 85px
    background: repeating-linear-gradient(to right,#D8DAD1 0,#D8DAD1 8px,transparent 8px,transparent 12px)

  &-years-line__item
    position: relative
    margin-top: 30px
    font-size: 60px
    color: #D8DAD1
    cursor: pointer

    &.js-history-active
      color: #8CB110
    &::before
      position: absolute
      content: ""
      width: 15px
      height: 15px
      border-radius: 50%
      background-color: currentColor
      top: -30px
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      transform: translateY(-50%)
      transition: $transition

    &.js-history-active::before,
    &:hover::before
      border: 4px solid currentColor
      background-color: #fff

  &-info-item
    display: none
    grid-template-columns: repeat(12, 1fr)
    grid-gap: 20px
    margin-top: 170px
    &.js-history-active
      display: grid

  &__image-wrapper
    grid-column: span 4
    overflow: hidden
    border-radius: 16px
    filter: saturate(0%)
    img
      width: 100%
      height: 100%
      object-fit: cover

  &-info__content
    grid-column: 5 / span 6
    padding-left: 30px

  &-info__title
    font-size: 30px
    font-weight: 500

  &-info__text
    font-size: 18px
  &-info__link
    color: #8CB110
    font-size: 14px
    text-transform: uppercase
