.container.container_style_green
  .history
    .history__container
      h2.history__title History of Dilijan
      .history__nav
        .history__arrows
          include ../_items/arrow-nav/arrow-nav
        .history-years-line__items
          span.history-years-line__item.js-history-active III-I BC
          span.history-years-line__item I–IV AD
          span.history-years-line__item X-XII AD
          span.history-years-line__item 1672
          span.history-years-line__item 1958
          span.history-years-line__item 1991

      .history__info-item.history-info-item.js-history-active
        .history__image-wrapper
          img(src='/assets/img/history/history_01.jpg' alt='Prehistoric Period')
        .history-info__content
          h3.history-info__title Prehistoric Period
          p.history-info__text The first settlements in the territory of modern Dilijan appeared in the III-I millennium BC, as evidenced by the unique artifacts of the Bronze and Iron Ages, discovered during serious archaeological excavations. The settlements were distinguished by a high level of development in agriculture, animal breeding, and traditional crafts (the manufacture of pottery, weapons, jewelry, and household items)
          a.history-info__link(href='/en/about/history.html')
            | Read more
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='/assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='/assets/img/history/history_02.jpg' alt='Hovk. Summer residence of Armenian kings')
        .history-info__content
          h3.history-info__title Hovk. Summer residence of Armenian kings
          p.history-info__text During the reign of the Armenian royal dynasty of Arshakuni, the territory of modern Dilijan and its environs were the royal residence and hunting ground. The territory along the Aghstev River was known as Kaenadzor, and Dilijan itself was Hovk
          a.history-info__link(href='/en/about/history.html')
            | Read more
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='/assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='/assets/img/history/history_03.jpg' alt='High Middle Ages')
        .history-info__content
          h3.history-info__title High Middle Ages
          p.history-info__text In the era of the High Middle Ages, the territory of modern Dilijan was part of the Tashir-Dzoraget kingdom. It was marked by an unprecedented development of culture in Armenia. The medieval architectural sights of the region belong to this period. The monastic complexes of Goshavank, Haghartsin, Aghavnavaknk, numerous khachkars, and fortresses
          a.history-info__link(href='/en/about/history.html')
            | Read more
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='/assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='/assets/img/history/history_04.jpg' alt='The first reference to the toponym “Dilijan”')
        .history-info__content
          h3.history-info__title The first reference to the toponym “Dilijan”
          p.history-info__text The name "Dilijan" was first mentioned in written records of the travel notes of the French traveler Jean Chardin in 1672 in the XVII century. Dilijan was also mentioned in one of the letters of A.S. Griboyedov, who was describing his journey from Tiflis to Erivan and wrote about his overnight stay in Dilijan on February 2, 1819
          a.history-info__link(href='/en/about/history.html')
            | Read more
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='/assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='/assets/img/history/history_05.jpg' alt='Dilijan receives the status of a resort city')
        .history-info__content
          h3.history-info__title Dilijan receives the status of a resort city
          p.history-info__text In 1938 Dilijan received the status of an urban settlement, and in 1958 Dilijan finally officially received the status of a resort city of republican subordination
          a.history-info__link(href='/en/about/history.html')
            | Read more
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='/assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='/assets/img/history/history_06.jpg' alt='The development of modern Dilijan')
        .history-info__content
          h3.history-info__title The development of modern Dilijan
          p.history-info__text Modern Dilijan is one of the most touristic cities of the independent Republic of Armenia. At the moment, the city claims to become not only a touristic but also a financial, technological, and educational hub in the region. On our website, you can find out about the evolution and development of modern Dilijan
          a.history-info__link(href='/en/about/history.html')
            | Read more
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='/assets/img/sprite.svg#arrow-link')
