.container.container_style_green
  .history
    .history__container
      h2.history__title История Дилижана
      .history__nav
        .history__arrows
          include ../_items/arrow-nav/arrow-nav
        .history-years-line__items
          span.history-years-line__item.js-history-active III-I вв. <br> до н.э.
          span.history-years-line__item I–IV вв. н.э.
          span.history-years-line__item X-XII вв. н.э.
          span.history-years-line__item 1672&nbsp;г.
          span.history-years-line__item 1958&nbsp;г.
          span.history-years-line__item 1991&nbsp;г.

      .history__info-item.history-info-item.js-history-active
        .history__image-wrapper
          img(src='./assets/img/history/01.jpg' alt='img')
        .history-info__content
          h3.history-info__title Доисторический период
          p.history-info__text Первые поселения на территориях современного Дилижана появились в III - I вв. до н.э. , о чем свидетельствуют уникальные артефакты бронзового и железного века, обнаруженные в ходе серьезных археологических раскопок. Поселения отличались высоким уровнем развития земледелия, скотоводства и традиционных ремесел (изготовление посуды, оружия, украшений, предметов быта).
          a.history-info__link(href='history.html')
            | Подробнее
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='./assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='./assets/img/history/02.jpg' alt='img')
        .history-info__content
          h3.history-info__title Овк. Летняя резиденция армянских царей
          p.history-info__text В эпоху правления армянской царской династии Аршакуни территории современного Дилижана и его окрестностей были царской резиденцией и охотничьим угодьем. Территории вдоль реки Агстев называлась Каенадзор, а сам Дилижан – Овк.
          a.history-info__link(href='history.html')
            | Подробнее
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='./assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='./assets/img/history/03.jpg' alt='img')
        .history-info__content
          h3.history-info__title Высокое средневековье
          p.history-info__text В эпоху высокого средневековья территории современного Дилижана были частью Ташир-Дзорагетского царства. В Армении отмечается беспрецедентное развитие культуры. Именно к этому периоду относятся средневековые архитектурные достопримечательности региона – монастырские комплексы  Гошаванк, Агарцин, Агавнавакнк, многочисленные хачкары и крепости.
          a.history-info__link(href='history.html')
            | Подробнее
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='./assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='./assets/img/history/04.jpg' alt='img')
        .history-info__content
          h3.history-info__title Первое упоминание топонима «Дилижан»
          p.history-info__text В письменных источниках название «Дилижан» впервые упоминается в 1672 г. XVII в. в путевых заметках французского путешественника Жана Шардена. Дилижан упоминался также в одном из писем А.С. Грибоедова, который, описывая свое путешествие из Тифлиса в Эривань, сообщает о своем ночлеге в Дилижане 2 февраля 1819 г.
          a.history-info__link(href='history.html')
            | Подробнее
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='./assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='./assets/img/history/05.jpg' alt='img')
        .history-info__content
          h3.history-info__title Дилижан получает статус города-курорта
          p.history-info__text В 1938 г. Дилижан получает статус городского поселения, а в 1958 г. Дилижан, наконец, официально получает статус города-курорта республиканского подчинения.
          a.history-info__link(href='history.html')
            | Подробнее
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='./assets/img/sprite.svg#arrow-link')

      .history__info-item.history-info-item
        .history__image-wrapper
          img(src='./assets/img/history/06.jpg' alt='img')
        .history-info__content
          h3.history-info__title Развитие современного Дилижана
          p.history-info__text Современный Дилижан – один из самых туристических городов независимой Республики Армения. На данный момент город претендует стать не только туристическим, но и финансовым, технологическим и образовательным хабом в регионе. А на нашем сайте вы узнаете, чем дышит и как развивается современный Дилижане.
          a.history-info__link(href='history.html')
            | Подробнее
            svg(width='14' height='14' fill='#8CB110' stroke='#8CB110')
              use(href='./assets/img/sprite.svg#arrow-link')
