.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Агавнаванк: на лоне величественной природы Тавушской области

      img(src='./assets/img/about/about-1.jpg' alt='img')




      .page-inner__info
        ul
          li Население – 337 чел
          li Расстояние от Дилижана – 26 км
          li Высота над уровнем моря – 1 100 м
          li Климат умеренный, мягкий

          li Средняя температура:
            ul
              li летом +19°С
              li зимой -3°С

          li Дата основания: точная 1950 г.


      p Агавнаванк – село в Тавушской области, расположенное по обе стороны реки Гетик. Крохотное, но невероятно живописное село, которое отличается контрастным горным ландшафтом: Агавнаванк практически со всех сторон окружен величественными скалами и горными хребтами.
      p Средневековая церковь Агавнаванк, старинные хачкары и другие историко-культурные памятники свидетельствуют о том, что эту местность армяне заселили около 900 лет назад – еще до монгольских нашествий.
      p На сегодняшний день одной из главнейших рекреационных  достопримечательностей Агавнаванка является Тисовая роща. Здесь можно почувствовать единение с величественной, контрастной, но в то же время живописной и мягкой природой Дилижанского национального парка.
      p Через Тисовую рощу проходит маршрут до средневекового храма XII века Агавнаванк. Это еще одна, затаившаяся в лесной чаще архитектурная и историко-культурная достопримечательность Тавушской области.


      p Основные отрасли агрокультуры и занятости населения:
        ul
          li животноводство,
          li выращиванием зерновых культур,
          li выращивание картофеля,
          li выращивание кормовых культур.

      p В 2 км к северо-востоку от села расположен купольный монастырь XI-XII вв. Анапат, а в 10 км к северу – руины средневекового поселения XIV-XVII вв. Агавнут.


      .page-inner__info
        p Что посмотреть?
        ul
          li Тисовая роща
          li Монастырь Агавнаванк
          li Производство фруктовых водок Дильвадос


    //.fixed-nav
    //  ul
    //    li
    //      a(href="") Title
    //    li
    //      a(href="") Title


