.page-inner
  .container.page-inner__container
    .page-inner__content
      h1 Техут: на перекрестке Дилижана и Иджевана

      img(src='https://www.info9.ge/images/stories/1280px-mtkvari-aragviconfluenceatmtskheta.jpg' alt='Техут')

      .page-inner__info
        ul
          li Население – 1583 чел (2015)
          li Расстояние от Дилижана – 8 км
          li Высота над уровнем моря – 1 150 м
          li Климат умеренный, мягкий

          li Средняя температура:
            ul
              li летом +19, +25°С
              li зимой -2, -7°С

          li Дата основания – 1925 г (как район Джархеча)
          li 1993 г. (как самостоятельный населенный пункт)


      p Техут – небольшое село в Тавушской области в нескольких километрах на северо-восток от Дилижана, расположенное на левом берегу реки Агстев. Село находится в непосредственной близости от главной дороги, связывающей Дилижан с административным центром Тавушской области – городом Иджеван.
      p Недалеко от села, в живописной лесной зоне, находится озеро Парз – один из важнейших природных памятников Тавушской области.
      p Техутская община была основана в 1925 г. и считалась одним из районов  села Джархеч (ныне Агарцин), а 5 ноября 1993 г. Техут стал самостоятельным населенным пунктом.



      p Основные отрасли агрокультуры и занятости населения:
        ul
          li скотоводство,
          li разведение полевых растений,
          li овощеводство

      p На территории современного Техута были обнаружены артефакты бронзового века и армянское кладбище, история которого насчитывает 6 000 лет. В 5 км к северу от села на территории «Чери Гхер» находятся два межевых камня армянского царя Арташеса I с письменами, высеченными на арамейском языке.



      .page-inner__info
        p Что поблизости?
        ul
          li озеро Парз,
          li монастырский комплекс Агарцин,
          li монастырь Джухтак (Джухтакаванк)
          li пограничные камни времен царя Арташеса 1

      p.italic Не перепутайте! В соседней Лорийское области есть одноименное село Техут



    //.fixed-nav
    //  ul
    //    li
    //      a(href="") Title
    //    li
    //      a(href="") Title


