.container.container_style_green
  .about-project
    .about-project__container
      .about-project__text-content
        include ../_items/title-text/title-text-about-project

      .tours
        .tours__list
          .swiper-wrapper
            include ../_items/tour-card/tour-card-w-content

          .swiper-pagination
