.about-project
  img.about-project__decor-top(src='/assets/img/decor-bg-top.svg' alt='img')
  .container.about-project__container
    .about-project__text-content
      include ../_items/title-text/title-text
    .about-project__images
      .about-project__images-wrapper
        img.about-project__image(src='/assets/img/about/about-1.jpg' alt='img')
        .about-project__icons
          img(src='./assets/img/icon-card-decor.svg' alt='icon')
        p Для большой компании
      .about-project__images-wrapper
        img.about-project__image(src='/assets/img/about/about-2.jpg' alt='img')
        .about-project__icons
          img(src='./assets/img/icon-card-decor-02.svg' alt='icon')
        p Для частных поездок
  img.about-project__decor-bottom(src='/assets/img/decor-bg-bottom.svg' alt='img')
