.about-project
  .container
    .about-project__text-content
      include ../_items/title-text/title-text
    .about-project__images
      .about-project__images-wrapper.about-project__images-wrapper-1
        img.about-project__image(src='/assets/img/about/about-1.jpg' alt='')
        p Для большой компании
      .about-project__images-wrapper.about-project__images-wrapper-2
        img.about-project__image(src='/assets/img/about/about-2.jpg' alt='')
        p Для частных поездок
