.article-grid
  .container
    h1 Где поесть

    ul.article-grid__list

      li.article-grid__card
        a.article-grid__card-link(href="kchuch.html" style="background-image: url('https://only2weeks.ru/wp-content/uploads/2018/06/gde-poest-v-diligane_4.jpg');")
          .article-grid__card-content
            h2.article-grid__card-title Ресторан Kchuch
            span.article-grid__card-subtitle Тепло домашнего очага и возрождение традиций


      li.article-grid__card
        a.article-grid__card-link(href="tava.html" style="background-image: url('https://avatars.mds.yandex.net/get-altay/5098556/2a00000181ddcd82b85c5d4149f3103cc7a9/XXXL');")
          .article-grid__card-content
            h2.article-grid__card-title Ресторан TAVA
            span.article-grid__card-subtitle Все оттенки Дилижана в одном ресторане



      li.article-grid__card
        a.article-grid__card-link(href="papanino-house.html" style="background-image: url('https://avatars.mds.yandex.net/get-altay/5538812/2a000001847711e89dc082d9cdf0eec7620b/XXXL');")
          .article-grid__card-content
            h2.article-grid__card-title Papanino House
            span.article-grid__card-subtitle Винный ресторан в старинном квартале Дилижана


      li.article-grid__card
        a.article-grid__card-link(href="cafe№2.html" style="background-image: url('https://avatars.mds.yandex.net/get-altay/5457654/2a0000017cc6d21ae842ffbc86ddd297c209/XXXL');")
          .article-grid__card-content
            h2.article-grid__card-title Café #2
            span.article-grid__card-subtitle Городское кафе в самом сердце города



      li.article-grid__card
        a.article-grid__card-link(href="im-toon-dilijan.html" style="background-image: url('http://img.tourister.ru/files/2/4/6/3/1/6/6/5/original.jpg');")
          .article-grid__card-content
            h2.article-grid__card-title Im toon Dilijan
            span.article-grid__card-subtitle Для истинных ценителей красоты и спокойствия


      li.article-grid__card
        a.article-grid__card-link(href="toon-armeni-guest-house.html" style="background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/363935543.jpg?k=d45f0a0fbcf69622b38f1f1aad84061bf9a8cb89f47efd8809d4eedf9deae22d&o=&hp=1');")
          .article-grid__card-content
            h2.article-grid__card-title Toon Armeni Guest house
            span.article-grid__card-subtitle Домашний уют и функциональность


      li.article-grid__card
        a.article-grid__card-link(href="darchin-pastry-and-cafe.html" style="background-image: url('https://avatars.mds.yandex.net/get-altay/5476645/2a0000017d6b5ed08dd200a4ecd98ef5761e/XXL');")
          .article-grid__card-content
            h2.article-grid__card-title Darchin pastry and cafe
            span.article-grid__card-subtitle Эксклюзивные десерты в дружелюбной атмосфере


      li.article-grid__card
        a.article-grid__card-link(href="carahunge-café-and-more.html" style="background-image: url('https://avatars.mds.yandex.net/get-altay/1696029/2a0000016d361e2e63269fdec78bf1592696/XXXL');")
          .article-grid__card-content
            h2.article-grid__card-title Carahunge Café and More
            span.article-grid__card-subtitle По следам армянского Стоунхенджа



      li.article-grid__card
        a.article-grid__card-link(href="sovats-vozni-cafe.html" style="background-image: url('https://avatars.mds.yandex.net/get-altay/7979184/2a000001844c46a7525c291b8f2667170863/XXXL');")
          .article-grid__card-content
            h2.article-grid__card-title Sovats Vozni cafe & garden
            span.article-grid__card-subtitle По следам армянского Стоунхенджа


      li.article-grid__card
        a.article-grid__card-link(href="dilijazz-hotel-&-restaurant.html" style="background-image: url('https://avatars.mds.yandex.net/get-altay/4544819/2a000001793a0034bb87d7c3f2c393d68a2a/XXXL');")
          .article-grid__card-content
            h2.article-grid__card-title DiliJazz Hotel & Restaurant
            span.article-grid__card-subtitle В окружении гор и джаза
