.article-grid
  .container
    h1 О людях
    ul.article-grid__list

      li
        a.article-grid__card-link(href='zhirayr-avanyan.html' style="background-image:url('https://sun9-46.userapi.com/impg/K9UuUMDZ9wWa5T4cGR9z46hO_Y2WEGEGUQsUOA/3bpJDzyROGQ.jpg?size=1080x1350&quality=95&sign=bc4b086112b86720881a25804976123c&type=album');")
          .article-grid__card-content
            h2.article-grid__card-title Жирайр Аванян
            span.article-grid__card-subtitle Основатель сети ресторанов Dolmama, владелец ImToon Dilijan.

      li
        a.article-grid__card-link(href='inna-asryan.html' style="background-image:url('https://sun9-63.userapi.com/impg/KYoC4_rVxuO6IWDf1UqQX6cN59ADb8o0WANRLg/tPAxUiOwRVQ.jpg?size=1080x1350&quality=95&sign=e91d6f5e97f9e9314fc225417fc42ae2&type=album');")
          .article-grid__card-content
            h2.article-grid__card-title Инна Асрян
            span.article-grid__card-subtitle Основательница Darchin pastry and cafe

      li
        a.article-grid__card-link(href='arman-badeyan.html' style="background-image:url('https://sun9-41.userapi.com/impg/K1QSO05gJrJ6MOJaFDyclHnRy7lvKm1s39pI5Q/NLipTHtWeHg.jpg?size=1080x1080&quality=96&sign=b379e314e0f2268b4274a1117595c0c1&c_uniq_tag=_5eIxJNZbPqFyT-BdUfASNdkXgQIqd4ByfeECa731Ng&type=album');")
          .article-grid__card-content
            h2.article-grid__card-title Арман Бадеян
            span.article-grid__card-subtitle Художник, основатель мастерской и ювелирного бренда BuduArt

      li
        a.article-grid__card-link(href='varda-avetisyan.html' style="background-image:url('https://avatars.dzeninfra.ru/get-zen_doc/2420191/pub_5eba9782cf3f022fdb270e33_5eba97a034fef71215127365/scale_2400');")
          .article-grid__card-content
            h2.article-grid__card-title Варда Аветисян
            span.article-grid__card-subtitle Основательница VARDO Group LLC

      li
        a.article-grid__card-link(href='ani-harutyunyan.html' style="background-image:url('https://sun9-81.userapi.com/impg/xC6XHScyyKLVwn-0oaOl-p7vFrpAlE8zd0SBKg/oMRZXVzXkU4.jpg?size=1080x1350&quality=95&sign=70b382dbc858dcab955278aa1e6996c7&type=album');")
          .article-grid__card-content
            h2.article-grid__card-title Ани Арутюнян
            span.article-grid__card-subtitle Основатель проектов Caffeine Coffee Roasters, Arm food lab и Ootelie

