.people

  &__title
    text-align: center
    @include fontSize(30, 60)
    margin-bottom: clamp(34px, calc(34px + (50 - 34) * ((100vw - 768px) / (1920 - 768))), 50px)
    font-weight: 500
    letter-spacing: 0.08em

  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 20px
    padding-bottom: 60px
    @media (max-width: 1500px)
      grid-template-columns: repeat(3, 1fr)
    @media (max-width: 768px)
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 480px)
      grid-template-columns: 1fr
