.people
  .container
    h1.people__title О людях
    ul.people__list

      .people__item
        a.people-card(href='about-human.html')
          .people-card__wrapper
            .people-card__image-wrapper
              img(src='./assets/img/about-people/01.jpg' alt='photo')
            .people-card__content
              p.people-card__name Сукиасян Варужан Гарсеванович
              p.people-card__position Футболист и чемпион Армении

      .people__item
        a.people-card(href='about-human.html')
          .people-card__wrapper
            .people-card__image-wrapper
              img(src='./assets/img/about-people/02.jpg' alt='photo')
            .people-card__content
              p.people-card__name Саркисян Армен Темурович
              p.people-card__position Мэр города Дилижан


      .people__item
        a.people-card(href='about-human.html')
          .people-card__wrapper
            .people-card__image-wrapper
              img(src='./assets/img/about-people/03.jpg' alt='photo')
            .people-card__content
              p.people-card__name Сукиасян Варужан Гарсеванович
              p.people-card__position Футболист и чемпион Армении

      .people__item
        a.people-card(href='about-human.html')
          .people-card__wrapper
            .people-card__image-wrapper
              img(src='./assets/img/about-people/04.jpg' alt='photo')
            .people-card__content
              p.people-card__name Саркисян Армен Темурович
              p.people-card__position Мэр города Дилижан


      .people__item
        a.people-card(href='about-human.html')
          .people-card__wrapper
            .people-card__image-wrapper
              img(src='./assets/img/about-people/02.jpg' alt='photo')
            .people-card__content
              p.people-card__name Саркисян Армен Темурович
              p.people-card__position Мэр города Дилижан


      .people__item
        a.people-card(href='about-human.html')
          .people-card__wrapper
            .people-card__image-wrapper
              img(src='./assets/img/about-people/03.jpg' alt='photo')
            .people-card__content
              p.people-card__name Сукиасян Варужан Гарсеванович
              p.people-card__position Футболист и чемпион Армении
