.blog-header.container
  h1.blog-header__title Блог
  .blog-header__nav
    .blog-active.blog-header__nav-item Все
      svg(width='12' height='11' fill='#fff')
        use(href='./assets/img/sprite.svg#cross')
    .blog-header__nav-item Статьи
    .blog-header__nav-item Новости
