.title-text
  h2 О городе
  p Город Дилижан и его окрестности богаты природными и историко-культурными достопримечательностями, что дает возможность совместить пассивный отдых в санаториях с экскурсиями и пешими походами. Здесь также находится Дилижанский национальный парк, который выделяется богатым и уникальным биоразнообразием.
  p Среди множества отелей и домов отдыха, особой оценки туристов удостоились санаторий “Дилижан Резорт” и “Старый Дилижан” из сети отелей Туфенкян, а также множество семейный гостевых домов, гостиниц и жилья. Отели Дилижана предлагают свои услуги как бизнесменам, так и туристам.
