.title-text
  h2 Dilijan is a city that changes your worldview
  p Welcome to Dilijan! It’s a small Armenian city surrounded by scrubby forests and majestic mountains with snow-capped peaks, covered with a mysterious veil of fog. Welcome to a city that will surprise you with its narrow medieval streets, rich history dating back to the Bronze Age, traditional crafts, art, delicious cuisine to suit any taste, colorful and fashionable establishments, and, of course, well-known Armenian hospitality.
  p A city that has a lot to say and surprise, a place where you want to return to over and over again. A city that changes your worldview!
