.promo-discount#promo
  a.promo-discount__link(href="/") Путешествуй по Дилижану со скидкой -20%
  span.promo-discount__close
    svg(fill="#fff" width="9" height="9")
      use(href='./assets/img/sprite.svg#cross')
